///convention: btn is the naming for regular buttons, to avoid conffusion with Buttons the posts of the app.
$btn-with-icon-icon-width: 40px;
$btn-with-icon-small-icon-width: 18px;
$btn-filter-with-icon-icon-width: 18px;
$btn-filter-border: 1px;
$btn-background: $color-white;
$btn-padding: $padding-medium;
$btn-padding-y: $padding-medium;
$btn-padding-x: $padding-big;
$btn-filter-height: 35px;
$btn-small-padding: rem(14px);
$btn-filter-margin: rem(10px);
$btn-filter-height: rem(20px);
$btn-hashtag-close-height: rem(13px);
$btn-hashtag-close-margin: rem(7px);
$btn-filter-icon-margin: $margin-extra-small;
$btn-hashtag-bottom: rem(8px);
$btn-hashtag-right-padding: rem(8px);
$btn-hashtag-erase-height: rem(14px);
$-border-height: $border-general-height;
$btn-height: 58px; //Revise: pasar a REM
$btn-border-radius: $border-radius-semicircle;
$btn-padding-big: $padding-big;
$btn-max-height: 60px;
$btn-height: 54px;
$btn-border-radius-semicircle: $border-radius-semicircle;
$btn-font-size-medium: $font-size-medium;


//btn style used at the endd of poopups and menuselects
.btn-menu-white {

  background: transparent;
  border: none;
  cursor: pointer;
  color: $color-black;
  padding: $btn-padding-big 0rem;
  height: auto;
  width: 100%;
  border-top: 1px solid $color-gray-border;
  border-right: 1px solid $color-gray-border;

  &:last-child {

    border-right: none;

  }

  &:hover {//REVISE MENUSELECT__OPTIONS-BTN YA TIENE ESTE HOVER SERIA BUENO DEBATIR, LO AGREGUE AQUI PORQUE ME PARECE MAS UN ESTILOS DEL BOTON, PERO SE PUEDE CREAR UN HOVER EN GENERAL CON ESTOS ESTILOS QUE SE COMPARTAN

    fill: $color-corporative;
    border-color: $color-black;
    color: $color-white;
    cursor: pointer;
    background-color: $color-black;

  }

}


.btn {

  @extend .btn-menu-white;
  border: 1px solid $color-gray-border;

  &:last-child {

    border-right: 1px solid $color-gray-border;

  }

}



//BOTONES sencillos de filtro redondos con fondo blanco que sirve de base a hashtags y checkbox,
//TIENEN version con icon a la izquierda y versión con cruz para borrar

.btn-filter {//se usa

  padding: $btn-padding-y $btn-padding-x !important;
  width: auto !important;
  background-color: $color-white;
  font-size: $btn-font-size-medium !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 35px !important;
  line-height: 0rem !important;
  border: $btn-filter-border solid $color-gray !important;
  border-radius: $btn-border-radius !important;
  text-decoration: none;
  text-align: center !important;
  margin: 0 $margin-exxtra-small !important;

  a {

    height: $btn-with-icon-small-icon-width;
    width: $btn-with-icon-small-icon-width;

  }

  & svg {

    height: $btn-with-icon-small-icon-width;
    width: $btn-with-icon-small-icon-width;
    padding-left: $padding-extra-small;

  }

  &:hover {

    cursor: pointer;
    background: $color-gray !important;
    color: $color-white !important;

    & svg {

      fill: $color-white;

    }

  }

  &:empty {

    // height: 1.25rem;
    // line-height: 2.25rem;

  }

  //to hide Default eember open icon, don't add span tag on this btn filters since they will be hidden
  & span:last-child  {

     display: none !important;
     content: none !important;

  }

  & span {

     margin: 0;

  }

}

.btn-filter-with-icon {//se usa

  @extend .btn-filter;
  padding-left: $padding-medium !important;

}

//SIZE AND PLACEMENT ICON INSIDE btn FILTER
.btn-filter__icon {//se usa

  width: $btn-filter-with-icon-icon-width;
  height: $btn-filter-with-icon-icon-width;
  margin-right: $btn-filter-icon-margin;

  //GREEN CIRCLE OFFER
  &.green {

    border-radius: $btn-border-radius-semicircle;
    background: $color-green;

  }

  //RED CIRCLE NEED
  &.red {

    border-radius: $btn-border-radius-semicircle;
    background: $color-red;

  }

}

//CURCLE ICON SPLIT IN TWO HALFS CIRCLE FOR EXCHANGE SYMBOL
.btn-filter__split-icon {//se usa

  width: $btn-filter-with-icon-icon-width;
  height: $btn-filter-with-icon-icon-width;
  border-radius: $btn-border-radius-semicircle;
  margin-right: $btn-filter-icon-margin;
  display: flex;

}

.btn-filter__split-icon--half {//se usa

  width: 9px;

  &.green-l {
    background: $color-green;
    border-radius: $btn-border-radius-semicircle 0px 0px $btn-border-radius-semicircle;
  }

  &.red-r {
    background: $color-red;
    border-radius: 0px $btn-border-radius-semicircle $btn-border-radius-semicircle 0px;
  }

}

///REGULAR btnS FOR OPTIONS - OONE WITH AND ONE WITHOOUT ICONS
.btn,
.btn-with-icon {//se usa

  align-items: center;
  display: flex;
  padding: 0 $btn-padding-big;//Revise: pase de 20px aprox a 18px
  position: relative;
  background: white;
  border: 1px solid $color-gray-border;
  border-radius: 42px;//Revise en figma el radius es de 42px
  height: $btn-height;
  font-weight: $font-weight-bold;
  margin-top: $margin-extra-small;
  width: 100%;


  &:hover {

    cursor: pointer;
    background: $color-black;
    color: $color-white;

    & svg {
      fill: $color-white;
    }

  }

}

.btn,
.btn-with-icon,
{

  background: transparent;
  color: $color-black;

}

//BLACK btn VARIATION
.btn--black {

  background: $color-black;
  color: $color-white;

}

//active btn state
.btn--active {

  background-color: $color-black;
  color: $color-white;
  cursor: pointer;

}

//NORMAL btn WITH ICON ON THE CENTER

.btn-with-icon {//se usa

  align-items: center;
  display: flex;
  padding: 0 $btn-padding-big;//Revise: pase de 20px aprox a 18px
  position: relative;
  gap: 12px;
  //revise
  background: white;
  border: 1px solid $color-gray-border;
  border-radius: 42px;//Revise en figma el radius es de 42px
  height: $btn-height;

  &:hover {

    border-color: $color-corporative;
    text-decoration: none;

  }

}

.btn-with-icon__header {

  padding: rem(2px) 1vw;
  height: rem(48px);

}


.btn-with-icon__icon {

  max-height: $btn-filter-with-icon-icon-width;
  max-width: $btn-filter-with-icon-icon-width;

}


//CIRCLE btn LIKE OFFER/NEED FILTER.
.btn_circle {

    display: flex;
    flex-flow: row nowrap;
    position: relative;
    padding-right: 3.5rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: $color-corporative;
    border: 2px;

    svg {

      position: absolute;
      right: 1rem;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 2rem;
      height: 2rem;

    }

}

//CIRCLE btn LIKE NEED FILTER.

.btn_circle--off {

  background: $color-gray;

}

//ICON INSIDE btnS STYLE

.btn__icon {

 height: 30px;
 width: auto;

}

@media #{$breakpoints-large} {

  .btn-filter {

    margin: 0px 5px;

  }

}
