$avatar-container-max-height: 150px;
$avatar-container-max-width: 150px;
$avatar-margin: $padding-big;

.card-profile__data {
  font-size: $font-size-general;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: $padding-big;

}

.card-profile__rating {
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  width: 100%;

  & svg {
    width: 1rem;
    margin-left: 0.5rem;
  }
}

.card-profile__location {
  color: $color-gray;
  text-align: center;
  font-size: font-size-medium;
  .icon {
    width: 25px;
    height: 25px;
    fill: $color-gray;
  }
}

.card-profile__interests {
  font-size: font-size-medium;
  margin-right: 5px;
  color: $color-gray;
}

.card-profile__toggle-button {
  background-color: transparent;
  border: 2px solid $color-corporative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    width: 50%;
    height: 50%;
    fill: $color-corporative;
  }
  & svg {
    position: initial;
    fill: $color-corporative;
  }
  &--corporative-bg {
    background-color: $color-corporative;
    .icon {
      fill: $color-black;
    }
  }
}

.card-profile__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $color-white;
  border-radius: $border-radius-circle;
  padding: $padding-big;
}

.card-profile__content {
  display: flex;
  flex-direction: column;

}

.card-profile__avatar-container {
  left: 0;
  position: relative;
  margin: 0;
  margin-right: $avatar-margin;
  max-width: $avatar-container-max-width;
  min-height: $avatar-container-max-width;
}

.card-profile__avatar-container--img {
  height: auto;
  width: auto;
  object-fit: scale-down;
}

.card-profile__avatar-container--icon {
  object-fit: scale-down;
}

.card-profile__avatar-container--name {
  word-wrap: break-word;
  font-size: $font-size-medium;
  color: $color-black;
  text-align: center;
  font-weight: $font-weight-bold;
  margin: $margin-small;
}

//revise
.card-profile__container-avatar-content {
  display: flex;
  align-items: flex-start;
}

.card-profile__avatar-container-name {
  font-size: $font-size-title;
  font-weight: bold;
}

.grid-one__column-mid-element {
  font-size: font-size-medium;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

@media #{$breakpoints-xlarge} {

  .card-profile__rating {
    display: flex;
    width: fit-content;
    height: auto;
    margin: 0 auto;
    background-size: contain;
    margin-bottom: 10px;
    & svg {
      width: 20px;
    }
  }

  .card-profile__location {
    color: $color-gray;
    text-align: center;
    font-size: font-size-medium;
    .icon {
      width: 25px;
      height: 25px;
      fill: $color-gray;
    }
  }

  .card-profile__interests {
    font-size: font-size-medium;
    margin-right: 5px;
    color: $color-gray;
  }

  .card-profile__toggle-button {
    background-color: transparent;
    border: 2px solid $color-corporative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
      width: 50%;
      height: 50%;
      fill: $color-corporative;
    }
    & svg {
      position: initial;
      fill: $color-corporative;
    }
    &--corporative-bg {
      background-color: $color-corporative;
      .icon {
        fill: $color-black;
      }
    }
  }

  .card-profile__avatar-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: $avatar-container-max-width;
    height: 100%;
    width: 100%;
  }

  .card-profile__avatar-container--img {
    height: auto;
    width: auto;
    object-fit: scale-down;
  }

  .card-profile__avatar-container--icon {
    object-fit: scale-down;
  }

  .card-profile__avatar-container--name {
    word-wrap: break-word;
    font-size: $font-size-medium;
    color: $color-black;
    text-align: center;
    font-weight: $font-weight-bold;
    margin: $margin-small;
  }
}
