
.directory__container {

  width: 100%;
  height: auto;

}

.directory__content {

  margin: $margin-big;

}

.directory__section {

  margin: $margin-big;

}

.directory__sub-section {

  margin: $margin-big;

}

.directory__field {


}

.directory__label {


}

.directory__icon {


}
