
.card-directory__container {

  width: 100%;
  height: auto;

}

.card-directory__content {

  margin: $margin-big;

}

.card-directory__section {

  margin: $margin-big;

}

.card-directory__sub-section {

  margin: $margin-big;

}

.card-directory__field {


}

.card-directory__label {


}

.card-directory__icon {


}
