$form-chat-background: $color-white;
$form-chat-button-size: 70px;

.form-chat {
  align-items: stretch;
  background: $form-chat-background;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .input__input {
    border: 1px solid $color-gray;
    border-radius: 0 !important;
    margin: 0;
  }
}

.form-chat__button {
  background: $color-gray;
  flex: 0 1 $form-chat-button-size;
  text-indent: -9999999px;
}

.form-chat__input {
  flex: 0 1 80%;
}
