$info-location-field-width: 330px;
$info-nets-field-bottom: 90px;
$info-nets-max-width: $grid-max-width;
$info-image-height: $height-wide-image;

.info-overlay__selected {

    border: 1px solid $color-black;

}

.info-overlay__container {

    background-color: $color-corporative;
    height:100vh;
    width:100%;
    z-index: $z-index-02;
    box-sizing: border-box;

}

.info-overlay__name {

  margin: $padding-big auto;
  width: 100%;
  margin-top: $proportional-margin-xlarge;
  font-size: $font-size-title;
  text-align: center;

}

.info-overlay__image {

  height: $info-image-height;
  width: 100vw;
  padding: $padding-big;
  background-color: $color-black;
  background-image:  url(https://dummyimage.com/200/#ccc/fff);
  background-repeat: no-repeat, repeat;
  background-size: cover;

}

.info-overlay__location {

  @extend .form__field;
  margin: auto;

}

.info-overlay__description {

  margin: $margin-big;
  margin: $margin-big auto;
  text-align: center;

}

.info-overlay__bottom {

  width: 100%;
  padding: $padding-big;
  position: absolute;
  bottom: $info-nets-field-bottom;

}

.info-overlay__nets {

  @extend .form__field;
  margin: auto;
  max-width: $info-nets-max-width;

}


.info-overlay__content {

   position: absolute;
   font-family: inherit;
   font-weight: bold;
   padding: 0 0 ;
   display: block;
   justify-content: space-around;
   min-width: fit-content;
   background-color: transparent;
   height: 100%;
   width: fit-content;
   box-sizing: border-box;

 }


.info-overlay__body {
  position: relative;
 }
