.info-overlay__selected {

    border: 1px solid $color-black;

  }

.info-overlay__container {

    background-color: $color-corporative;
    position: absolute;
    height:100vh;
    width:100%;
    z-index: $z-index-02;
    box-sizing: border-box;

  }

.info-overlay__name {

  margin: auto;
  width: 100%;
  font-size: $font-size-title;
  text-align: center;

}

.info-overlay__description {

  margin: $margin-big;

}

.info-overlay__nets {

  margin: auto;
  position: absolute;
  bottom: 130px;
  width: 100%;

}


.info-overlay__content {
   font-family: inherit;
   font-weight: bold;
   padding: 0 0 ;
   display: block;
   justify-content: space-around;
   margin: $margin-big;
   min-width: fit-content;
   background-color: transparent;
   position: relative;
   height: 100%;
   box-sizing: border-box;
   z-index: 500000000

 }


.info-overlay__body {
  position: relative;
   z-index: 50000
 }
