
.icon-net {

  align-items: center;
  display: flex;
  padding: $padding-medium 2rem;
  position: relative;

  &--small {
    padding: $padding-small 2rem;
  }

  &__header {
    padding: rem(2px) 1vw;
    height: rem(48px);
  }

  &__link:hover {
    border-color: $color-corporative;
    text-decoration: none;
  }

}

.icon-net__icon {

  height: auto;
  transition: transform 0.2s;
  width: rem(30px);

  + .icon-net__text {
    margin-left: 2rem;
  }

  & > .icon {
    fill: $color-black;
  }

}

.icon-net__text {

  & + .icon-net__icon {
    margin-left: rem(10px);
  }

}

.icon-net--hover {

  cursor: pointer;
  background: #343a40;
  color: #ffdd02;

  & svg {
    fill: #ffdd02;
  }

}
