$menuselect-background: rgba(0,0,0,.2);
$menuselect-header-height: 80px;
$menuselect-max-width: 480px;
$menuselect-border-radius: 25px;
$menuselect-width: 240px;
$menuselect-content-height: calc( 100vh - #{$menuselect-header-height });
$menuselect-header-lateral: calc( 100% / 2 - #{$menuselect-max-width} / 2 );
$menuselect-header-width: 100%;
$menuselect-comments: 24px;
$menuselect-padding: 2rem;
$menuselect-paragraph-padding: 1rem 2rem;
$menuselect-max-height-large: 720px;
$menuselect-cualquircosa: red;
$menuselect-comments-item-padding: 25px;

body {
  overflow-y: scroll; //Revise: Bienvenido Scroll
}

.menuselect {
  // Scroll menuselect content
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  background: transparent;
  position: relative;

  // Header Top Content Bottom
  display: flex;
  width: $menuselect-width;
  flex-flow: column;
  justify-content: space-between;
}

.menuselect__overlay {

  width: 100vw;
  height: 100vh;
  padding:0;
  margin:0;
  top:0;
  left:0;
  background: transparent;
  position: fixed;
  z-index: $z-index-base;

}


.menuselect__content {

  position: relative;
  overflow: auto;
  width: auto; //Revise antes era 100%
  max-width: rem(350px);
  overflow-y: visible !important;
  max-height: 90vh;
  background: $color-white !important;
  overflow-x: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

}

.menuselect__dropdown {

  position: relative;
  overflow: auto;
  width: auto; //Revise antes era 100%
  overflow-y: visible !important;
  max-height: 100% !important;
  border-radius: $border-radius-semicircle !important;
  background: $color-white !important;
  overflow-x: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: $font-size-general;

  -ms-overflow-style: none;
  scrollbar-width: none;

  & ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  & ul::-webkit-scrollbar {
    display: none;
  }

  & li {
    border-top: 1px solid #e6e6e6;
    padding: .5rem;
     &:hover,
     :active {
       color: white;
     }
     &[aria-current="true"] {
       background: $color-black;
       color: white;
     }
  }

}

.menuselect__dropdown--home {

  @extend .menuselect__dropdown;

  top:0 !important;
  left: 0 !important;
  width: 100% !important;
  max-height: 50vh !important;


  & li {
    border-top: 1px solid #e6e6e6;
     padding: .5rem;
     &:hover,
     :active {
       color: white;
     }
     &[aria-current="true"] {
       background: $color-black;
       color: white;
     }
  }

}

.menuselect__dropdown::-webkit-scrollbar {
  display: none;
}

.menuselect__dropdown--row {

  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;

}

.menuselect__dropdown--concept {

  font-weight: $font-weight-bold;

}

//REVISE NAMING DE LA CLASE
.menuselect__display {

  display: flex;
  justify-content:space-between;

}

//MEENUSELECT LISTA DE ICONOS EN COLUMNAS DE 3

.menuselect__list-elem {

  width: 70px;
  height: 70px;
  padding: $padding-big;
  margin: $margin-extra-small;
  float: left;
  background: transparent;
  border: none;
  border-radius: $border-radius-circle;
  cursor: pointer;

  &:hover {
    background-color: $color-black;
  }

}

.menuselect__list-elem--icon {

  width: fit-content;

}

//REVISE NAMING DE LA CLASE
.menuselect__tags {

  width: 100%;

}

.menuselect__section {

  padding: 1rem;

}

.menuselect-box-shadow {//REVISE
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.menuselect__header {
  width: 100%;

  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  text-align: center;
}

.menuselect__left-title {
  width: 100%;
  padding: $padding-medium;


  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  text-align: left;
  color: $color-dark-blue;
}

// contents
.menuselect__paragraph {

  font-size: $font-size-general;
  line-height: 1.5rem;
  padding: $menuselect-paragraph-padding;
}

.menuselect__img {
  height: 200px;

  svg {
    display: none; // Revise Ángel
    width: 100%;
    height: auto;
  }
}

.overlaw-scroll {
  .liquid-child {
    overflow: auto;
  }
}

.menuselect__close-container {
  width: 100%;
}

.menuselect__close-overlay {
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: visible;
  z-index: $z-index-base;
  width: 100%;
  border: none;
  background: none;
  padding: 0;
}

.menuselect__comments,
.menuselect__options-v,
.menuselect__options-h {
  display: flex; // Static components
}

.menuselect__comments {
  padding: $menuselect-comments;
  overflow-y: auto;
  max-height: 300px;
}

.menuselects__comments-item {
  background: $color-ligth-gray;
  margin: 8px 0;
  padding: $menuselect-comments-item-padding 0;
}

.menuselect__options-btn {//se usa

  display: inline-block;
  text-align: center;
  line-height: 2rem; //revise anteiormente era 1.5rem pero probe con 2rem, y se ve bien
  width: 100%;
  vertical-align: middle;
  height: auto;
  background: $color-white;

  &--stroked {
    stroke: $color-corporative;
    fill: $color-corporative;
    border-color: $color-black;
    background-color: $color-black;
  }

  &:focus {
    box-shadow: none;
  }
}

.menuselect__options-btn--icon {
  height: 20px;
  
  & svg{
    display: none;
    height: 10px;
  }
}

.menuselect__options-title {
  display: inline-block;
  background: $color-ligth-gray;

  padding: $padding-medium 8px;//Revise 12px cambiado a 10px
  text-align: center;

  font-size: $font-size-general;
  line-height: 1.5rem;
  width: 100%;
  vertical-align: middle;
  padding: $menuselect-paragraph-padding;
  height: auto;
}

.menuselect__options-v {
  flex-flow: column nowrap;
}

.menuselect__options-h {//se usa
  flex-flow: row nowrap;
  justify-content: space-between;

  .menuselect__options-btn {
    flex: 0 1 50%;
  }
}

//Estilos a los botones del menuselect Revise
.menuselect__option-btn {//revise
  height: 60px;
  background: transparent;
  border: none;
  text-align: initial;
  border-bottom: 1px solid $color-gray-border;//Revise este color ahora es una variable
  padding: 0 $menuselect-padding;//revise este padding puede ir en el txt
  cursor: pointer;

  &:last-child {
    border-bottom: none;
  }

  &:focus {
    background: $color-corporative;
  }
}

.menuselect__option-btn--active {
  @extend .menuselect__option-btn;
}

.menuselect__option-btn-with-icon {
  @extend .menuselect__option-btn;
}


//Revise
.menuselect__themes {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $padding-medium $padding-big;//de 16px a 18px y de 8px a 10px

  border-top: 1px solid $color-gray-border;
}

.menuseselect__themes-span {
  font-weight: bold;
  width: 30%;
}

.menuselect__themes-button {

  border-radius: $border-radius-buttons;
  height: fit-content;
  width: auto;
  padding: 0 $padding-medium;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menuselect__themes-count {
  width: 30%;
  text-align: end;
  font-weight: ligth;
}

.prubea {
  display: flex;
}

//Revise: clase menuselect--over
.menuselect--over {
  position: absolute;
  width: 95%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.menuselect__content {//Revise
  border-radius: $menuselect-border-radius !important;
}

@media #{$breakpoints-medium} {
  .menuselect {
    margin: 0 auto;
    max-width: $menuselect-max-width;//revise
    width: $grid-width;

    // Centering
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: transparent;
  }

  .menuselect__header,
  .menuselect__content {
    background: $color-white;
    max-width: 600px;//revise voy a poner 600 px luego pasar a variable $menuselect-max-width
  }

  .menuselect--over {
    width: 500px;
  }

  .menuselect__map--over{
    position: absolute;
    top: 10%;
    width: 80%;
    margin: auto;
    z-index: $z-index-05;
  }

  //Revise: Esto puede ir en un breakpoint
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #c9c9c9 0%,#c9c9c9 0%);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #C9C9C9;
  }
  ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset -7px -30px 12px #f0f0f0;
  }
}
