$picker-time-height: 40px;

.picker-time__selected {
  display: flex;
  align-items: center;
  font-size: $font-size-general;
  border: 0;
  width: 60%;
  margin: $margin-small auto;
  justify-content: space-evenly;
}

.picker-time__dropdown {
  padding: $padding-medium $padding-big;
  border-radius: $border-radius-circle;
  border: $border-lines-width solid $color-gray;
  width: auto;
  height: $picker-time-height;

  &:hover {
    background-color: $color-black;
    color: white;
  }
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.picker-time__dropdown-trigger {
  cursor: pointer;
  border: none;
  background-color: transparent;
  //padding: 5px;
  width: 100%;
  text-align: center;
}

.picker-time__dropdown-content {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  overflow-y: auto;
}

.picker-time__dropdown-option {
  padding: $padding-medium $padding-big;
  border-radius: $border-radius-circle;
  border: $border-lines-width solid $color-gray;
  height: $picker-time-height;
  font-size: $font-size-general;
  align-items: center;
  display: flex;

  cursor: pointer;

  &:hover {
    background-color: $color-black;
    color: white;
  }
}

.picker-time__dropdown-content::-webkit-scrollbar:vertical {
  width: 0;
}

.picker-time__dropdown-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.picker-time__points {
  font-size: $font-size-general;
}

.picker-time__dropdown-content-gray {
  background: #eeee;
  border: none;
}
