$time-picker-height: 40px;

.time-picker__selected {//se usa
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  margin: $margin-small auto;
  width: 250px;
}

.time-picker__dropdown {//se usa
  padding: $padding-medium $padding-big;
  border-radius: 25px;
  border: 1px solid $color-gray;

  height: $time-picker-height;

}

.time-picker__dropdown-trigger{//se usa
  cursor: pointer;
  border: none;
  background-color: transparent;
  //padding: rem(5px);
  width: 100%;
  text-align: center;
}

.time-picker__dropdown-content{//se usa
  border: 1px solid $color-gray;
  margin-top: 0.9rem;
  overflow: auto;
  width: 100%;
  margin-top: rem(10px);
  text-align: center;
  border: 1px solid $color-black;
  max-height: rem(150px);
  overflow-y: auto;
}

.time-picker__dropdown-option {//se usa
  padding: $padding-medium 0;
  display: block;
  padding: rem(5px) 0;
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: unset;
  &:hover {
    background-color: $color-black;
    color: white;
  }
}

.time-picker__dropdown-option + .time-picker__dropdown-option{//revise
  border-top: 0.025rem solid $color-gray;

}

.time-picker__dropdown-content::-webkit-scrollbar:vertical {
  width: 0;
}

.time-picker__dropdown-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.time-picker__points {
  font-size: $font-size-general;
}

.time-picker__dropdown-content-gray { 
  background: #EEEE;
  border: none;
}
