{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 70,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "semi": true
}
