# POSTGRES_HOSTNAME=db # only needed to customize or to develop
# POSTGRES_PORT=5432 # only needed to customize or to develop


HOSTNAME=localhost

## WEB 
JWT_SECRET=CHANGE_ME
WEB_PORT=3000

## API
API_PORT=3001

# POSTGRES + GIS CONFIGURATION
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=hb-db

JWT_SECRET=dtsaiagdiusahdoisandosa21321dsadsa
API_URL=http://api:3001/


############################################
## you don't need to configure this ones ###
############################################
NEXT_TELEMETRY_DISABLED=1

# developers

## WEB
# BACKEND_URI=http://localhost:3001 # TODO, this needs a hostname
# HOST=0.0.0.0
# WEB_PORT=3000


## API
# POSTGRES_HOSTNAME=db
# POSTGRES_PORT=5432
# ALLOWED_CORS=http://localhost:3000 # TODO, this needs a hostname
# ENV=dev
# UPLOADS_PATH=.uploads/
# SWAGGER_PATH=docs
# NEST_DEBUG=true
# DEBUG=*
# WEB_URL=http://localhost:3000
# API_PORT=3000



