POSTGRES_HOSTNAME=db
POSTGRES_DB=hb-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
hostName=example.com
smtpHost=
smtpPort=
smtpUser=
smtpPass=
from=
jwtSecret=
REDIS_HOST=redis
REDIS_PORT=6379
VERSION=main
WEB_URL=http://localhost:3000
API_URL=http://api:3001
ALLOWED_IMAGES_DOMAIN=localhost