 body, html {
    font-family: 'Nunito', sans-serif !important;
    height: 100%;
    margin: 0;
    background-color: rgb(255, 221, 2);
    color: #ffffff;
    overflow: auto; /* allow scrolling */
}

columns-wrapper {
    background-image: radial-gradient(#212121 20%, transparent 20%),
        radial-gradient(#fafafa 20%, transparent 20%);
    background-color: #e53935;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
  }

strong {
    font-weight: 1000;
}

.black {

    color: #333;

}

.links {
    right: 30px;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.prices {

    
    color: #333;

    .column {

        background-color:#333;
        border-radius: 1rem;
        padding: 2rem;
        padding-top: 0;

    }
}
h1 {
    color: white;
    font-size: 4em;

}
h2 {
    font-size: calc(7em / 4);
    
}

button.cta-button {
    background-color: #333;
    font-family: 'Nunito', sans-serif !important;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;

}

button.cta-button:hover, button.cta-button:active {
    transform: rotate(5deg);
}

.image-container {
    height: 100%;
    position: relative;
    width: auto;
    
}

.image-container img {
    z-index: -10;
    width: 100vw;
    height: auto; 
}

.normal {
    font-size: 0.5em;
}

.name {

    font-size: 1.5em;

}
.text-content {
    z-index: 1;
    position: absolute;
    display: block;
    text-align: center;
    top: 50%; /* adjust as needed */
    left: 50%; /* adjust as needed */
    transform: translate(-50%, -50%); /* centers the text */
    color: #333; /* change as needed */
}


section {
    /* Your previous CSS... */
    position: relative; /* add this */
}

.column {
    /* Your previous CSS... */
    box-sizing: border-box;
}

.column img {
    /* Your previous CSS... */
    max-width: 100%;
}
/* 

/* RESPONSIVENESS */
@media (max-width: 768px) {
    .column {
        width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: calc(4em / 4);
    }
}

.column img {
    max-width: 100%;
    display: block;
    background-color: #eee; /* change this to any color you like */
    padding: 10px;
    width: 30%;
    text-align: center;
    
}



h3 {
    color:#f8f8f8;
    font-size: 1.5em;
    font-weight: bold;
}

.columns-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    z-index: 10;

}


 .scroll-down {
    position: fixed;
    bottom: 20px;
    z-index: 10;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    text-align: center;
}

.scroll-down:hover {
    cursor: pointer;
}
 
 
.scroll-down:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation: scroll-down 2s infinite;
}
/*
@keyframes scroll-down {
    0%, 100% {
        transform: rotate(-45deg),transform: translateY(0);
    }
    50% {
        transform: rotate(-45deg), transform: translateY(15px);
    }
}  */


body, html {
    font-family: 'Nunito', sans-serif;
    height: 100%;
    margin: 0;
    background-color: rgb(255, 221, 2);
    color: #333;
    overflow: hidden;
}
section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: white;
}

footer {
    position: absolute;
    display: block;
    bottom: 10px;
    right: 20px;
}
footer a {
    color: #ffffff;
    font-weight:bold;
    font-size: 0.9em;
    text-decoration: none;
}

footer a:hover {
    color:rgb(56, 56, 56);
}

.hide {
    display: none;
}

.columns-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {

    flex: 1 0 20%; /* Adjust as needed */
    color: #eee;
    margin: 10px;
    border-radius: 10px;

}

.column--button {
    
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .column {
        flex: 0 0 100%;
    }
    .column--button {
        align-items: left;
        justify-content: left;
    }

  
    footer a {
 
        font-size: 0.8em;
    }

    .image-container img {
        z-index: -10;
        width: auto;
        height: 100vh; 
    }
}



#section1 {
    background-color: rgb(255, 221, 2);  /* Yellow */
}

#section2 {
    background-image: radial-gradient(#767676 20%, transparent 20%),
        radial-gradient(#707070 20%, transparent 20%);
    background-color: #767676;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}

#section3 {
    background-color: rgb(232, 232, 232);  /* Red */
}

#section4 {
    background-image: radial-gradient(#767676 20%, transparent 20%),
        radial-gradient(#707070 20%, transparent 20%);
    background-color: #767676;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}

#section5 {
    background-image: radial-gradient(#767676 20%, transparent 20%),
    radial-gradient(#707070 20%, transparent 20%);
    background-color: gold;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;

    .button {
        background-color: transparent;
        color:white;
        text-decoration:underline;
        font-size: 1rem;
        border:none;
    }
}

#section6 {

    background-image: radial-gradient(#767676 20%, transparent 20%),
        radial-gradient(#707070 20%, transparent 20%);
    background-color: #767676;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
}

header {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
}

#lang-select {
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
}