html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
textarea,
input,
button,
select,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'quicksand', sans-serif;
  text-decoration: none;
  vertical-align: baseline;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: keep-all;
  hyphens: auto;
  -webkit-hyphens:auto;
  -webkit-hyphenate-limit-after:1;
  -webkit-hyphenate-limit-before:3;
  -moz-hyphens:auto;
}


/* remember to define focus styles! */
:focus {
  outline: 0;
}
:root {
  --vh: 1vh; /* Define a CSS variable for viewport height */
}
body {
  
  line-height: $text-line-height-small;
  color: $color-black;
  background: $color-ligth-gray;
  // height: 100vh;
}
/* Apply the calculated viewport height to html, body, and #__next elements */
html,
body,
#__next,
.index__container,
.homeinfo__content,
.homeinfo__card,
.popup,
.popup__content,
.index__content,
.feed__container,
.feed-section--activity,
.index__explore-container {
  height: var(--vh) !important;
  /* Add other styles as needed */
}

.popup__content,
.popup--button-file
{
  
  height: var(--vh) !important;

}

.list__container--full-screen,
.list__content--full-screen{

  height: calc(var(--vh) - 120px ) !important; //header + filters bar

}

.list__container--mid-screen,
.list__content--mid-screen{

  height: calc(var(--vh) - 190px ) !important; //header + filters bar

}

.popup,
.popup-content,
.filters__wrapper
{
  height: calc(var(--vh) ) !important;
  /* Add other styles as needed */
}


html,
body,
#__next,
#app {
  // min-height: 100%;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

// textarea {
//   font-family: $font-family-first;
// }

// input {
//   font-family: $font-family-first;
// }

// button {
//   font-family: $font-family-first;
// }

a {
  color: $color-secondary;  
  word-break: break-all;

  &:hover {

    color: $color-gray;

  }
}

// .list__content {

//   height: calc(var(--vh) - 194px) !important;

// }

@media #{$breakpoints-xlarge} {

  // .index__container,
  .homeinfo__content,
  .homeinfo__container,
  .homeinfo__card,
  .list__container--full-screen,
  // .popup,
  // .popup__content,
  .popup--button-file,
  .index__explore-container,
  .feed-section--activity-content,
  .feed__container
  {
    height: calc(var(--vh) - 134px) !important;
    /* Add other styles as needed */
  }

  .list__content {

    height: calc(var(--vh) - 194px) !important;

  }


}
