$padding-bottom-content: 70px;
$boddy-max-width: $grid-max-width;

.body__content {

  margin: auto;
  min-height: 100vh;
  max-width: $boddy-max-width;
  overflow: auto;


}

.body__section {

  height: 100vh;
  margin-bottom: $margin-big;

}
