.chats {
  background-color: $color-white;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 24px;
  max-width: rem(500px);
  width: 100%;
  height: 100%;


  &__register-container {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__header {
    height: rem(48px);
    width: 100%;
    background: $color-white;
  }
  &__container {
    height:fit-content;
  }
  &__tags {
    height: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-general;
    margin: 1rem;
  }
  &__messages {
    height: calc(86vh - 48px);//Revise esta solucion
    width: 100vw;
    overflow-y: auto;
    padding-left: rem(10px);
    padding-right: rem(10px);
  }
  &__new-message {
    height: rem(60px);
    max-width: rem(500px);
    margin-top: rem(0px);
    bottom:0px;
    &-input {
      height: 40px;
      font-size: $font-size-general;
    }
  }
  &__button {
    background-color: transparent;
    height: 100%;
    padding: 0;
  }
  &__icon {
    height: rem(40px);
    width: rem(40px);
    fill: $color-black;
  }
  &__close-container {
    width: 100%;
    background: none;
    border: none;
    height: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    &:focus {
      outline: unset;
    }
  }
}

@media #{$breakpoints-medium} { 
  .chats {
    //margin-top : calc(15vh - 48px);
    height: auto;
  }
  .chats__messages {
    width: 100%;
    height: calc(70vh - 48px);//Revise esta solucion
  }
}