$profile-buttons-right: calc((100% - 500px / 2) + 500px);
$profile-buttons-width: calc((100% - 800px) / 2);
$profile-buttons-max-width: 250px;

.profile-buttons__avatar {//se usa
    position: relative;
    width: 100vw;
    // top: auto;
    position: relative;
    // margin-top: auto;
    //background-color: $color-corporative;
    background-color: $color-white;
    //margin-bottom: 4.375rem;
    margin-top: 4rem;
}

.profile-buttons {

  &__like-block  {
    display: flex;
    .icon {
    }
    &:hover {
    }
  }

  .active {
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;
  }

}

@media #{$breakpoints-xlarge} {
  .profile-buttons__avatar  {

      top: 250px;
      position: absolute;
      width: $profile-buttons-width;
      // right: $profile-buttons-right;
      left:$proportional-margin-xlarge;
      //min-height: calc(100% - 106px);
      max-width: $profile-buttons-max-width;
      word-wrap: break-word;

  }

}

@media #{$breakpoints-xxlarge} {
  .profile-buttons__avatar {
    margin-top: 0px;
  }

  .profile-buttons__avatar {

      max-width: $profile-buttons-width;

  }

}
