@use '../../variables' as *;

// TODO: refactor styles, use REM properly, maybe split this styles in other
// blocks in other style files too, ex: aside-info

$index-mobile-fixed-z-index: $z-index-05;

.index__container {
  width: 100vw;
  overflow: hidden;
}

.index__explore-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: stretch;
  overflow: hidden;
  width: 100%;
  &div {
      transition: $transition-default-slow;


  }
}

.index__content-left {

  transition: $transition-default-slow;

}

.index__content-bottom {

  height: $nav-bottom-height;

}

.index__content-bottom--hide {
}

.index__content-bottom--noscroll {

  overflow: hidden;

}

@media (hover: none) {

  .index__content-bottom--hide {
  }

}

@media #{$breakpoints-xlarge} {
  .index__explore-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .index__content-left {
    border-right: $border-style-basic;
    flex-direction: column;
    width: $index-content-left--distance;
    float: left;
    height: 100%;
    transition: $transition-default-slow;
    min-width: $index-content-left--distance;
    box-shadow: $box-shadow-divs;
  }

  .index__content-left--hide {
    margin-left: -$index-content-left--distance;
    bottom: 0;
  }
  
}


@media #{$breakpoints-xxlarge} {

  .index__content-left {
    width: $index-content-left--distance;

  }

  .index__content-left--hide {
    margin-left: -$index-content-left--distance;
  }

}