// TODO: refactor styles, use REM properly, maybe split this styles in other
// blocks in other style files too, ex: aside-info

$index-mobile-fixed-z-index: $z-index-05;

.index__mobile-fixed {
  width: 100%;
  z-index: $index-mobile-fixed-z-index;
}
.index__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media #{$breakpoints-xlarge} {
  .index__container {
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  .index__content-left {
    flex-direction: column;
    width: 40vw;
    float: left;
    height: 100%;
    transition: $transition-default-slow;
    min-width: 40vw;
  }
  .index__content-left--hide {
    flex-direction: column;
    margin-left: -40vw;
    right: -200px;
  }
}
