// TODO: refactor styles, use REM properly, maybe split this styles in other
// blocks in other style files too, ex: aside-info

$index-mobile-fixed-z-index: $z-index-05;
$index-content-left--distance: 60vw;

.index__mobile-fixed {
  width: 100%;
  z-index: $index-mobile-fixed-z-index;
}

.index__container {
  width: 100vw;
  overflow: hidden;
}

// .index__content {

//   width: 100vw;
//   overflow: hidden;
//   display: flex;
//   justify-content: flex-end;
//   align-items: flex-end;

// }


.index__explore-container {
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  align-items: stretch;
  // height: 100%;
  // max-height: 100%;
  overflow: hidden;
  width: 100%;
}

.index__content-left {

  transition: $transition-default-slow;

}

.index__content-bottom {

  transition: height 0.5s linear; /* Specify the transition property and duration */
  transition: $transition-default-slow;
  height: 60px;

}

.index__content-bottom--mid-screen {

  height: calc(420px + 200px) ;

}

.index__content-bottom--hide {

  margin-bottom: calc($list-container-hide-height);
  
}

.index__content-bottom--noscroll {

  overflow: hidden;

}

@media (hover: none) {

  .index__content-bottom--hide {

    // margin-bottom: calc($list-container-hide-nohover-height);
    
  }

}

@media #{$breakpoints-xlarge} {
  .index__explore-container {
    position: fixed;
    display: flex;
    flex-direction: row;
  }

  .index__content-left {
    border-right: $border-style-basic;
    flex-direction: column;
    width: $index-content-left--distance;
    float: left;
    height: 100%;
    transition: $transition-default-slow;
    min-width: $index-content-left--distance;
    box-shadow: $box-shadow-divs;
    // border-right: $popup-soptions-border-top;
  }

  .index__content-left--hide {
    margin-left: -$index-content-left--distance;
    bottom: 0;
  }
  
}


@media #{$breakpoints-xxlarge} {

  .index__content-left {
    width: $index-content-left--distance;

  }

  .index__content-left--hide {
    margin-left: -$index-content-left--distance;
  }

}