// TODO: refactor styles, use REM properly, maybe split this styles in other
// blocks in other style files too, ex: aside-info

$index-mobile-fixed-z-index: $z-index-05;

.index__mobile-fixed {
  width: 100%;
  z-index: $index-mobile-fixed-z-index;
}

.index__container {
  width: 100vw;
  overflow: hidden;
}

.index__content {

  height: 100%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: end;

}


.index__explore-container {
  display: flex;
  flex-direction: row;
  justify-content:baseline;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
}

.index__content-left {

  transition: $transition-default-slow;

}

.index__content-bottom {

  transition: $transition-default-slow;

}

.index__content-bottom--hide {

  margin-bottom: $list-container-hide-height;
  
}

@media #{$breakpoints-xlarge} {
  .index__container {
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  .index__content-left {
    flex-direction: column;
    width: 35vw;
    float: left;
    height: 100%;
    transition: $transition-default-slow;
    min-width: 35vw;
  }
  .index__content-left--hide {
    margin-left: -35vw;
    bottom: 0;
  }
  
}
