$search-map-height: 0; // Altura del header

.search-map__network-title{

  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  color: $color-white;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px var(--network-text-color);
  max-width: 80vw;
  left: 10px;
  top: 10px;

}

.search-map__sign {

  margin-top: 0;
  font-size: $font-size-xsmall;
  line-height: 10px;

}


.search-map__instructions {

  color: $color-dark-gray;
  padding: $padding-medium;
  top: 20%;
  position: absolute;
  left: calc(50% - 100px);
  width: auto;
  overflow: visible;
  max-width: 200px;
  text-align: center;
  text-wrap:balance;
  margin-left: auto;
  z-index: $z-index-01;
  margin-top: $margin-small;
  background-color: $color-blue;
  border-radius: $border-radius-basic;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;

  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

}

@media #{$breakpoints-xlarge} {

  .search-map__network-title{

    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;

    align-items: flex-start;
    justify-content: flex-start;
    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    color: $color-black;
    text-shadow: none;
    position: relative;
    flex: 1;
    gap: 1rem;

    & a {

      color: $color-dark-gray;
    }
  
  }

  .search-map__name{

    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-start;
    overflow: hidden;
    max-height: 2.4rem;
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    margin-bottom: $padding-big;

    a {

      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1; 
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      max-height: 2.4em;
      line-height: 1.2em;
    }
    

  }

  .search-map__sign {

    font-size: $font-size-xsmall;
    line-height: 1em;
    color: $color-gray;
    width: auto;
    line-break: strict;
    display: flex;
    gap: $padding-xsmall;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-wrap:nowrap;

  }
  
}
