$search-map-height: 0; // Altura del header

.search-map__network-title{

  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  color: $color-white;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px var(--network-text-color);
  max-width: 80vw;
  left: 10px;
  top: 10px;
  z-index: $z-index-04;

}

.search-map__sign {

  margin-top: 0;
  font-size: $font-size-xsmall;
  line-height: 10px;

}


@media #{$breakpoints-xlarge} {

  .search-map__network-title{

    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    color: $color-white;
    position: relative;
    left: 40px;
    top: 30px;
    z-index: $z-index-05;
  
  }


.search-map__sign {

  font-size: $font-size-small;
  line-height: 40px;

}
  
}
