$search-map-height: 0; // Altura del header

.search-map__network-title{

  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  color: $color-white;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px var(--network-text-color);
  max-width: 80vw;
  left: 10px;
  top: 10px;
  z-index: $z-index-04;

}

.search-map__sign {

  margin-top: 0;
  font-size: $font-size-xsmall;
  line-height: 10px;

}


@media #{$breakpoints-xlarge} {

  .search-map__network-title{

    flex-direction: row;
    display: flex;
    align-items: center;
    height: 100%;

    font-size: $font-size-huge;
    font-weight: $font-weight-bold;
    color: $color-black;
    text-shadow: none;
    position: relative;
    z-index: $z-index-05;
    flex: 1;
    gap: 2rem;

    & a {

      color: $color-dark-gray;
    }
  
  }

  .search-map__name{

    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-start;

  }

  .search-map__sign {

    font-size: $font-size-small;
    line-height: 40px;

  }
  
}
