components@import 'mixins/_rem';

// variables
@import "variables/colors";
@import "variables/margins";
@import "variables/paddings";
@import "variables/breakpoints";
@import "variables/border";
@import "variables/box-shadow";
@import "variables/fonts";
@import "variables/titles";
@import "variables/grid";
@import "variables/z-index";
@import "variables/animations";
@import "variables/reset";


@import "base/common";

// Dashboard (skin for list of componentss and layouts)
@import "skin/dashboard";

//////////// COMPONENTS

// componentss (general)
@import "components/icon";
@import "components/image";
@import "components/avatar";
@import "components/hashtag";
@import "components/text-style";

// componentss (form)
@import "components/label";
@import "components/btn";
@import "components/textarea";
@import "components/checkbox";
@import "components/checkbox-circle";
@import "components/dropdown";


///////////LAYOUT

// layout (general)
@import "layout/header";
@import "layout/_component-header";
@import "layout/card-button";
@import "layout/card-notification";
@import "layout/promise-button";
@import "layout/_buttons-filters";
@import "layout/loading-overlay";
@import "layout/button-file";
@import "layout/trending-tags";
@import "layout/button-new-location-inserted";
@import "layout/button-new-date-inserted";
@import "layout/button-new-activate";
@import "layout/button-new-share";
@import "layout/login-component";
@import "layout/create-net-component";
@import "layout/info-overlay";
@import "layout/register-component";
@import "layout/message-component";
@import "layout/button-icon";
@import "layout/search-topbar";
@import "layout/error-message";
@import "layout/ember-power-calendar-overwrite";
@import "layout/time-picker";
@import "layout/net-picker";
@import "layout/chat-messages";
@import "layout/card-btn";
@import "layout/btn-animation";
@import "layout/card-chat";
@import "layout/nav-bottom";
@import "layout/nav-header";
@import "layout/home-search";
// @import "layout/profile-search";
@import "layout/popup";
@import "layout/menuselect";


// layouts (comments)
@import "layout/comments-bar";
@import "layout/comments-message";
@import "layout/card-profile";
@import "components/forms";


// pages
@import "pages/application";
@import "pages/search-map";
@import "pages/index/index";
@import "pages/index/list";
@import "pages/profile-buttons";
@import "pages/chats";
@import "pages/login";
@import "pages/register";
@import "pages/recovery";
@import "pages/profile-edition";
@import "pages/others";
@import "pages/button-net";


html, body {
  background-color: $color-ligth-gray;
}

.notifications-index, ._c-notification__container--top_rc8i2a {
  z-index: 15000 !important;
}

.disabled {
  pointer-events: none;
  background-color: #C8C8C8;
  color: #858585;
}

.invisible {
  visibility: hidden;
}
