
// variables
@import "variables/colors";
@import "variables/margins";
@import "variables/paddings";
@import "variables/breakpoints";
@import "variables/border";
@import "variables/box-shadow";
@import "variables/fonts";
@import "variables/titles";
@import "variables/grid";
@import "variables/z-index";
@import "variables/animations";
@import "variables/text-style";
@import "reset";


//////////// COMPONENTS

// componentss (general)
@import "components/icon";
@import "components/image";
@import "components/avatar";
@import "components/hashtag";
@import "components/btn-animation";
@import "components/error-message";
@import "components/button-icon";
@import "components/chat-bar";
@import "components/message";

// componentss (form)
@import "components/forms";
@import "components/label";
@import "components/btn";
@import "components/textarea";
@import "components/checkbox";
@import "components/checkbox-circle";
@import "components/dropdown";

///////////layouts

// layouts (general)
@import "layouts/header";
@import "layouts/card-button";
@import "layouts/card-notification";
@import "layouts/_buttons-filters";
@import "layouts/loading-overlay";
@import "layouts/trending-tags";
@import "layouts/button-new-location";
@import "layouts/button-new-date";
@import "layouts/button-share";
@import "layouts/popup-create-net";
@import "layouts/_header-info-overlay";
@import "layouts/register-component";
@import "layouts/home-search";
@import "layouts/picker-time";
@import "layouts/net-picker";
@import "layouts/chat";
@import "layouts/card-button-list";
@import "layouts/card-chat";
@import "layouts/nav-bottom";
@import "layouts/nav-header";
@import "layouts/home-search";
// @import "layouts/profile-search";
@import "layouts/popup";
@import "layouts/picker";
@import "layouts/card-profile";


// pages
@import "pages/index/index";
@import "pages/index/button-list";
@import "pages/index/search-map";

@import "pages/profile-buttons";
@import "pages/chats";
@import "pages/login";
@import "pages/register";
@import "pages/recovery";
@import "pages/profile-edition";
@import "pages/faqs";
@import "pages/button-net";
@import "pages/button-file";



html, body {
  background-color: $color-ligth-gray;
}

.notifications-index, ._c-notification__container--top_rc8i2a {
  z-index: 15000 !important;
}

.disabled {
  pointer-events: none;
  background-color: #C8C8C8;
  color: #858585;
}

.invisible {
  visibility: hidden;
}
