
// variables
@import "variables/colors";
@import "variables/margins";
@import "variables/paddings";
@import "variables/breakpoints";
@import "variables/border";
@import "variables/box-shadow";
@import "variables/fonts";
@import "variables/grid";
@import "variables/z-index";
@import "variables/animations";
@import "variables/text-style";
@import "variables/btn-animation";

@import "reset";

//////////////// ELEMENTS

@import "elements/label";
@import "elements/icon";
@import "elements/picture";
@import "elements/avatar";
@import "elements/drag-tab";
@import "elements/hashtag";
@import "elements/checkbox";
@import "elements/checkbox-circle";

// elements (form)
@import "elements/form";
@import "elements/btn";
@import "elements/textarea";
@import "elements/dropdown";
@import "elements/dropdown-select";
@import "elements/accordion";

////////////////// COMPONENTS

// componentss (general)
@import "components/error-message";
@import "components/marker-button";
@import "components/marker-net";
@import "components/form-chat";
@import "components/message";
@import "components/picker-time";
@import "components/dropdown-nets";
@import "components/overlay-loading";
@import "components/picker";
@import "components/card-button-map";
@import "components/card-button-list";
@import "components/card-chat";
@import "components/feed";
@import "components/nav-bottom";
@import "components/nav-header";
@import "components/_header-info-overlay";
@import "components/popup-register";
@import "components/header-search";
@import "components/card-button";
@import "components/card-notification";
@import "components/_filters";
@import "components/card-profile";


//////////////////// LAYOUTS

// layouts (general)
@import "layouts/header-desktop";
@import "layouts/trending-tags";
@import "layouts/button-new-location";
@import "layouts/button-new-date";
@import "layouts/button-share";
@import "layouts/popup-create-net";
@import "layouts/chat";
@import "layouts/list";
@import "layouts/popup";
@import "layouts/repository";


// pages
@import "pages/index/index";
@import "pages/index/button-list";
@import "pages/index/search-map";
@import "pages/profile-buttons";
@import "pages/chats";
@import "pages/login";
@import "pages/register";
@import "pages/recovery";
@import "pages/profile-edition";
@import "pages/faqs";
@import "pages/network-access";
@import "pages/button-file";



html, body {
  background-color: $color-ligth-gray;
}

.notifications-index, ._c-notification__container--top_rc8i2a {
  z-index: 15000 !important;
}

.disabled {
  pointer-events: none;
  background-color: #C8C8C8;
  color: #858585;
}

.invisible {
  visibility: hidden;
}
