$card-button-map-background: $color-white;
$card-button-map-border: 1px solid $color-ligth-gray;
$card-button-map-box-shadow: none;
$card-button-map-busca-background: $color-red;
$card-button-map-ofrece-background: $color-green;
$card-button-map-paragraph-color: $color-gray;
$card-button-map-margin-bottom: 1rem;
$card-button-map-width: 20rem;
$card-button-map-image-height: 10rem;
$card-button-map-margin: 0.5rem;
$card-button-map-situation-background-size: 14px;
$card-button-map__submenu-show-width: 120px;
$card-button-map__submenu-show-left: calc( #{$card-button-map__submenu-show-width} / -2 );
$card-button-map-size-icon-before: 18px;

// convivences
$card-button-map-whitespace: .5rem;
$card-button-map-border-height: $border-general-height;

.card-button-map {
  background: $color-white;
  border: $card-button-map-border;
  max-width: $card-button-map-width;
  box-shadow: $card-button-map-box-shadow;
  position: relative;
  margin: auto;
  margin-bottom: $card-button-map-margin-bottom;
  border-radius: 0 0 $border-radius-basic  $border-radius-basic;
  p {
    margin-bottom: 0;
  }
}

.card-button-map:after{
  content: '';
  border-radius: 0;
  display: inline-block;
  height: $card-button-map-border-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-button-map:after {
  background:  var(--button-color);
}

.card-button-map--wrapper {
  .leaflet-popup-content-wrapper{
    background: transparent;
    box-shadow: none;
  }
  .leaflet-popup-tip-container {
    display: none;
  }
}

.card-button-map--white {
  background: $color-white;
}

.card-button-map {
  &--exchange-deactivated,
  &--offer-deactivated,
  &--need-deactivated {
    opacity: 0.5;
    background: grey;
  }
}


.card-button-map__content {
  padding: 1rem;
}

.card-button-map__header {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  justify-content: space-between;
  padding-bottom: $card-button-map-whitespace;
}

.card-button-map__avatar {
  flex: 0 1 15%;
  & > button {
    border: none;
    background: none;
    padding: 0;
  }
}

.card-button-map__info {
  flex: 0 1 80%;
  width: 0rem;
  text-align: left;
}

.card-button-map__submenu {
  background: transparent url('../../../public/assets/svg/icons/down.svg') center no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
  text-indent: -9999999px;
  width: 18px;
}

.card-button-map__submenu-show {
  background: $color-corporative;
  color: $color-red;
  left: $card-button-map__submenu-show-left;
  position: absolute;
  width: $card-button-map__submenu-show-width;
}


.card-button-map__submenu-link {
  color: $color-black;
  display: block;
  font-size: $font-size-general;
  font-weight: bold;
  padding: .25rem .5rem;
  text-indent: 0;
}

.card-button-map__map-container {
  border-radius: 5px !important;
}


.card-button-map__calification {
  color: $color-gray;
  font-size: $font-size-general;
}

.card-button-map__status {
  color: $color-gray;
  font-size: $font-size-general;
  font-weight: bold;
  &--offer {
    color: $color-green;
  }
  &--need {
    color: $color-red;
  }
}

.card-button-map__name {
  font-size: $font-size-general;
  text-overflow: ellipsis;
  //overflow-x: hidden;
  font-weight: bold;
  padding-top: .25rem;
}

.card-button-map__title {
  color: $color-gray;
  font-size: $font-size-general;
}

.card-button-map__situation {
  color: $color-gray;
  display: flex;
  font-size: $font-size-general;
  font-weight: bold;
  flex-flow: row nowrap;
  padding: .5rem 0 $card-button-map-whitespace 0;
}

.card-button-map__local,
.card-button-map__time {
  padding-left: 1.5rem;
}

.card-button-map__local {
  background: transparent url('../../../public/assets/svg/icons/place.svg') left center no-repeat;
  background-size: auto $card-button-map-situation-background-size;
}

.card-button-map__time {
  background: transparent url('../../../public/assets/svg/icons/time.svg') left center no-repeat;
  background-size: $card-button-map-situation-background-size;
  margin-left: 1rem;
}

.card-button-map__need,
.card-button-map__offer {
  display: flex;
  flex-flow: row wrap;
  padding: .25rem 0 0 0;
}

.card-button-map__need {
  .hashtag {
    background: $card-button-map-busca-background;
    font-weight: bold;
    &:hover {
      color: $hashtag-hover-color;
      background: $color-black;
    }
  }
}

.card-button-map__offer {
  .hashtag {
    background: $card-button-map-ofrece-background;
    font-weight: bold;
    &:hover {
      color: $hashtag-hover-color;
      background: $color-black;
    }
  }
}

.card-button-map__exchange {
  .hashtag {
    background: $color-black;
    font-weight: bold;
    &:hover {
      color: $hashtag-hover-color;
      background: $color-green;
    }
  }
}


.card-button-map__paragraph {
  word-break: break-word;
  color: $card-button-map-paragraph-color;
  font-size: $font-size-general;
  white-space: pre-line;
  text-align: left;

  & p {
    margin-top: 0;//Revise
  }

  & a {
    color: $color-blue;
    cursor: pointer;
  }
}

.card-button-map__phone {
  word-break: break-word;
  white-space: nowrap;
}

.card-button-map__nets{
  padding: $card-button-map-whitespace 0;
  display: flex;

}

.resume {
  word-break: break-word;
  color: $card-button-map-paragraph-color;
  font-size: $font-size-general;
  line-height: $text-line-height-small;
  padding: $padding-small 0;
  text-align: left;
}

.card-button-map__picture {
  position: relative;

}

.card-button-map__picture-container {

  width: auto;
  max-height: $card-button-map-image-height;
  height: $card-button-map-image-height;
  overflow: hidden;
  border-radius: $border-radius-basic;
  margin: 0 $card-button-map-margin $card-button-map-margin $card-button-map-margin;
  display: flex;
  justify-content: center;
  position: relative;

}


.card-button-map__nav {

  width: 100%;
  height: inherit;
  position: absolute;
  z-index: $z-index-01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-small;

}

.card-button-map__nav .arrow {

  @extend .btn-circle--small !optional;

}

.card-button-map__nav .arrow--left {
  @extend .card-button-map__nav;
}

.card-button-map__nav .arrow--right {
  @extend .card-button-map__nav;
}


.card-button-map__city,
.card-button-map__city-list,
.card-button-map__date {
  color: black;
  font-size: $font-size-general;
  font-weight: bold;
  text-align: left;
}

.card-button-map__date {
  text-indent: -29px;
  padding-left: 44px;
}

.card-button-map__city {
  cursor: pointer;
  padding-right: 1rem;
  text-decoration: underline;
  text-align: left;
  display: inline-block;
}

.card-button-map__city-list {
  cursor: pointer;
  padding-right: 1rem;
  text-align: left;
  display: inline-block;
}

.card-button-map__everywhere {
  cursor: pointer;
  padding-right: 1rem;
  text-decoration: none;
  text-align: left;
  display: inline-block;
}

.card-button-map__toCity {
  margin-left: 30px;
  text-decoration: underline;
}

.card-button-map__toCity-list {
  margin-left: 30px;
}

.card-button-map__close-map {
  position: absolute;
  z-index: 401;
  right: 0;
  padding: .5rem;
}

.card-button-map__city:before,
.card-button-map__city-list:before,
.card-button-map__date:before {
  background: red;
  content: '';
  display: inline-block;
  height: $card-button-map-size-icon-before;
  margin-right: .5rem;
  transform: translateY(.25rem);
  width: $card-button-map-size-icon-before;
}

.card-button-map__city:before,
.card-button-map__city-list:before {
  background: transparent url('../../../public/assets/svg/icons/icon-map.svg') left center no-repeat;
  background-size: 100% auto;
}

.card-button-map__date:before {
  background: transparent url('../../../public/assets/svg/icons/time_black.svg') left center no-repeat;
  background-size: 100% auto;
}

.card-button-map__avatar-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 70px;
  max-width: 70px;
  height: 70px;
  width: 70px;
  & .card-avatar {
    width: auto;
    height: 100%;
  }
}

.card-button-map__map {
  max-height: 45vh;
  height: 500px;
  border-radius: 5px;
  & .leaflet-control-container {
    display: none;
  }
}


//revise nueva clase
.card-button-maps {
  display: flex;
}
