.card-button-featured {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .card-button-featured__container {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* padding: 10px; */
  }
  
  .card-button-featured__hr {
    background-color: #23bb9b;
    height:8px;
  }
  
  .card-button-featured__content {
    display: flex;
   /*  margin: 2px 4px; */
    gap: 8px;
    align-items: center;
    /* width: 45%; */
    margin-top: -7px;
    height: 105%;
  }
  
  /* .card-button-featured__content-description {
    font-size: 1.1rem;
    font-weight: 400;
    width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
  
  .card-button-featured__content-description {
    font-weight: 400;
    margin: 8px 0 8px 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
    line-height: 1.5em;
  }
  
  .card-button-featured__content-image {
    width: 130px;
    height: 250px;
    border-radius: 0 4px;
    object-fit: cover;
  }
  
  .card-button-featured__content-avatar {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  
  .homeinfo-card__section2 {
    border-radius: 8px;
    background-color: transparent;
    padding: 5px;
    font-weight: 500;
    margin-top: 7px;
    color: #828282;
    font-size: 14px;
    border-color: #f0f0f0;
    border: 0px solid #f0f0f0;
    line-height: 1.5rem;
  }
  
  .card-button-featured__content-type {
    color: #23bb9b;
    font-weight: 500;
    height: 16px;
  }
  
  .card-button-featured__content-user {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .card-button-featured__content-userdata span {
    margin-right:4px;
  }
  
  .card-button-featured__content-userdata span:nth-child(2) {
    font-weight: 200;
  }
  
  .card-button-featured__content-tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card-button-featured__content-address, .card-button-featured__content-time {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
    margin-right: 4px;
  }
  
  .card-button-featured__content-time  {
    margin-bottom: 8px;
  }
  
  .card-button-featured__content-address svg, .card-button-featured__content-time svg {
    margin-top: 3px;
    min-height: 16px;
    min-width: 16px;
  }
  
  @media only screen and (max-width: 800px) {
    .card-button-featured  {
      display: block;
    }
    .card-button-featured__container {
      width: 100%;
      margin-bottom: 16px;
    }
    .card-button-featured__content {
      margin-top: 0;
      margin-bottom: -7px;
    }
    .card-button-featured__content-image {
      height: 210px;
    }
  }