$card-button-background: $color-white;
$card-button-border: 1px solid $color-ligth-gray;
$card-button-box-shadow: $box-shadow-card;
$card-button-ofrece-background: $color-green;
$card-button-paragraph-color: $color-gray;
$card-button-margin-bottom: 1rem;
$card-button-margin-bottom: 1rem;
$card-button-avatar-height: 40px;
$card-button-picture-max-height: 500px;
$card-button-situation-background-size: 14px;
$card-button__submenu-show-width: 120px;
$card-button__submenu-top-arrow-right: $padding-big;
$card-button__submenu-show-left: calc( #{$card-button__submenu-show-width} / -2 );
$card-button-size-icon-before: 18px;

// convivences
$card-button-whitespace: .5rem;
$card-button-border-height: $border-general-height;

.card-button {
  background: $card-button-background;
  position: relative;
  
  p {
    margin-bottom: 0;
  }
}

.card-button__content > * {

  display: flex;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  line-clamp: 2; 

}


.card-button:after,
.card-button:before {
  content: '';
  border-radius: 0;
  display: inline-block;
  height: $card-button-border-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



.card-button__content {

  padding: $padding-big;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;

}

.card-button__content--small {

  padding:  $padding-medium $padding-small $padding-small $padding-medium;


}


.card-button__header {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
  justify-content: space-between;
  gap: $padding-big;

}

.card-button__author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: $padding-big;
  padding:  $padding-medium $padding-big;
  justify-content: space-between;
  border-top: 1px $color-ligth-gray solid;

}

.card-button__author-title {

  color: $color-gray;
  font-size: $font-size-general;

}

.card-button__author-description {

  font-size: $font-size-small;
  color: $color-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3.6em;
  line-height: $text-line-height-xsmall;

}

.card-button__avatar {
  // flex: 0 1 12%;

  & > button {
    border: none;
    background: none;
    padding: 0;
  }
}

.card-button__info {
  flex: 100%;
  text-align: left;
  align-items: start;
}


.card-button__rating {
  margin-left: 0;
  display: flex;
  align-items: center;
  vertical-align: baseline;
  overflow:scroll;
  span {
    align-items: center;
    padding-right: 1rem;
  }

  button {

    margin-left: 0;

  }
}

.card-button__description {

 color: $color-dark-gray;
}


.card-button__actions {
  padding: $padding-big;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  vertical-align: baseline;
  background-color: $color-white;
  border-top: 1px dashed $color-ligth-gray;
  border-radius: 0 0 $border-radius-circle $border-radius-circle;
  span {
    align-items: center;
    padding-right: 1rem;
  }

  button {

    margin-left: 0;

  }
}

.card-button__actions--mid {

  border: 0;

}

.card-button__phone-section{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap:inherit;
  font-size: $font-size-small;
  gap: $padding-medium;

}

.card-button__rating--phone {

//  text-wrap: nowrap;
 font-weight: $font-weight-bold;

}

.card-button__custom-fields-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.card-button__custom-fields-wrapper {

  flex: 1;

}


.card-button__submenu {
  // background: transparent url('../../../public/assets/svg/icons/down.svg') center no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
  margin-top: $margin-xsmall;
  text-indent: -9999999px;
  width: 18px;

  svg {

    // padding-top: $padding-big;
    // display: block;

  }
}


.card-button__submenu-show {
  background: $color-corporative;
  color: $color-red;
  left: $card-button__submenu-show-left;
  position: absolute;
  width: $card-button__submenu-show-width;
}


.card-button__submenu-link {
  color: $color-black;
  display: block;
  font-size: $font-size-general;
  font-weight: bold;
  padding: .25rem .5rem;
  text-indent: 0;
}

.card-button__map-container {
  border-radius: 5px !important;
}


.card-button__calification {
  color: $color-gray;
  font-size: $font-size-general;
}

.card-button__status {
  font-size: $font-size-general;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1;
  color:  var(--button-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-button__emoji{

  font-size: $font-size-title;
  margin-right: $padding-small;

}

.card-button__file:after{
  background:  var(--button-color)
}

.card-button__name {
  font-size: $font-size-small;
  text-overflow: ellipsis;
  //overflow-x: hidden;
  font-weight: bold;
  padding-top: 0;
  color: $color-black;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  a {

    color: $color-black;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.card-button__name:first-letter {
  text-transform: uppercase;
}

.card-button__username {
  color: $color-gray;
  font-weight: $font-weight-light;

}


.card-button__title {
  font-weight: $font-weight-bold;
  color: $color-black;
  font-size: $font-size-title;
  padding: $padding-small 0;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  word-wrap: break-word;
  line-height: 1.3em;
  margin-bottom: $margin-xsmall;
  text-overflow: ellipsis;

}


.card-button__title:first-letter {

  text-transform: uppercase;
}

.card-button__situation {
  color: $color-gray;
  display: flex;
  font-size: $font-size-small;
  font-weight: bold;
  flex-flow: row nowrap;
  padding: .5rem 0 $card-button-whitespace 0;
}

.card-button__local,
.card-button__time {
  padding-left: 1.5rem;
}

.card-button__local {
  background: transparent url('../../../public/assets/svg/icons/place.svg') left center no-repeat;
  background-size: auto $card-button-situation-background-size;
}

.card-button__time {
  background: transparent url('../../../public/assets/svg/icons/time.svg') left center no-repeat;
  background-size: $card-button-situation-background-size;
  margin-left: 1rem;
}

.card-button__hashtags {
  -webkit-line-clamp: 3;
  -webkit-box-orient:horizontal;
  overflow: scroll;
  color: black;
    &:hover {
      // color: $hashtag-hover-color;
      // background: $color-black;
    }
  
}

.card-button__ofrece {
  .hashtag {
    background: $card-button-ofrece-background;
    font-weight: bold;
    background: $color-black;
    &:hover {
      color: $hashtag-hover-color;
      background: $color-black;
    }
  }
}

.card-button__paragraph {
  word-break: break-word;
  color: $card-button-paragraph-color;
  font-size: $font-size-general;
  white-space: pre-line;
  text-align: left;
  // height: 3rem;
  // overflow: hidden;
  flex-grow: 1;
  display: block;
  margin: $margin-xxsmall 0  $margin-small 0;

  & p {
    margin-top: 0;//Revise
    line-height: 1em;
    height: 2.5em;
  }

  & a {
    color: var(--network-text-color);
    cursor: pointer;
  }
}




.card-button__paragraph:first-letter {
  text-transform: uppercase;
}


.card-button__phone {
  word-break: break-word;
  white-space: nowrap;
}

.card-button__nets{
  padding: $card-button-whitespace 0;
  display: flex;

}

.card-button__price {
  word-break: break-word;

  font-weight: $font-weight-bold;
  color: var(--network-text-color);
  white-space: nowrap;
}

.card-button__price--button-page {
 font-size: $font-size-title;
}

.resume {
  word-break: break-word;
  color: $card-button-paragraph-color;
  font-size: $font-size-general;
  line-height: $text-line-height-small;
  padding: $padding-small 0;
  text-align: left;
}

.card-button__picture {
  width: 100%;
  position: relative;
  // max-height: $card-button-picture-max-height;
  // height: auto;
  // overflow-x: hidden;
  text-align: center;
  & img {

    width: auto;
    object-fit: cover;
  }

  .hide{
    display:none;
  }
  .show{
    display:block;
  }
}

//image arrows
.card-button__picture-nav {

  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  padding: 0 $padding-small;
  z-index: $z-index-01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // display: none; //revise if image navigation

}

.card-button__picture-nav .arrow {

  @extend .btn-circle--small !optional;
  padding: 0;

}

.card-button__picture-nav .arrow--left {
  @extend .card-button-map__nav;
}

.card-button__picture-nav .arrow--right {
  @extend .card-button-map__nav;
}

// .card-button .avatar {
//   width: $card-button-avatar-height;
//   height: $card-button-avatar-height;
// }

.card-button__edit-icon {
  width: auto;
  height: 30px;
  position: absolute;
  right: $padding-xsmall;
}

.card-button__options-menu {
  display: none;

}

.card-button__dropdown-container {
  display: block;
  position: absolute;
  z-index: $z-index-01;
  right: 0;
  top: 2rem;
}

.card-button__dropdown-content {
  background: $color-dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: $border-radius-basic;
  z-index: $z-index-03;
  height: 100%;
  overflow-y: auto;
  color: white;
  padding: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  & > a {
    color: white;
  }

  & > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.card-button__dropdown-arrow {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: auto;
  margin-right: $card-button__submenu-top-arrow-right;
}

.card-button__trigger {
  position: absolute;
  right: 0;
  padding-right: 15px;
  &-button {
    text-align: left;
    background: none;
    border: none;
    color: white;
  }

}

.card-button__trigger-options {
  height: 35px;
  border-radius: 1px;
  width: 100%;
  line-height: 35px;
  align-items: center;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  font-size: $font-size-general;

  &:hover {
    background-color: #ACACAC;
    color: $color-black;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &-input {
    line-height: 25px;
    margin : 5px 0;
    border-radius: 10px;
    padding-left: 25px;
    border: none;
    padding-right: 5px;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: none;
  &--email {
    padding-left: 4px;
    width: 100%;
    margin-left: -4px;
  }
  }
}

.card-button__city,
.card-button__city-list,
.card-button__date {
  color: black;
  font-size: $font-size-small;
  font-weight: bold;
  text-align: left;
  white-space:pre-wrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  // position: absolute;
  bottom: 0;
  align-self: baseline;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  // height: 2.6em;
  line-height: 1.1em;
}

.card-button__city {
  cursor: pointer;
  text-align: left;
}

.card-button__city--displayMap {
  text-decoration: underline;
  text-decoration-color: $color-black;
  background-color: transparent;
}

.card-button__city--displayMap::after {
  background: var(--network-background-color);
  border-radius: 34px;
  margin-left: $margin-xxsmall;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
}

.card-button__city-list {
  cursor: pointer;
  padding-right: 1rem;
  text-align: left;
  display: inline-block;
}


.card-button__toCity {
  margin-left: 30px;
  text-decoration: underline;
}

.card-button__toCity-list {
  margin-left: 30px;
}

.card-button__close-map {
  position: absolute;
  z-index: 401;
  right: 0;
  padding: .5rem;
}

.card-button__city:before,
.card-button__city-list:before,
.card-button__date:before {
  background: red;
  content: '';
  display: inline-block;
  height: $card-button-size-icon-before;
  margin-right: .1rem;
  transform: translateY(.25rem);
  width: $card-button-size-icon-before;
}

.card-button__city:before,
.card-button__city-list:before {
  background: transparent url('../../../public/assets/svg/icons/icon-map.svg') left center no-repeat;
  background-size: 100% auto;
}

.card-button__date:before {
  background: transparent url('../../../public/assets/svg/icons/time_black.svg') left center no-repeat;
  background-size: 100% auto;
}

.card-button__avatar-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 70px;
  max-width: 70px;
  height: 70px;
  & .card-avatar {
    width: auto;
    height: 100%;
  }
}

.card-button__map {
  max-height: 45vh;
  height: 500px;
  border-radius: 5px;
}


.card-button__locDate {
  display: flex;
  justify-content: space-between;
  gap: $margin-xsmall;
  margin-bottom: $margin-small;
}


.card-button__locDate--small {
  margin-top:auto;
  margin-bottom: 0;
}

