@use '../variables' as *;
@use 'card-button-list';
@use 'card-button-map';

$card-button-background: $color-white;
$card-button-border: 1px solid $color-ligth-gray;
$card-button-box-shadow: $box-shadow-card;
$card-button-ofrece-background: $color-green;
$card-button-paragraph-color: $color-gray;
$card-button-margin-bottom: 1rem;
$card-button-avatar-height: 40px;
$card-button-picture-max-height: 500px;
$card-button-situation-background-size: 14px;
$card-button__submenu-show-width: 120px;
$card-button__submenu-top-arrow-right: $padding-big;
$card-button__submenu-show-left: calc( #{$card-button__submenu-show-width} / -2 );

// convivences
$card-button-whitespace: .5rem;
$card-button-border-height: $border-general-height;

.card-button {
  background: $card-button-background;
  position: relative;
  
  p {
    margin-bottom: 0;
  }
}

.card-button__wrapper {

  width: 100%;

}

.card-button__content,
.card-button__content--small {
  padding: $padding-big $padding-big $padding-medium $padding-big ;
}

.card-button__content--expired {

  @extend .card-button-list;
  position: absolute;
  background-color: $color-transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-base;
  color: $color-white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-xbig;
  font-weight: $font-weight-bolder;
  transform: rotate(45);

}

.card-button__full-content{
  padding: $padding-xbig $padding-xbig;
  padding-bottom: 0;
}

.card-button__content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.card-button__head-actions {
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: $padding-xbig;
  padding-right: $padding-xbig;
  gap: $padding-small;
  right: 0;
}

.card-button__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: $padding-big;

}

.card-button__author {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: $padding-big;
  padding:  $padding-medium $padding-xbig;
  justify-content: space-between;
  border-top: $border-style-light;
  max-width: $grid-max-width;
  margin-right: auto;
  background-color: $color-white;

}

.card-button__author-description {

  font-size: $font-size-small;
  color: $color-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3.6em;
  line-height: $text-line-height-xsmall;


}

.card-button__avatar {
  // flex: 0 1 12%;

  align-self: center;

  & > button {
    border: none;
    background: none;
    padding: 0;
  }

  & a {

    color: $color-dark-gray;
    margin: auto;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.card-button__info {
  flex: 100%;
  text-align: left;
  align-items: start;
}



.card-button__actions {

  padding: $padding-xbig;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: baseline;
  background-color: $color-white;
  gap: $padding-small;

  border-top: 1px dashed $color-ligth-gray;
  border-radius: 0 0 $border-radius-circle $border-radius-circle;

  span {
    align-items: center;
    padding-right: 1rem;
  }

  button {

    margin-left: 0;

  }
}


.card-button__actions:empty {

  padding-top: 0;

}

.card-button__phone-section{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap:inherit;
  font-size: $font-size-small;
  gap: $padding-medium;
  // margin-top: $margin-xsmall;
  // height: 48px;

}

.card-button__custom-fields-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  gap: $padding-xsmall;
  font-weight: $font-weight-bolder;
  align-items: flex-start;
}


.card-button__submenu {
  // background: transparent url('../../../public/assets/svg/icons/down.svg') center no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
  text-indent: -9999999px;
  width: 18px;
  display: flex;

  svg {

    // padding-top: $padding-big;
    // display: block;

  }
}




.card-button__status {
  font-size: $font-size-medium;
  font-weight: bold;
  text-transform: capitalize;
  max-width: 300px;
  line-height: $text-line-height-small;
  color:  var(--button-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-button__status:before{
  content: '';
  display: inline-block;
  height: $card-button-list-border-height;
  border-radius:  0 0 $border-radius-semicircle  $border-radius-semicircle;
  position: absolute;
  width: 20%;
  margin-left: $padding-xsmall;
  background:  var(--button-color);
  top: 0;
}

.card-button__emoji{

  font-size: $font-size-xbig;
  margin-right: $padding-small;

}

.card-button__file:after{
  background:  var(--button-color)
}

.card-button__name {
  font-size: $font-size-medium;
  text-overflow: ellipsis;
  //overflow-x: hidden;
  margin-bottom: $padding-small;
  font-weight: bold;
  padding-top: 0;
  color: $color-black;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: $font-weight-bolder;


  a {

    color: $color-black;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.card-button__name:first-letter {
  text-transform: uppercase;
}

.card-button__username {
  color: $color-gray;
  font-weight: $font-weight-light;

}


.card-button__title {
  font-weight: $font-weight-bold;
  color: $color-black;
  font-size: $font-size-xxbig;
  padding: $padding-big 0 $padding-xsmall 0;

  display: flex;
  flex-direction: row;
  align-items:flex-start;
  word-wrap: break-word;
  line-height: 1.3em;


  word-break: break-word;
}


.card-button__title:first-letter {

  text-transform: uppercase;
}

.card-button__hashtags {

  display: flex;
  -webkit-line-clamp: 3;
  -webkit-box-orient:horizontal;
  overflow: scroll;
  color: $color-black;
  flex-wrap: wrap;

    &:hover {
      // color: $hashtag-hover-color;
      // background: $color-black;
    }
  
}

.card-button__paragraph {
  word-break: break-word;
  color: $card-button-paragraph-color;
  font-size: $font-size-medium;
  white-space: pre-line;
  padding-bottom: $padding-big;
  text-align: left;
  flex-grow: 1;
  display: block;
  margin: $margin-xxsmall 0  $margin-xxsmall 0;
  color: $color-gray;
  & p {
    margin-top: 0;
    line-height: 1.5rem;
  }

  & a {
    color: var(--network-accent-color);
    cursor: pointer;
  }
}

.card-button-list__paragraph--small-card {

  padding-top: 0;

}

.card-button__paragraph:first-letter {
  text-transform: uppercase;
}


.card-button__phone {
  word-break: break-word;
  white-space: nowrap;
}

.card-button__nets{
  padding: $card-button-whitespace 0;
  display: flex;

}

.card-button__price {
  word-break: break-word;

  font-weight: $font-weight-bold;
  color: $color-white;
  position: absolute;
  right: $padding-medium;
  top: $padding-medium;

  padding: $padding-small $padding-big;
  background-color: var(--network-accent-color);
  border-radius: $border-radius-circle;
  width: fit-content;
  display: flex;
}

.card-button__custom-fields-container--button-page {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .card-button__price {

    font-size: $font-size-xbig;
    position: relative;
    top: auto;
    right: auto;

  }

}

.resume {
  word-break: break-word;
  color: $card-button-paragraph-color;
  font-size: $font-size-medium;
  line-height: $text-line-height-small;
  padding: $padding-small 0;
  text-align: left;
}

.card-button__picture {
  width: 100%;
  position: relative;
  text-align: center;
  
  & img {

    max-width: 100%;
    width: 100%;
    max-height: 400px;
    object-fit: cover !important;
    pointer-events: auto;

    &:hover{
      cursor: pointer;
    }

  }

  .hide{
    display:none;
  }
  .show{
    display:block;
    margin: auto;
    width: fit-content;
  }
}

//image arrows
.card-button__picture-nav {

  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  padding: 0 $padding-medium;
  z-index: $z-index-01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: transparent;
  pointer-events: none;
  // display: none; //revise if image navigation

}

.card-button__picture-nav .arrow {

  @extend .btn-circle--small !optional;
  pointer-events: auto;

}

.card-button__picture-nav .arrow--left {
  @extend .card-button-map__nav;
}

.card-button__picture-nav .arrow--right {
  @extend .card-button-map__nav;
}

// .card-button .avatar {
//   width: $card-button-avatar-height;
//   height: $card-button-avatar-height;
// }

.card-button__edit-icon {
    width: auto;
    height: 30px;
    position: relative;
}

.card-button__dropdown-container {
  display: block;
  position: absolute;
  z-index: $z-index-03;
  right: $padding-xxsmall;
  top: 3rem;
  width: max-content;
}

.card-button__dropdown-content {
  background: $color-dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: $border-radius-basic;
  z-index: $z-index-04;
  height: 100%;
  overflow-y: auto;
  color: white;
  padding: $padding-medium;

  & > a {
    color: white;
  }

  & > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.card-button__dropdown-arrow {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: auto;
  margin-right: $card-button__submenu-top-arrow-right;
}

.card-button__trigger {
  position: absolute;
  right: 0;
  padding-right: $padding-big;
}

.card-button__trigger-button {
  text-align: left;
  background: none;
  border: none;
  color: white;
}

.card-button__trigger-options {
  height: $height-filter;
  border-radius: 1px;
  width: 100%;
  line-height: $text-line-height-xsmall;
  align-items: center;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  font-size: $font-size-medium;

  &:hover {
    background-color: #ACACAC;
    color: $color-black;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.card-button__city {
  display: flex;
  font-size: $font-size-medium;
  cursor: pointer;
  text-align: left;
  text-overflow: ellipsis;
  justify-content: center;
  align-items: center;
  gap: $padding-small;


  & svg{
    height: 20px;
    min-width: 20px;
  }
}



.card-button__city--displayMap {
  text-decoration: underline;
  text-decoration-color: $color-black;
  background-color: transparent;
  margin-bottom: $margin-small ;
}

.card-button__city--noMap {

  background-color: transparent;
  margin-bottom: $margin-small ;
}


.card-button__date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $padding-small;

  & svg{
    height: 20px;
    min-width: 20px;
  }
}

.card-button__bottom-properties {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $padding-xsmall;
  overflow: visible;
  font-weight: $font-weight-bolder;
  align-items: flex-start;
  justify-content: center;

}



.card-button__gallery-zoom
{
  position: fixed;
  z-index: $z-index-03;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: $color-dark-gray;
}

.card-button__gallery-zoom--close-btn {

  position: absolute;
  z-index: $z-index-03;
  top: 0;
  right: 0;
  margin: $margin-small; 

}

.card-button__image-wrapper {

  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  position: relative;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain !important;
    pointer-events: auto;
    z-index: $z-index-02;

  }

}


.card-button__followers {

  padding: $padding-big $padding-xbig;
  border-top: $border-style-light;
  padding-bottom: $padding-medium;
  background: $color-white;

}

.card-button__followers-row {
  display: flex;
  flex-direction: row;
  padding: $padding-small;
  gap: $padding-small;
}

.card-button__followers__avatars {

  font-weight: $font-weight-bolder;

}

.card-button__followers-title {

  font-weight: $font-weight-bold;

}

@media #{$breakpoints-medium} {

  .card-button__bottom-properties {
    display: flex;
    // flex-direction: row;
    justify-content: flex-start;
    // align-items: flex-end;
    flex-wrap: wrap;
    overflow: visible;
    // gap: $margin-small;
    margin-bottom: $margin-small;

  }

  .card-button__head-actions {
    
    padding-top: $margin-medium;
    padding-right: $margin-medium;
    gap: $padding-big;
    right: 0;
  }

  .card-button__title {

    margin-bottom: $margin-xsmall;

  }

  .card-max-width {

    max-width: $grid-column-max-width;


  }

  .card-button__picture-nav {

  
  }

  .card-button__picture-nav--zoom {

    padding: 0 $padding-xbig;

  }




}


@media #{$breakpoints-xlarge} {


  .card-button__full-content,
  .card-button__author,
  .card-button__actions {

    padding: $padding-xbig;

  }

  .card-button__author {

    gap: $padding-xbig;

  }

  .card-button__phone-section {

    min-width: 33%;

  }

  .card-button__dropdown-container {

    right: $padding-xxsmall;
    top: calc($margin-big + $margin-big);

  }

  .card-button__submenu {


  }

  .card-button__full-content {

    padding-bottom: 0;

  }


  .card-button__title {

    padding-top: $padding-big;

  }

  .card-button__image-wrapper {

    // max-width: 600px;

    img {
      max-width: 800px;
      margin: auto;
    }

  }

}