$card-button-background: $color-white;
$card-button-border: 1px solid $color-ligth-gray;
$card-button-box-shadow: $box-shadow-card;
$card-button-ofrece-background: $color-green;
$card-button-paragraph-color: $color-gray;
$card-button-margin-bottom: 1rem;
$card-button-margin-bottom: 1rem;
$card-button-avatar-height: 40px;
$card-button-picture-max-height: 500px;
$card-button-situation-background-size: 14px;
$card-button__submenu-show-width: 120px;
$card-button__submenu-top-arrow-right: $padding-big;
$card-button__submenu-show-left: calc( #{$card-button__submenu-show-width} / -2 );
$card-button-size-icon-before: 20px;

// convivences
$card-button-whitespace: .5rem;
$card-button-border-height: $border-general-height;

.card-button {
  background: $card-button-background;
  position: relative;
  
  p {
    margin-bottom: 0;
  }
}

.card-button:after,
.card-button:before {
  content: '';
  border-radius: 0;
  display: inline-block;
  height: $card-button-border-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-button__content,
.card-button__content--small {
  padding: $padding-big $padding-big;
}


.card-button__full-content{
  padding: $padding-huge $padding-huge;
}

.card-button__content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.card-button__head-actions {
  display: flex;
  position: absolute;
  align-items: center;
  padding-top: $padding-huge;
  padding-right: $padding-huge;
  gap: $padding-big;
  right: 0;
}

.card-button__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: $padding-big;

}

.card-button__author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: $padding-huge;
  padding:  $padding-medium $padding-huge;
  justify-content: space-between;
  border-top: $border-style-light;

}

.card-button__author-title {

  color: $color-gray;
  font-size: $font-size-small;

}

.card-button__follow-wrap {

  background-color: $color-ligth-gray;
  font-size: $font-size-xsmall;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: $border-radius-semicircle;
  padding: 0 $padding-medium;
  padding-right: 0;

}

.card-button__author-description {

  font-size: $font-size-small;
  color: $color-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 3.6em;
  line-height: $text-line-height-xsmall;


}

.card-button__avatar {
  // flex: 0 1 12%;

  & > button {
    border: none;
    background: none;
    padding: 0;
  }

  & a {

    color: $color-dark-gray;
    margin: auto;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.card-button__info {
  flex: 100%;
  text-align: left;
  align-items: start;
}


.card-button__rating {
  margin-left: 0;
  display: flex;
  align-items: center;
  vertical-align: baseline;
  overflow:scroll;
  span {
    align-items: center;
    padding-right: 1rem;
  }

  button {

    margin-left: 0;

  }
}

.card-button__description {

 color: $color-dark-gray;
}


.card-button__actions {
  padding: $padding-huge;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: baseline;
  background-color: $color-white;
  border-top: 1px dashed $color-ligth-gray;
  border-radius: 0 0 $border-radius-circle $border-radius-circle;
  span {
    align-items: center;
    padding-right: 1rem;
  }

  button {

    margin-left: 0;

  }
}

.card-button__actions--mid {

  border: 0;

}

.card-button__phone-section{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap:inherit;
  font-size: $font-size-small;
  gap: $padding-medium;
  margin-top: $margin-xsmall;
  height: 48px;

}

.card-button__rating--phone {

//  text-wrap: nowrap;
 font-weight: $font-weight-bold;

}

.card-button__custom-fields-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  gap: $padding-xsmall;
}

.card-button__custom-fields-wrapper {

  flex: 1;

}


.card-button__submenu {
  // background: transparent url('../../../public/assets/svg/icons/down.svg') center no-repeat;
  background-size: 100%;
  height: 100%;
  position: relative;
  text-indent: -9999999px;
  width: 18px;
  display: flex;

  svg {

    // padding-top: $padding-big;
    // display: block;

  }
}


.card-button__submenu-show {
  background: $color-corporative;
  color: $color-red;
  left: $card-button__submenu-show-left;
  position: absolute;
  width: $card-button__submenu-show-width;
}


.card-button__submenu-link {
  color: $color-black;
  display: block;
  font-size: $font-size-general;
  font-weight: bold;
  padding: .25rem .5rem;
  text-indent: 0;
}

.card-button__map-container {
  border-radius: 5px !important;
}


.card-button__calification {
  color: $color-gray;
  font-size: $font-size-general;
}

.card-button__status {
  font-size: $font-size-general;
  font-weight: bold;
  text-transform: capitalize;
  max-width: 300px;
  line-height: $text-line-height-small;
  color:  var(--button-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-button__emoji{

  font-size: $font-size-title;
  margin-right: $padding-small;

}

.card-button__file:after{
  background:  var(--button-color)
}

.card-button__name {
  font-size: $font-size-general;
  text-overflow: ellipsis;
  //overflow-x: hidden;
  margin-bottom: $padding-small;
  font-weight: bold;
  padding-top: 0;
  color: $color-black;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;


  a {

    color: $color-black;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.card-button__name:first-letter {
  text-transform: uppercase;
}

.card-button__username {
  color: $color-gray;
  font-weight: $font-weight-light;

}


.card-button__title {
  font-weight: $font-weight-bold;
  color: $color-black;
  font-size: $font-size-huge;
  padding: $padding-big 0 $padding-xsmall 0;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  word-wrap: break-word;
  line-height: 1.3em;


  word-break: break-word;
}


.card-button__title:first-letter {

  text-transform: uppercase;
}

.card-button__situation {
  color: $color-gray;
  display: flex;
  font-size: $font-size-small;
  font-weight: bold;
  flex-flow: row nowrap;
  padding: .5rem 0 $card-button-whitespace 0;
}

.card-button__local,
.card-button__time {
  padding-left: 1.5rem;
}

.card-button__local {
  background: transparent url('../../../public/assets/svg/icons/place.svg') left center no-repeat;
  background-size: auto $card-button-situation-background-size;
}

.card-button__time {
  background: transparent url('../../../public/assets/svg/icons/time.svg') left center no-repeat;
  background-size: $card-button-situation-background-size;
  margin-left: 1rem;
}

.card-button__hashtags-wrapper {

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: auto;

}

.card-button__hashtags-wrapper--hr {

  color: $color-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  font-size: $font-size-small;
  gap: $padding-big;

  & hr {
    border-top: $border-style-light;
    background-color: $color-ligth-gray;
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

}

.card-button__hashtags-wrapper--label {
  flex-wrap: nowrap;
  word-break: keep-all;
  white-space: no-wrap;
  min-width: max-content;
  width: max-content;
  font-size: $font-size-xsmall;
}

.card-button__hashtags {

  display: flex;
  -webkit-line-clamp: 3;
  -webkit-box-orient:horizontal;
  overflow: scroll;
  color: $color-black;

    &:hover {
      // color: $hashtag-hover-color;
      // background: $color-black;
    }
  
}

.card-button__ofrece {
  .hashtag {
    background: $card-button-ofrece-background;
    font-weight: bold;
    background: $color-black;
    &:hover {
      color: $hashtag-hover-color;
      background: $color-black;
    }
  }
}

.card-button__paragraph {
  word-break: break-word;
  color: $card-button-paragraph-color;
  font-size: $font-size-general;
  white-space: pre-line;
  padding-bottom: $padding-big;
  text-align: left;
  // height: 3rem;
  // overflow: hidden;
  flex-grow: 1;
  display: block;
  margin: $margin-xxsmall 0  $margin-xxsmall 0;

  & p {
    margin-top: 0;
    line-height: 1.5rem;
  }

  & a {
    color: var(--network-text-color);
    cursor: pointer;
  }
}

.card-button-list__paragraph--small-card {

  padding-top: 0;

}

.card-button__paragraph:first-letter {
  text-transform: uppercase;
}


.card-button__phone {
  word-break: break-word;
  white-space: nowrap;
}

.card-button__nets{
  padding: $card-button-whitespace 0;
  display: flex;

}

.card-button__price {
  word-break: break-word;

  font-weight: $font-weight-bold;
  color: var(--network-text-color);
}

.card-button__price--button-page {
 font-size: $font-size-title;
}

.resume {
  word-break: break-word;
  color: $card-button-paragraph-color;
  font-size: $font-size-general;
  line-height: $text-line-height-small;
  padding: $padding-small 0;
  text-align: left;
}

.card-button__picture {
  width: 100%;
  position: relative;
  text-align: center;
  
  & img {

    max-width: 100%;
    max-height: 400px;
    width: auto;
    object-fit: cover !important;
    pointer-events: auto;

    &:hover{
      cursor: pointer;
    }

  }

  .hide{
    display:none;
  }
  .show{
    display:block;
    margin: auto;
    width: fit-content;
  }
}

//image arrows
.card-button__picture-nav {

  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  padding: 0 $padding-small;
  z-index: $z-index-01;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: transparent;
  pointer-events: none;
  // display: none; //revise if image navigation

}

.card-button__picture-nav .arrow {

  @extend .btn-circle--small !optional;
  pointer-events: auto;

}

.card-button__picture-nav .arrow--left {
  @extend .card-button-map__nav;
}

.card-button__picture-nav .arrow--right {
  @extend .card-button-map__nav;
}

// .card-button .avatar {
//   width: $card-button-avatar-height;
//   height: $card-button-avatar-height;
// }

.card-button__edit-icon {
  width: auto;
  height: 30px;
  position: relative;
  right: $padding-xsmall;
}

.card-button__options-menu {
  display: none;

}

.card-button__dropdown-container {
  display: block;
  position: absolute;
  z-index: $z-index-01;
  right: $padding-xxsmall;
  top: 3rem;
  width: max-content;
}

.card-button__dropdown-content {
  background: $color-dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: $border-radius-basic;
  z-index: $z-index-03;
  height: 100%;
  overflow-y: auto;
  color: white;
  padding: 10px;
  padding-bottom: 10px;
  padding-right: 10px;

  & > a {
    color: white;
  }

  & > a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.card-button__dropdown-arrow {
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid transparent;
  margin-left: auto;
  margin-right: $card-button__submenu-top-arrow-right;
}

.card-button__trigger {
  position: absolute;
  right: 0;
  padding-right: 15px;
  &-button {
    text-align: left;
    background: none;
    border: none;
    color: white;
  }

}

.card-button__trigger-options {
  height: 35px;
  border-radius: 1px;
  width: 100%;
  line-height: 35px;
  align-items: center;
  padding: 25px;
  display: flex;
  justify-content: flex-start;
  font-size: $font-size-general;

  &:hover {
    background-color: #ACACAC;
    color: $color-black;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &-input {
    line-height: 25px;
    margin : 5px 0;
    border-radius: 10px;
    padding-left: 25px;
    border: none;
    padding-right: 5px;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: none;
  &--email {
    padding-left: 4px;
    width: 100%;
    margin-left: -4px;
  }
  }
}

.card-button__city-list,
.card-button__date,
.card-button__city {

  color: $color-black;
  font-size: $font-size-small;
  font-weight: bold;
  text-align: left;
  white-space:pre-wrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  bottom: 0;
  align-self: baseline;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;

  display: flex;
    justify-content: flex-start;
    align-items: center;

  line-height: 1.4em;

    & svg {

      min-width: $card-button-size-icon-before;
      min-height: $card-button-size-icon-before;
      margin-right: $margin-xxsmall;

    }
}

.card-button__city {
  font-size: $font-size-small;
  cursor: pointer;
  text-align: left;

  text-overflow: ellipsis;
}

.card-button__city--displayMap {
  text-decoration: underline;
  text-decoration-color: $color-black;
  background-color: transparent;
}

.card-button__city--displayMap::after {
  background: var(--network-background-color);
  border-radius: 34px;
  margin-left: $margin-xxsmall;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
}

.card-button__city-list {
  cursor: pointer;
  padding-right: 1rem;
  text-align: left;
  display: inline-block;
}


.card-button__toCity {
  margin-left: 30px;
  text-decoration: underline;
}

.card-button__toCity-list {
  margin-left: 30px;
}

.card-button__close-map {
  position: absolute;
  z-index: 401;
  right: 0;
  padding: .5rem;
}


.card-button__avatar-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-height: 70px;
  max-width: 70px;
  height: 70px;
  & .card-avatar {
    width: auto;
    height: 100%;
  }
}

.card-button__map {
  max-height: 45vh;
  height: 500px;
  border-radius: 5px;
}


.card-button__bottom-properties {

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: $margin-small;
  align-items: flex-start;
  overflow: visible;

}


.card-button__bottom-properties--small {
  margin-top:auto;
  margin-bottom: 0;
}


.card-button__picture-lightbox{
  background-color: pink;
}

.card-button__gallery-zoom
{
  position: fixed;
  z-index: $z-index-03;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: $color-dark-gray;
}

.card-button__gallery-zoom--close-btn {

  position: absolute;
  z-index: $z-index-03;
  top: 0;
  right: 0;
  margin: $margin-small; 

}

.card-button__image-wrapper {

  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain !important;
    pointer-events: auto;
    z-index: $z-index-02;

  }

}

.card-button__image-gallery {

  border-top: $border-style-light;

}


@media #{$breakpoints-medium} {

  .card-button__bottom-properties {
    gap: $margin-small;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    overflow: visible;
    gap: $margin-small;
    margin-bottom: $margin-small;

  }

  .card-button__head-actions {
    
    padding-top: $margin-medium;
    padding-right: $margin-medium;
    gap: $padding-big;
    right: 0;
  }

  .card-button__title {

    margin-bottom: $margin-xsmall;

  }


}


@media #{$breakpoints-xlarge} {


  .card-button__full-content,
  .card-button__author,
  .card-button__actions {

    padding: $padding-huge;

  }

  .card-button__actions {

    // flex-direction: row;
    gap: $padding-small;
    
  }

  .card-button__phone-section {

    min-width: 33%;

  }

  .card-button__dropdown-container {

    right: $padding-xxsmall;
    top: calc($margin-big + $margin-big);

  }

  .card-button__full-content {

    padding-bottom: $padding-huge;

  }


  .card-button__title {

    padding-top: $padding-big;

  }

  .card-button__image-wrapper {

    // max-width: 600px;

    img {
      max-width: 800px;
      margin: auto;
    }

  }

}