$card-notification-background: $color-white;
$card-notification-border: 1px solid $color-ligth-gray;
$card-notification-box-shadow: $box-shadow-card;
$card-notification-busca-background: $color-red;
$card-notification-ofrece-background: $color-green;
$card-notification-paragraph-color: $color-gray;
$card-notification-margin-bottom: 0.4rem;
// convivences
$card-notification-whitespace: .5rem;
$card-notification-border-height: $border-general-height;
$card-notification-icon-size: 40px;
$card-notification-date-before-size: 10px;
//deletebutton
$card-notification-delete-size: 100px;


.card-notification {
  background: $card-notification-background;
  border: $card-notification-border;
  border-radius: $border-radius-basic;
  // box-shadow: $card-notification-box-shadow;
  display: block;
  text-decoration: none; /* remove underline */
  position: relative;
  color: $color-gray;

  a {
    font-weight: $font-weight-bold;
    color: $color-black;
  }

  &:hover {

    border: 1px solid $color-blue;

  }
}

.card-notification:hover {
 
  box-shadow: $card-notification-box-shadow;
  
}


.card-notification--offer:after,
.card-notification--need:after,
.card-notification--exchange:after,
.card-notification--exchange:before {
  content: '';
  display: inline-block;
  height: $card-notification-border-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-notification--offer:after {
  background: $color-green;
}

.card-notification--need:after {
  background: $color-red;
}

.card-notification--exchange:after,
.card-notification--exchange:before {
  width: 50%;
}

.card-notification--exchange:after {
  background: $color-red;
}

.card-notification--exchange:before {
  background: $color-green;
  left: auto;
  right: 0;
}

.card-notification__content {
  display: flex;
  padding: 1rem;
  position: relative;
}

.card-notification__avatar {
  
  flex: 0 1 10px;
  position: relative;
  height: 3rem;
  margin-right: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  border-radius: 50%;
  justify-content: center;

  & .avatar {
    height: 100%;
  }
}

.card-notification__icon {
  background: $color-corporative;
  border-radius: $border-radius-circle;
  height: $card-notification-icon-size;
  margin-top: -1.25rem;
  padding: .5rem;
  transform: translate(-.25rem,-.25rem);
  width: $card-notification-icon-size;

  .icon {
    height: auto;
    width: 100%;
  }
}

.card-notification__text {
  flex: 0 1 90%;
}

.card-notification__header {
  color: $color-gray;
  display: flex;
  font-size: $font-size-general;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.card-notification__info {
  flex: 0 1 70%;
}

.card-notification__date {
  flex: 0 1 50%;
  color: $color-gray;
  text-align: right;
  font-size: $font-size-small;
}

.card-notification__date--nflex {
  flex: none;
}

.card-notification__answer-btn {
  
  margin: 0px 10px 10px 10px;
  display: flex;
  justify-content: end;
  align-items: baseline;

    button {

      width: 40%;

    }

}

.card-notification--comment {

  border-top: 1px dashed $color-ligth-gray ;
  padding-top: $padding-big;

}

.card-notification--comment-actions {

  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: row;
  right: 0;
  margin-right: $margin-extra-big;

}

.card-notification__comment-count {

  margin-right: 20px;
  cursor: pointer;

}

.card-notification__label {

    display: inline-flex;
    flex: 0 0 50%;
    padding: 10px 0px 0px 10px ;
}

.card-notification__date:before {
  background: $color-corporative;
  border-radius: $border-radius-circle;
  content: '';
  display: inline-block;
  height: $card-notification-date-before-size;
  transform: translateX(-.5rem);
  width: $card-notification-date-before-size;
}

.card-notification__date:before {
  background: $color-corporative;
  border-radius: $border-radius-circle;
  content: '';
  display: inline-block;
  height: $card-notification-date-before-size;
  transform: translateX(-.5rem);
  width: $card-notification-date-before-size;
}

.card-notification__old:before {
  display: none;
}

.card-notification__title {
  color: $color-gray;
  font-size: $font-size-general;
  padding: .5rem 0 0 0;
  text-align: left;
}

.card-notification__name {
  color: $color-dark-gray;
  font-weight: $font-weight-bold;
  display: inline;
  font-size: $font-size-small;
}

.card-notification__paragraph {
  color: $card-notification-paragraph-color;
  font-size: $font-size-general;
  line-height: $text-line-height-small;
}


.card-notification__delete {

  flex: 0 1 auto;
  position: relative;
  right: 0;
  max-height: 3.375rem;
  max-width: 3.375rem;

  margin: auto $margin-extra-small ;

}
