$card-alert-padding: $padding-big;
$card-alert-margin: $margin-big;
$card-alert-text-margin: $margin-xsmall;
$card-alert-radius: $border-radius-basic;
$card-alert-icon-size: 30px;



// .card-alert__container {
//   position: absolute;
//   width: 100vw;
//   height: auto;
//   z-index: $z-index-06;
//   top: 0;
// }

//css object of the card
.card-alert {
  padding: $card-alert-padding;
  // margin: 15px 0;
  width: 100%;
  height: auto;
  justify-content: space-between;
  border-radius: $card-alert-radius;
  color: $color-dark-gray;
  display: flex;
}

.card-alert__container {
  top: auto;
  bottom: 0;
  z-index: $z-index-06;
  min-width: 150px;
  width: 100vw;
  position: fixed;
  float: left;
  left: 0;
  padding: 0 $card-alert-padding;
  margin-bottom: calc($footer-height-mobile + $padding-big);
}

.card-alert--success {
  background-color: $color-green;
}

.card-alert--error {
  background-color: $color-red;
}

.card-alert--warning {
  background-color: $color-corporative;
}

.card-alert--info {
  background-color: var(--network-text-color);
}

.card-alert__content {

  display: flex;
  height: 100%;
  align-items: center;
  margin: auto 0;
  padding-right: $padding-big;
  font-weight: $font-weight-bold;
  color: $color-white;
  gap: $padding-small;


  button {
    margin-left: 12px;
  }

}

.card-alert__icon {

  margin-right: $margin-small;

  svg {
    width: $card-alert-icon-size;
    height: auto;
  }

}

.card-alert__title {

  font-size: $font-size-general;
  font-weight: bold;
  margin: auto 0;
  height: 100%;
}

.card-alert__top-text,
.card-alert__subtitle {

  margin-bottom: 0;
  font-size: $font-size-small;

}


.card-alert__btn-options {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $padding-small;


}




.cookies-banner__content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    gap: $padding-big;
    z-index: $z-index-06;
    padding: $padding-big;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 120px;
    text-align: center;
    background-color: $color-white;
    color: $color-black;
    border-top: $border-style-basic;
    box-shadow: $box-shadow-divs;

    a {
      color: $color-corporative;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }




@media #{$breakpoints-xlarge} {

  .cookies-banner__content {

    width: 40%;
    border-radius: $border-radius-basic;
    border: $border-style-basic;
    bottom: $padding-big;
    left: $padding-big;

  }

  .card-alert__container {
    top: auto;
    bottom: 0;
    padding: $padding-big;
    min-width: 150px;
    width: auto;
    position: fixed;
    float: left;
    left: 0;
    margin-bottom: $footer-height-mobile;
    margin-bottom: 0;
    margin-left: $margin-big;
  }

}