$filters-right: 4%;
$filters-padding: 10px;


.filters {

  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  background: $color-corporative;
  overflow-x: scroll;
  overflow: auto;
  padding: $padding-small $padding-small;

}

.filters__container {

  background: $color-corporative;
  overflow: auto;
  margin-bottom: $margin-big;


}

.filters--vertical {

  width: auto;
  height: auto;
  position: relative;
  padding-bottom:$footer-height-mobile;
  top: 0;
  display: flex;
  flex-direction: column;
  max-width: $grid-max-width;
  // margin: auto;
  // overflow-y: scroll;
  padding: $padding-big $padding-big 200px $padding-big;
  z-index: $z-index-06;

}


.filters__actions {

  position: fixed;
  margin-top: auto;
  width: 100%;
  bottom: 0;
  display: flex;
  left: 0;
  border-top: 1px dashed $color-gray-border ;
  justify-content: space-between;
  flex-direction: row !important;
  background-color: $color-corporative;
  padding: $padding-medium $padding-medium;
  transition: $transition-default-slow;

  .btn {

    display: flex;

  }

  .btn--link {

    background-color: transparent;

  }

}

.filters__actions--home {


  @extend .filters__actions;

}

.filters__actions > button:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4; /* Takes up 2/5 of the width */
}

.filters__actions > button:nth-child(2) {
  flex: 5; /* Takes up 3/5 of the width */

}


@media #{$breakpoints-xlarge} {

  .filters {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left:0;
    margin: 0;
    // bottom: 15%;
    padding: 0;
    // right: $filters-right;
    z-index: $z-index-01 + 1;
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    background: $color-corporative;
    overflow-x: auto;
    padding: $padding-big $padding-small;
  }

  .filters__container{

    width: 100%;
  }


  .filters--vertical {

    position: relative;
    width: auto;

  }

  .filters__actions {

    width: 35vw;
    
  }

  .filters__actions--home {

    width: 100vw;

  }
  

}
