$filters-right: 4%;
$filters-padding: 10px;


.filters {

  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  background: $color-corporative;
  overflow-x: scroll;
  overflow: auto;
  padding: $padding-small $padding-small;

}

.filters__container {

  background: $color-corporative;
  overflow: auto;
  display: flex;
  margin-bottom: $margin-big;
  position: relative;
  z-index: $z-index-05;
  // padding: $filters-padding;
  overflow: hidden;

}

.filters__container {
  height: calc(var(--vh) - 68px) !important;
  /* Add other styles as needed */
}

.filters__actions {

  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  border-top: 1px dashed $color-gray-border ;
  background-color: $color-corporative;
  padding: $padding-medium $padding-medium;

  // .btn {

  //   display: flex;

  // }

  // .btn--link {

  //   background-color: transparent;

  // }

}

.filters__content {

  position: relative;
  display: flex;
  padding: 0 $filters-padding;
  padding-top: $padding-big;
  padding-bottom: $footer-height-mobile;
  flex-direction: column;
  overflow: auto;
  // margin-bottom: $footer-height-mobile;

}

.filters__actions--buttons {

  display: flex;
  flex-direction: row;
  flex: 1;
  
}

.filters__actions--buttons > button:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4; /* Takes up 2/5 of the width */
}

.filters__actions--buttons > button:nth-child(2) {
  flex: 5; /* Takes up 3/5 of the width */

}

.filters__orderBy {

  margin-bottom: 0;
  width: auto;

  select:active {

    background: transparent;

  }

}


@media #{$breakpoints-xlarge} {

  .filters {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left:0;
    margin: 0;
    // bottom: 15%;
    padding: 0;
    // right: $filters-right;
    z-index: $z-index-01 + 1;
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    background: $color-corporative;
    overflow-x: auto;
    padding: $padding-big $padding-small;
  }

  .filters__container {
    height: calc(var(--vh) - 115px) !important;
    /* Add other styles as needed */
  }


  .filters--vertical {

    position: relative;
    display: flex;
    width: auto;

  }


  

}

@media #{$breakpoints-xlarge} {

  .filters__actions {

    position: absolute;
    
  }


}