$filters-right: 4%;
$filters-padding: 10px;

.filters__wrapper {

  position: relative;
  background: transparent;
  z-index: $z-index-06;
}

.filters__container {

  background-color: $color-white;
  overflow: auto;
  display: flex;
  margin-bottom: $margin-big;
  position: relative;
  z-index: $z-index-05;
  // padding: $filters-padding;
  overflow: hidden;

  position: relative;
  margin: auto;
  width: 100%;
  background-color: $color-white;
  height: auto;
  overflow: hidden;
  flex-direction: column;

}

.filters__container {
  // height: calc(var(--vh) - 68px);
  /* Add other styles as needed */
}

.filters__actions {


  // .btn {

  //   display: flex;

  // }

  // .btn--link {

  //   background-color: transparent;

  // }

}

.filters__content {

  position: relative;
  display: flex;
  padding: 0 $filters-padding;
  padding-top: $padding-big;
  padding-bottom: $footer-height-mobile;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  // margin-bottom: $footer-height-mobile;

}

.filters__actions--buttons {

  display: flex;
  flex-direction: row;
  flex: 1;
  
}

.filters__actions--buttons > button:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4; /* Takes up 2/5 of the width */
}

.filters__actions--buttons > button:nth-child(2) {
  flex: 5; /* Takes up 3/5 of the width */

}

.filters__orderBy {

  margin-bottom: 0;
  width: auto;

  select:active {

    background: transparent;

  }

}


@media #{$breakpoints-xlarge} {

  .filters__wrapper {

    width: 100%;
    margin: auto;
    height: 100%;
    position: fixed;
    z-index: $z-index-05 + 1;
    top: 0;
    // height: calc(var(--vh) - 125px) !important;
    bottom: 0;
  }
  // .filters {
  //   position: relative;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: flex-end;
  //   margin: auto;
  //   // bottom: 15%;
  //   padding: 0;
  //   width: 100%;
  //   background: $color-corporative;
  //   overflow-x: auto;
  //   padding: $padding-big $padding-small;
  // }

  .filters__close-overlay {

    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $color-gray-transparent;
    z-index: $z-index-05;

  }

  .filters__container {
    position: relative;
    z-index: $z-index-05;
    margin: auto;
    width: 100%;
    background-color: $color-white;
    height: auto;
    overflow: hidden;
    flex-direction: column;
    /* Add other styles as needed */
  }

  .filters__content{
    
    overflow: hidden;

  }

  .filters--vertical {

    // position: relative;
    display: flex;
    width: auto;

  }

  .filters__actions {

    position: absolute;
    
  }

}
