$info-location-field-width: 330px;
$info-nets-field-bottom: 90px;
$info-nets-max-width: $grid-max-width;
$info-image-height: 700px;
$info-content-mobile-bottom-padding: calc( $footer-height-mobile + 50px );

.info-overlay__selected {

  border: 1px solid $color-black;

}

.info-overlay__container {

  // background-color: $color-white;
  height:100vh;
  width:100%;
  z-index: $z-index-02;
  box-sizing: border-box;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
  background-image:var(--network-jumbo)

}

.info-overlay__content {

  display: grid;
  grid-template-rows:auto 1fr auto;
  @extend .form__field;
  margin: auto;
  font-family: inherit;
  font-weight: bold;
  padding: 0 0 ;
  min-width: fit-content;
  background-color: transparent;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: $margin-small;
  margin-bottom: $info-content-mobile-bottom-padding;

 }

.info-overlay__search-section {

  background-color: $color-corporative;
  padding: 0;
  border-radius: 25px 25px 25px 25px;
  width: auto;

  .label {

    color: $color-dark-gray;
  
  }

}

.info-overlay__card {

  flex-grow: 1;
  margin: $padding-big;
  margin-top: $margin-small;
  color: $color-white;
  height: max-content;
  min-height: 100px;

  .card {

    border-radius: 10px;
    background-color: $color-transparent;
    padding: $padding-big;
    margin: $margin-small 0;
    max-height: 100%;
    height: fit-content;
    overflow: auto;

    .card__header {

      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
      padding-bottom: $padding-small;
  
      .card__header-image {
  
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $color-gray;
  
      }
  
      .card__header-title {
  
        margin-left: $margin-small;

        &.network-title {
  
          font-size: $font-size-huge;
          line-height: $font-size-huge;

          ::first-letter {

            text-transform: uppercase;

          }
    
        }
  
      }



    }

    hr {

      background-color: $color-white;

    }

  }

  .info-overlay__description {

    overflow:auto;
    white-space: normal;
    padding: $padding-medium 0;

  }

}

.card__section {

  border-radius: $border-radius-basic;
  background-color: transparent;
  padding: $padding-small;
  font-weight: $font-weight-regular;
  margin-top: $margin-extra-small;
  color: $color-ligth-gray;
  font-size: $font-size-small;
  border-color: $color-ligth-gray;
  border: 0px solid $color-ligth-gray;
  line-height: $text-line-height-medium;

  a{
    // @extend .btn--corporative;
    @extend .btn;
    // @extend .btn--center;
    @extend .btn-with-icon;

  }

}


.info-overlay__bottom {

  width: 100%;
  padding: $padding-big;
  bottom: $info-nets-field-bottom;

}

.info-overlay__nets {

  @extend .form__field;
  margin: auto;
  max-width: $info-nets-max-width;

}

.info-overlay__body {

  position: relative;

 }


 @media #{$breakpoints-xlarge} {

  .info-overlay__bottom {

    bottom: 2%;

  }

  .info-overlay__content {

    padding-bottom: 0px;

  }

  .info-overlay__card {
    
    max-height: calc(100vh - 300px);

  }

 }
