$info-location-field-width: 330px;
$info-nets-field-bottom: 90px;
$info-nets-max-width: $grid-max-width--mobile;
$info-image-height: 700px;
$info-content-mobile-bottom-padding: calc( $footer-height-mobile*2 );
$info-content-head-margin: calc( $footer-height-mobile );

.info-overlay__selected {

  border: 1px solid $color-black;

}

.info-overlay__background {

  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;

}

.info-overlay__container {

  // background-color: $color-white;
  margin-top: $info-content-head-margin;
  margin-bottom: calc( $footer-height-mobile*4 );
  width:100%;
  z-index: $z-index-02;
  box-sizing: border-box;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  // background-image:var(--network-jumbo)

}

.info-overlay__content {

  @extend .form__field;
  margin: auto;
  font-family: inherit;
  padding: 0 0 ;
  min-width: fit-content;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  // margin-top: $margin-small;
  margin-bottom: $info-content-mobile-bottom-padding;

 }

.info-overlay__search-section {

  background-color: $color-corporative;
  padding: 0;
  border-radius: 25px 25px 25px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: $z-index-04;

  .label {

    color: $color-dark-gray;
  
  }

}

.info-overlay__card--header {

  background-image:var(--network-jumbo);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.info-overlay__network-title-card--buttons {

  margin-top: $margin-small;

}

.info-overlay__card {

  flex-grow: 1;
  margin: auto;
  // margin-top: $margin-small;
  color: $color-dark-gray;
  max-width: $grid-max-width--mobile;
  overflow: auto; 
  min-height: 100px;
  padding-bottom: $info-content-mobile-bottom-padding;

  .card {

    border-radius: 10px;
    background-color: $color-white;
    padding: $padding-big;
    margin: $margin-small 0;
    // max-height: 100%;
    // height: fit-content;
    overflow: auto;


    .card__header {

      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
      padding-bottom: $padding-small;
      width: 100%;
      gap: $padding-medium;


  
      .card__header-image {
  
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $color-gray;
  
      }
  
      .card__header-title {
  
        font-size: $font-size-title;
        line-height: $font-size-title;

        &.network-title {
  
          font-size: $font-size-huge;
          line-height: $font-size-huge;
          word-wrap: break-word;
          display: flex;
          border-radius: $border-radius-basic;
          background-color: $color-black;
          padding: $padding-big;
          color: $color-white;
          max-width: 70%;
          align-self: center;
          justify-content: center;

          ::first-letter {

            text-transform: uppercase;

          }
    
        }
  
      }



    }

    hr {

      border-top: 0.5px solid $color-ligth-gray;

    }

  }

  .info-overlay__description {

    overflow:auto;
    white-space: normal;
    padding: $padding-medium 0;
    word-wrap: break-word;
    display: inline-block;
    width: 98%;
    max-width: 98%;

  }

  .info-overlay__hashtags {

    display: flex;
    flex-wrap:wrap;
    overflow: auto;
    padding-bottom: $padding-medium;
    padding-top: $padding-medium;

    .hashtags__list-item {

      margin-top: $padding-medium;

    }

  }

}

.card__section {

  border-radius: $border-radius-basic;
  background-color: transparent;
  padding: $padding-small;
  font-weight: $font-weight-regular;
  margin-top: $margin-xsmall;
  color: $color-gray;
  font-size: $font-size-small;
  border-color: $color-ligth-gray;
  border: 0px solid $color-ligth-gray;
  line-height: $text-line-height-small;

  a{
    // @extend .btn--corporative;
    @extend .btn;
    // @extend .btn--center;
    @extend .btn-with-icon;

  }

}

.card__section--actions {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.info-overlay__bottom {

  width: 100%;
  padding: $padding-big;
  bottom: $info-nets-field-bottom;

}

.info-overlay__nets {

  @extend .form__field;
  margin: auto;
  max-width: $info-nets-max-width;

}

.info-overlay__body {

  position: relative;

 }


 @media #{$breakpoints-xlarge} {

  .info-overlay__bottom {

    bottom: 2%;

  }

  .info-overlay__container {

    margin-bottom: 0;

  }

  .info-overlay__content {

    padding-bottom: 0px;
    height: 100vh;

  }

  .info-overlay__card--header {

    height: 20rem;
    
  
  }

  .info-overlay__card {
    
    // max-height: calc(100vh - 300px);
    max-width: $grid-max-width;


  }

 }
