$info-location-field-width: 330px;
$info-nets-field-bottom: 90px;
$info-nets-max-width: $grid-max-width--mobile;
$info-image-height: 700px;
$info-content-mobile-bottom-padding: calc( $footer-height-mobile*2 );
$info-content-head-margin-mobile: 71px;

.homeinfo__selected {

  border: 1px solid $color-black;


  margin-top: 0;
  margin-bottom: 0;
  border-radius: $border-radius-circle $border-radius-circle 0px 0;
  background-color: red;

}

.homeinfo__background {

  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;

}

.homeinfo__container {

  // background-color: $color-white;
  padding-top: $info-content-head-margin-mobile;
  width:100%;
  z-index: $z-index-02;
  box-sizing: border-box;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
  // background-image:var(--network-jumbo)

}

.homeinfo__content {

  @extend .form__field;
  margin: auto;
  font-family: inherit;
  padding: 0 0 ;
  // min-width: fit-content;
  background-color: transparent;
  width: 100%;
  height: auto;
  overflow: scroll;
  box-sizing: border-box;
  // margin-top: $margin-small;
  // margin-bottom: $info-content-mobile-bottom-padding;

 }


.homeinfo-card {
  border-radius: $border-radius-basic;
  background-color: $color-white;
  padding: $padding-big;
  position: relative;
  margin: $margin-small $margin-xsmall;
  flex: 0 1 100%;
  

  hr {
    display: none;
  }
}

.homeinfo-card__action-bottom {

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.homeinfo__search-section {

  background-color: $color-corporative;
  padding: 0;
  border-radius: 25px 25px 25px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: $z-index-04;

  .label {

    color: $color-dark-gray;
  
  }

}

.homeinfo__card--title-card {

  background-image:var(--network-jumbo);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: $z-index-background;
  height: 100%;
  border-radius: 0;
  top: 0;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  // justify-content: center;
  margin: 0 ;
  min-height: 20rem;
  flex-basis: 100%;
  padding: $padding-big;
  border-radius: 0;

}

.homeinfo__card--slogan-card {

  background-color: $color-gray-transparent;
}


.homeinfo-card__header--slogan-card {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $color-white;
}

.homeinfo__network-title {

  padding: $padding-big;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius-basic;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 15px;
  position: relative;
  margin: $margin-small $margin-xsmall;
  margin-top: 0;



}

.homeinfo__network-title-text {

  font-size: $font-size-huge;
  line-height: $font-size-huge;
  font-weight: $font-weight-bolder;
  display: flex;
  border-radius: $border-radius-basic;
  // background-color: $color-dark-gray;
  padding: $padding-big;
  color: $color-dark-gray;
  max-width: 100%;
  align-self: center;
  justify-content: center;

  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%; /* Adjust as needed */

  &:first-letter {

    text-transform: uppercase;

  }

}

.homeinfo-card__header-title--slogan {

  font-size: $font-size-huge;
  font-weight: $font-weight-bolder;
  line-height: $text-line-height-medium;
}

.homeinfo__network-title-card--buttons {

  margin-top: $margin-small;
  width: fit-content;

}

.homeinfo__sections {
  position: relative;
  z-index: $z-index-base;
  max-width: 840px;
  margin: auto;
  flex-grow: 1;
  color: $color-dark-gray;
  overflow: auto; 
  min-height: 100px;
  padding-bottom: $padding-big;
  padding-top: $padding-big;
  justify-content:space-around;
  align-items: flex-start;

}



.homeinfo-card__header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: $padding-small;
  width: 100%;

  
  .homeinfo-card__header-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $color-gray;
  }



}

.homeinfo-card__header-title {
  font-weight: bold;
  font-size: $font-size-title;
}


hr {
  border-top: 0.5px solid $color-ligth-gray;
}

.homeinfo__description {

  overflow:auto;
  white-space: pre-wrap;
  padding: $padding-medium 0;
  word-wrap: break-word;
  display: inline-block;
  font-size: $font-size-medium;
  width: 98%;
  max-width: 98%;

}

.homeinfo__users {
  overflow:auto;
  white-space: normal;
  padding: $padding-medium 0;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: $margin-small;
  width: 98%;
  max-width: 98%;
}

.homeinfo__hashtags {
  display: flex;
  flex-wrap:wrap;
  overflow: auto;

  .hashtags__list-item {
    margin-top: $padding-medium;
    margin-left: unset;
  }
}

.homeinfo-card__section {
  border-radius: $border-radius-basic;
  background-color: transparent;
  padding: $padding-small;
  font-weight: $font-weight-regular;
  margin-top: $margin-xsmall;
  color: $color-gray;
  font-size: $font-size-small;
  border-color: $color-ligth-gray;
  border: 0px solid $color-ligth-gray;
  line-height: $text-line-height-xsmall;

  a {
    @extend .btn;
    @extend .btn-with-icon;
  }

}

.homeinfo-card__section--attr{

  font-size: $font-size-xsmall;
  color: $color-med-gray;
  display: flex;
  gap: $padding-small;
  justify-content: flex-end;

}

.homeinfo-card__section--actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.4;
}

.homeinfo__bottom {
  width: 100%;
  padding: $padding-big;
  bottom: $info-nets-field-bottom;
}

.homeinfo__nets {
  @extend .form__field;

  margin: auto;
  max-width: $info-nets-max-width;
}

.homeinfo__body {
  position: relative;
 }

 .homeinfo-card__controls {
  display: flex;
  flex-flow: column nowrap;
  
  button {
    margin-bottom: 8px;
  }
 }


 @media #{$breakpoints-medium} {

  .homeinfo-card {
    padding: $margin-medium;
    margin-bottom: $margin-xsmall;
  }

  .homeinfo__card--title-card {

    margin-bottom: 0;

  }

  .homeinfo__network-title {

    display: none;

  }

  .homeinfo-card__controls {
    flex-flow: row nowrap
  }

  .homeinfo-card__wrap {
    display: flex;
    flex-flow: row wrap;
  
    .homeinfo-card__section {
      flex: 0 1 50%;
    }
  }
}





@media #{$breakpoints-xlarge} {
  .homeinfo__bottom {
    bottom: 2%;
  }

  .homeinfo__container {
    margin-bottom: 0;
    padding-top: 0;
  }

  .homeinfo__content {
    padding-bottom: 0px;
  } 

  .homeinfo__sections {
    display: flex;
    flex-wrap: wrap;
    gap: $margin-small;
    // margin-top: -150px;
    padding: $padding-small;
    padding-bottom: 48px;
    padding-top: $padding-huge;
    border-right: $border-style-basic;
    border-left: $border-style-basic;
    background-color: $color-gray-transparent;
  }

  .homeinfo-card {
    margin: 0;
    padding: $margin-medium;
    margin-bottom: $margin-xsmall;
  }


 }
