

.loading__ {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 70%;
    border-top-color: yellow;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    z-index: 1500;
    // position: absolute;
    left: 0;
    top: 220px;
  }
  
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }