@use '../variables' as *;
@use "sass:math";

$marker-button-height: 50px;
$marker-button-height-name: 20px;
$marker-button-width-change: 25px;
$marker-button-width: 50px;
$marker-button-radius: $border-radius-circle;
$marker-button-line: 0.2rem;
$marker-arrow-width: 2px;
$marker-arrow-height: 5px;

$cycle: 10;


.marker-button {

  width: $marker-button-width;
  height: $marker-button-height;
  border: none;
  margin: auto;
  margin-bottom: 0;
  position: absolute;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  transform-origin: bottom center; /* Set the origin to bottom center */


}



.marker-button:hover {
  z-index: $z-index-02;
  transform-origin: bottom center; /* Set the origin to bottom center */
  transform: scale(1.1) 

}

.marker-button:hover .marker-button__link-tag {
  opacity: 1;
  z-index: $z-index-03;

}

.marker-button:active {
  cursor: grabbing;
  z-index: $z-index-03;
  transform: scale(1.1); 
}

.marker-button__image {
    align-items: center;
    justify-content: center;
    width: $marker-button-width;
    height: 100%;
    margin: auto;
    border-style: solid;
    z-index: 1;
    // object-fit: cover;
    overflow: hidden;
    border-width: $marker-button-line;
    border-radius: $border-radius-semicircle;
    display: flex;

    &:hover {

      cursor: pointer;

    }
}

.marker-button--name-alone {

  height: $marker-button-height-name;

}




.marker-button__arrow {
    z-index: $z-index-03;
    position: absolute;
    width: 100%;
    // bottom: 0;
    // right: 0;
    // left: calc(50% - 8px);
    // margin: auto;
    &:after,
    &:before {
      content: "";
      display: block;
      height: $marker-arrow-height;
      width: $marker-arrow-width;
      border-top: 10px solid transparent;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      position: absolute;
      bottom: -13px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }



.marker-button__tags {

  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  max-width: fit-content;
  top: -44px;
  white-space: nowrap;
  justify-content: center;
  width: fit-content;
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: auto;
  max-height: 50px;

}


.marker-button__link-tag--alone {

  @extend .marker-button__link-tag;


}



.marker-button__wrapper:hover {

  position: relative;


}

.marker-button__wrapper:hover {

  z-index: $z-index-02;


}

.marker-button-selector{
  .marker-button__link-tag {
    background: var(--button-color);
  }
}

.marker-button-selector {
  .marker-button__image {
    border-color: var(--button-color);
    background-color: var(--button-color);
  }

  .marker-button__arrow {
    &:after {
      border-top-color: var(--button-color);
    }
  }
}



.marker-button__image--fix {

  @extend .marker-button__image;
  
  border-width: $marker-button-line;
  display: flex;
  transform: scale(1); 
  width: 100%;
  height: 100%;
  margin: auto;
  border-style: solid;
  z-index: 1;
  object-fit: cover;
  overflow: hidden;
  border-width: $marker-button-line;
  display: flex;

  &:hover {

    cursor: pointer;

  }
}


.marker-button__link-tag, .marker-key-spot {

  bottom: 102%;
  min-height: 20px;
  background: $color-gray;

  border-radius: $border-radius-semicircle;
  color: $color-white;
  display: block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  word-break: keep-all;
  hyphens: auto;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  padding: $padding-small $padding-medium;
  opacity: 0;
  min-height: 30px;
  transition: opacity 0.3s ease;

  &:hover {

    cursor: pointer;

  }

}


.marker-key-location__name {

  background-color: $color-white;
  padding: $padding-small;
  border-radius: $border-radius-circle;
  color: $color-black;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;

}

.marker-key-location__arrow::after {
 border-top: 10px solid $color-white;
 color: $color-white;
}

.marker-key-location {

  overflow-x: auto;
  overflow-y: auto;
  position: absolute;
  max-width: fit-content;
  white-space: nowrap;
  justify-content: center;
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: auto;
  max-height: 50px;

}
