$message-border-radius: $border-radius-basic;
$message-border-radius-semicircle: $border-radius-semicircle;
$message-max-width: 300px;
$message-min-width: 50px;
$message-me-after-top: 1rem solid $color-corporative;
$message-me-after-lateral: .75rem solid transparent;
$message-padding-big: $padding-big;
$message-you-margin-left: $margin-xbig;

.message {
  border-radius: $message-border-radius;
  max-width: $message-max-width;
  padding: $padding-medium $padding-big 0 $padding-medium;
  word-break: break-word;
  width: fit-content;
  position: relative;
}

.message--me {

    background: $color-white;
    border-radius: $message-border-radius-semicircle $message-border-radius-semicircle 0 $message-border-radius-semicircle;
    margin-left: auto;
    margin-right: $message-you-margin-left;
    padding-bottom: 0;

    .message__hour {

        text-align: right;
    }

    .message__content {

      text-align: right;

    }
}

.message__hour {

    font-size: $font-size-xsmall;
    color: $color-gray;
}

.message__header {

    align-items: flex-end;

}

.message__avatar {

    width: 35px;
    right: -40px;
    bottom: 0;
    height: 35px;
    position: absolute;
    display: flex;
    border-radius: $border-radius-circle;
    overflow: hidden;
    border-radius: 100%;

    img {

      width: 100%;
      height: 100%;
    }

}

.message__author {

  font-size: $font-size-small;

}

.message__name {

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-dark-gray;
    margin-bottom: $margin-xsmall;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;

}

.message__user-name-container {

      // width: calc(100% - 80px);

}

.message__content {

  font-size: $font-size-general;
  margin-bottom: 0;

}

.message--you {

  background-color: $color-ligth-gray;
  margin-right: auto;
  margin-left: $message-you-margin-left;
  min-width: 50%;
  border-radius: $message-border-radius-semicircle $message-border-radius-semicircle $message-border-radius-semicircle 0;
  margin-bottom: $margin-xsmall;
  color: $color-black;



  .message__hour {

    text-align: left;

  }

  .message__content {

    text-align: left;

  }


  .message__avatar {

    left: -40px;
    bottom: 0;
    height: 35px;
    position: absolute;
    display: flex;
    border-radius: $border-radius-circle;
    overflow: hidden;
    border-radius: 100%;

  }

}

.message--others {

  background-color: $color-ligth-gray;
  min-width: 50%;
  border-radius: $message-border-radius-semicircle $message-border-radius-semicircle 0 $message-border-radius-semicircle ;
  margin-bottom: $margin-xsmall;
  text-align: right;
  margin-left: auto;
  margin-right: $margin-xbig;

  .message__hour {

    text-align: right;

  }

  .message__content {

    text-align: right;

  }

}

.message__actions {

  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  margin-right: $margin-xxsmall;
  padding: $padding-small 0;


}

.message__actions--you {

  margin-right: auto;
  display: flex;
  justify-content: flex-start;

}
