$message-border-radius: $border-radius-basic;
$message-border-radius-semicircle: $border-radius-semicircle;
$message-max-width: 300px;
$message-min-width: 50px;
$message-me-after-top: 1rem solid $color-corporative;
$message-me-after-lateral: .75rem solid transparent;
$message-padding-big: $padding-big;
$message-you-margin-left:40px;

.message {
  border-radius: $message-border-radius;
  max-width: $message-max-width;
  padding: $padding-medium $padding-big;
  word-break: break-word;
  width: fit-content;
  position: relative;
}

.message--me {

    background: $color-white;
    border-radius: $message-border-radius-semicircle $message-border-radius-semicircle 0 $message-border-radius-semicircle;
    margin-left: auto;
    margin-right: $margin-small;

    .message__hour {

        text-align: right;
    }

    .message__content {

      text-align: right;

    }
}

.message__hour {

    font-size: .6rem;
    color: $color-gray;
}

.message__header {

    align-items: flex-end;

}

.message__avatar {

    width: 35px;
    right: -40px;
    bottom: 0;
    height: fit-content;
    position: absolute;
    border-radius: 100%;

}

.message__user-name {

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-dark-gray;
    margin-bottom: $margin-extra-small;
    font-weight: bold;
    font-size: $font-size-small;

}

.message__user-name-container {

      // width: calc(100% - 80px);


}

.message__content {

  font-size: $font-size-general;
  margin-bottom: 0;

}



.message--you {

  background-color: $color-gray;
  margin-right: auto;
  margin-left: $message-you-margin-left;
  min-width: $message-min-width;
  border-radius: $message-border-radius-semicircle $message-border-radius-semicircle $message-border-radius-semicircle 0;
  margin-bottom: $margin-extra-small;



  .message__hour {

    text-align: left;

  }

  .message__content {

    text-align: left;

  }

}

.message--others {

  background-color: $color-ligth-gray;
  min-width: 50%;
  border-radius: $message-border-radius-semicircle $message-border-radius-semicircle 0 $message-border-radius-semicircle ;
  margin-bottom: $margin-extra-small;
  text-align: right;
  margin-left: auto;
  margin-right: $margin-extra-big;

  .message__hour {

    text-align: right;

  }

  .message__content {

    text-align: right;

  }

}
