@use '../variables' as *;

$nav-header-border-radius: $border-radius-buttons;
$nav-header-color-gray-border: $color-gray-border;
$nav-header-padding: $padding-big;
$filters-bar-height-mobile: auto;
$filters-bar-height-desktop: 45px;
$nav-header-color-corporative: $color-corporative;
$nav-header-margin-big: $margin-big;
$nav-header-icon-width: 20px;
$nav-header-button-width: 47px;
$nav-header-padding: $padding-medium;
$nav-header-new-message-radius: $border-radius-circle;



.nav-header__container {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: $border-style-basic;
  background-color: $color-corporative;

}

.nav-header__container--homeinfo {
  
  background-color: transparent;
  border-bottom: none;
 

}



.nav-header__content {

  display: flex;
  position: relative;
  // height: $nav-header-height;
  justify-content: center;
  align-items: center;
  background-color: $color-corporative;
  border-radius: 0 0 0 0;
  padding: $padding-medium $nav-header-padding;
  z-index: $z-index-base;
  max-width: 450px;
  margin: auto;

  


}

.nav-header__content--homeinfo {
  
  background-color: $color-corporative;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: auto;
  border: $border-style-basic;
 border-radius: 0 0 $border-radius-circle  $border-radius-circle ;
  border: $border-style-basic;
  border-top:  none;
}

.nav-header--hide {

  transition: $transition-default ;
  top: -$nav-header-height;
}

.nav-header__content-message {
  flex-grow:1;
  display: flex;
  flex-direction: row;
}

.nav-header__content-input {
  border-radius: $nav-header-border-radius;
  border: 1px solid $nav-header-color-gray-border;
  padding: 0 $nav-header-padding;
}

.nav-header__button {
  border-radius: 50%;
  border: none;

  background: $nav-header-color-corporative !important;
  width: $nav-header-button-width;
}

.nav-header__icon {
  width: $nav-header-icon-width !important;
  fill: black !important;
}

.nav-header__filters {

    display: flex;
    background-color: $color-corporative;
    padding: $padding-xsmall $padding-xsmall ;
    overflow-x:auto;
    overflow-y: hidden;
    height: $filters-bar-height-mobile;
    border-bottom: $border-style-basic;
    
}

.nav-header__filters:empty {

  display: none;
}


@media #{$breakpoints-xlarge} {

  .nav-header--homeinfo {
    position: absolute;
    right: 0;
 

  }

  .nav-header__container {
    z-index: $z-index-02;
    background-color: $color-corporative;
    padding: 0 $padding-xbig;
    display: flex;
    justify-content: flex-start;
    box-shadow: none;
    min-height: 71px;
    align-items: center;

  }

  .nav-header__container--homeinfo {

    border-radius: 0 0 0 $border-radius-circle ;
    // border: $border-style-basic;
    background-color: transparent;

    

  }


  .nav-header__container--homeinfo::before {

    content: "";
    position: absolute;
    border-radius: 0 0 $border-radius-circle $border-radius-circle;
    border: $border-style-basic;
    border-top: none;
    width: 90%;
    padding-right: 0;
    height: 70px;

    background: $color-corporative;
    //JUST TO REMEMBER linear-gradient(0deg, transparent, $color-corporative-transparent 0%) no-repeat;
    backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
    

  }


  .nav-header__content {
    // max-width: $grid-max-width;
    justify-content: flex-start;
    flex: 0.9;
    width: 450px;
    z-index: 0;

  }

  .nav-header__content--homeinfo {
    
    position: fixed;
    left: calc(50% - 225px);
    width: 450px;
    border-radius: 0 0 $border-radius-circle  $border-radius-circle ;
    border: $border-style-basic;
    border-top:  none;


  }

.nav-header__filters {

    display: flex;
    background-color: $color-corporative;
    // align-items: center;
    padding: $padding-medium $padding-big ;
    overflow-x:auto;

    height: $nav-header-height-desktop;
    
}
  

  .hashtags__list-item:nth-of-type(1){
    margin-left: auto;
   }

   .hashtags__list-item:last-child{
    margin-right: auto;
   }

}
