$nav-header-border-radius: $border-radius-buttons;
$nav-header-color-gray-border: $color-gray-border;
$nav-header-padding: $padding-big;
$nav-header-height: $header-height-mobile;
$nav-header-height-desktop: $header-height-desktop;
$filters-bar-height-desktop: 45px;
$nav-header-color-corporative: $color-corporative;
$nav-header-margin-big: $margin-big;
$nav-header-icon-width: 20px;
$nav-header-button-width: 47px;
$nav-header-padding: $padding-big;
$nav-header-new-message-radius: $border-radius-circle;

.nav-header__container {
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: $box-shadow-divs;
  border-bottom: $border-style-basic;
  box-shadow: $box-shadow-divs;

}

.nav-header__content {

  display: flex;
  position: relative;
  // height: $nav-header-height;
  justify-content: center;
  align-items: center;
  background-color: $color-corporative;
  border-radius: 0 0 0 0;
  padding: $padding-medium $nav-header-padding;
  z-index: $z-index-base;

}

.nav-header--hide {

  display: none;
  position: absolute;

}



.nav-header__content-message {
  flex-grow:1;
  display: flex;
  flex-direction: row;
}

.nav-header__content-input {
  border-radius: $nav-header-border-radius;
  border: 1px solid $nav-header-color-gray-border;
  padding: 0 $nav-header-padding;
}

.nav-header__button {
  border-radius: 50%;
  border: none;

  background: $nav-header-color-corporative !important;
  width: $nav-header-button-width;
}

.nav-header__icon {
  width: $nav-header-icon-width !important;
  fill: black !important;
}

@media #{$breakpoints-xlarge} {


  .nav-header__container {

    background-color: $color-corporative;
    padding: 0 $padding-medium;
    display: flex;
    height: $nav-header-height-desktop;
    justify-content: flex-start;
    box-shadow: none;


  }


  .nav-header__content {
    max-width: $grid-max-width;
    justify-content: flex-start;
    flex: 0.9;
    width: 100%;
    z-index: 0;

  }

  .nav-header__filters {

    display: flex;
    background-color: $color-corporative;
    // align-items: center;
    padding: $padding-medium $padding-big ;
    overflow-x:auto;

    height: 64px;
    border-bottom: 1px solid $color-gray-border;
    
  }
  

  .hashtags__list-item:nth-of-type(1){
    margin-left: auto;
   }

   .hashtags__list-item:last-child{
    margin-right: auto;
   }

}
