$nav-bottom-padding: 5px;
$nav-bottom-icon-size: 24px;
$nav-bottom-icon-size-desktop: 100px;
$nav-bottom-link-create-size: 58px;
$nav-bottom-link-create-margin: -28px;
$nav-bottom-link-create-size-desktop: 72px;
$nav-bottom--desktop-width: 500px;
$nav-bottom-create-message-bottom: 90px ;
$nav-bottom-create-message-width: 100px;
$nav-bottom-create-message-left: calc(( #{$nav-bottom--desktop-width} / 2) - (#{$nav-bottom-create-message-width} / 8) ) ;
$nav-bottom-width: 640px;
$nav-bottom-height: $footer-height-mobile;
$nav-bottom-height-desktop: 22rem;
$nav-bottom-width-desktop: 4rem;
$nav-bottom-border: 32px;

.nav-bottom {

  background-color: $color-corporative;
  padding: $nav-bottom-padding;
  box-sizing: border-box;
  min-height: $nav-bottom-height;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 0px;
  width: 100%;
  z-index: $z-index-03;
  align-items: flex-start;
  justify-content: space-around;

}

.nav-bottom--repo {
  @extend .nav-bottom;
  position: relative;
}

.nav-bottom__button,
.nav-bottom__link {
  // flex: 0 1 20%;
  padding: $padding-small;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: $color-black;
  border-radius: $border-radius-circle;
  flex-wrap: wrap;
  align-content: flex-end;
  display: flex;

  &:hover, :active {

    cursor: pointer;

    .nav-bottom__icon {

      transition: 0.2s;
      transform: translateY(-0.4rem);

    }

  }
}

.nav-bottom__text {

  font-size: $font-size-xsmall;
  text-decoration: none;
  line-height: $text-line-height-xxsmall;
  font-weight: 700;
  position: absolute;
  bottom: 8px;
  ;

  
}


.nav-bottom__link--active {

  font-weight: bolder;


}

.nav-bottom__link--current{
  color: var(--network-text-color);

  .nav-bottom__text::after {
    content: "";
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    left: 50%;
    background-color: var(--network-text-color);
    transform: translateX(-50%);
    border-radius: $nav-bottom-border;
    opacity: 1;
    animation: spread 1s ease-out forwards;
  }


}

.nav-bottom__link--create {


  .nav-bottom__icon {
    svg {

      background-color: $color-black;
      padding: $padding-small;
      color: $color-white;
      left: -18px;
      // fill: $color-white;
      // height: $nav-bottom-link-create-size;
      // width: $nav-bottom-link-create-size;
    }
  }

}

.nav-bottom__create-message{

  position: absolute;
  color: $color-white;
  display: flex;
  //left: $nav-bottom-create-message-left;
  width: 120px;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;

  align-items: center;
  justify-content: center;
  background: $color-black; // Revise
  height: $nav-bottom-link-create-size;
  padding: $padding-small $padding-big;
  bottom: 75px;
  border-radius: $border-radius-circle;
}

.nav-bottom__icon {
  position: absolute;

  & svg {
    fill: $color-black;
    height: $nav-bottom-icon-size;
    width: $nav-bottom-icon-size;
    padding: 3px;
    padding-bottom: 0;
    left: -15px;
    position: absolute;
    bottom: -17px;
    background: $color-corporative;
    border-radius: 10px;
  }
}

.notif-circle {

  top: $nav-bottom-padding;
  margin-left: $margin-small;

   border-radius: 50%;
   position: absolute;
   margin-top: 0;
   display: flex;
   width: 15px;
   height: 15px;
   border: 0;
   color: $color-white;
   font-weight: bold;
   font-size: $font-size-xsmall;
   text-align:center;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   background: var(--network-text-color);
   pointer-events:none;

}


@media #{$breakpoints-xlarge} {
  .nav-bottom {
    border-radius: $nav-bottom-border 0 0 $nav-bottom-border;
    flex-direction: column;
    width: $nav-bottom-width-desktop;
    height: $nav-bottom-height-desktop;
    right: 0;
    left: auto;
    top: calc( 50% - #{$nav-bottom-height-desktop} / 2 );
    padding-top: $padding-big;

    align-items: center;

  }

  .nav-bottom__link {

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover, :active {

      cursor: pointer;
  
    }

  }

  .nav-bottom__link--create {

      .nav-bottom__icon {

        svg {

          // background-color: transparent;
          padding: 6px;
          background-color: $color-corporative;
          left: -18px;
          color: $color-black;

        }
        
    }

  }


  .nav-bottom__icon {

    position: relative;

  }

  .nav-bottom__text {

    margin-top: 25px;
    position: relative;

  }

  .nav-bottom-profile {
    border-radius: $nav-bottom-border;
    max-width: $nav-bottom-width;
  }

  .nav-bottom__link--active {

    height: auto;

  }

  .notif-circle {
    top: auto;
    margin-left: auto;
  }

  .nav-bottom__icon {
    .icon {
      height: $nav-bottom-icon-size-desktop;
      width: $nav-bottom-icon-size-desktop;
    }

    svg {

      background-color: transparent;

    }
  }

  .nav-bottom__link--create {
    max-width: $nav-bottom-link-create-size-desktop;
    height: $nav-bottom-link-create-size-desktop;

    .nav-bottom__icon {
      .icon {
        height: $nav-bottom-link-create-size-desktop;
        width: $nav-bottom-link-create-size-desktop;
      }
    }
  }


}
