@use '../variables' as *;

$loading-icon-width: 20px;

.loading-overlay__loading-icon {

  background-color: $color-corporative;
  border-radius: 50%;

  & svg {

    width: $loading-icon-width;
    height: $loading-icon-width;

  }
}

.loading-icon {

  position: absolute;
  width: $loading-icon-width;
  height: $loading-icon-width;
  margin-top: $margin-xsmall;

}
