$picker-background: rgba(0,0,0,.2);
$picker-header-height: 50px;
$picker-max-width: 680px;
$picker-border-radius: $border-radius-basic;
$picker-width: 240px;
$picker-min-width: 240px;
$picker-content-height: calc( 100vh - #{$picker-header-height });
$picker-header-lateral: calc( 100% / 2 - #{$picker-max-width} / 2 );
$picker-header-width: 100%;
$picker-header-lateral: calc( 100% / 2 - #{$picker-max-width} / 2 );
$picker-header-icon-width: 20px;
$picker-comments: 24px;
$picker-padding: $padding-big;
$picker-paragraph-padding: 1rem 2rem;
$picker-max-height-large: 720px;
$picker-cualquircosa: red;
$picker-comments-item-padding: 25px;


.picker {
  //picker div
  overflow: auto;
  width: auto; //Revise antes era 100%
  min-width: $picker-min-width;
  overflow-y: visible !important;
  padding: $picker-padding;
  background: $color-white !important;
  overflow-x: hidden;
  border-radius: $picker-border-radius ;
}

.picker__content {

  width: 100%;
  overflow-x: hidden;
  border-radius: 0 0 $border-radius-semicircle $border-radius-semicircle;//REVISE
  display: flex;
  flex-direction: column;

}

.picker__content--nopadding {

  padding: 0;

}

//react color select plugin modifier
.react-colorful {

  width: 100% !important;
  height: 100px !important;

}


// LISTA DE ICONOS EN COLUMNAS DE 3
.picker__list-elem {

  width: 70px;
  height: 70px;
  padding: $picker-padding;
  margin: $margin-xsmall;
  float: left;
  background: transparent;
  border: none;
  border-radius: $border-radius-circle;
  cursor: pointer;

  &:hover {
    background-color: $color-black;
  }

}

.picker__list-elem--icon {

  width: fit-content;

}

.picker__section__pick {
  max-height: 40vh;
}
.picker__section {

  // padding: 1rem;
  
}

.picker-box-shadow {
  box-shadow: none;
}

//picker HEADERS
.picker__header {
  width: 100%;
  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  text-align: center;
}

.picker__header--trans,
.picker__header {

  width: 100%;
  position:  relative;
  height: $picker-header-height;

  padding: $padding-big $padding-medium;
  border-radius: $border-radius-semicircle $border-radius-semicircle 0 0;
  border-bottom: 1px solid $color-ligth-gray;

}

.picker__header--trans {
  background: transparent;
}


.picker__header-center {
  flex: 0 1 calc( 100% - #{$btn-circle-icon-height} * 2 );
  text-align: center;
  padding: 0 10px;

  .icon {
    max-width: 100%;
    max-height: 25px;
    height: auto;
  }
}

.picker__header-nav {
}

.picker__header-left {
  @extend .picker__header-nav;
  text-align: left;
}

.picker__header-right {
  @extend .picker__header-nav;
  text-align: right;
}

.picker__header-content {

  @extend .popup__header-content;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.picker__header-title  {
  font-size: $font-size-general;

  font-weight: $font-weight-bold;
  color: $color-dark-gray;
  letter-spacing: 2px;
}

.picker__header-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
  }

  .icon {
    width: $picker-header-icon-width;
    height: auto;
    max-height: 25px;
  }
}

// contents
.picker__paragraph {

  font-size: $font-size-general;
  line-height: 1.5rem;
  padding: $picker-paragraph-padding;
}

.picker__img {
  height: 200px;

  svg {
    display: none; // Revise Ángel
    width: 100%;
    height: auto;
  }
}

.picker__close-container {

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: $z-index-04;

}

.picker__close-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:  $color-gray-transparent;
  z-index: $z-index-03;
}

.picker__comments,
.picker__options-v,
.picker__options-h {
  display: flex; // Static components
}

.picker__comments {
  padding: $picker-comments;
  overflow-y: auto;
  max-height: 300px;
}

.pickers__comments-item {
  background: $color-ligth-gray;
  margin: 8px 0;
  padding: $picker-comments-item-padding 0;
}

.picker__options-btn--icon {
  height: 20px;

  & svg{
    display: none;
    height: 10px;
  }
}

.picker__options-v {
  flex-flow: column nowrap;
}

.picker__options-h {
  flex-flow: row nowrap;
  justify-content: space-between;

  .picker__options-btn {
    flex: 0 1 50%;
  }
}

.picker__row {

  margin: $margin-small 0;
  display: flex;
  justify-content: space-evenly;

}

//Estilos a los botones del picker Revise
.picker__option-btn {//revise
  height: 60px;
  background: transparent;
  border: none;
  text-align: initial;
  border-bottom: 1px solid $color-gray-border;//Revise este color ahora es una variable
  padding: 0 $picker-padding;//revise este padding puede ir en el txt
  cursor: pointer;

  &:last-child {
    border-top: 1px solid $color-gray-border;//Revise este color ahora es una variable
    border-bottom: none;
  }

  &:focus {
    background: $color-corporative;
  }
}

.picker__option-btn--active {
  @extend .picker__option-btn;
  text-align: initial;
}

.picker__option-btn--center {
  @extend .picker__option-btn;
  text-align: center;
}

.picker__option-btn-with-icon {
  @extend .picker__option-btn;
}

.picker__option-btn--txt{
  font-size: $font-size-general;
}

.picker__map {

  border-radius: $border-radius-basic;
  overflow: hidden;
  height: auto;
  width: auto;
  display: flex;
  margin-bottom: $margin-medium;

  .pigeon-zoom-buttons {

    right: $padding-small;
    top: 0;

  }

}

.picker--over {

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  z-index: $z-index-05;
  padding: 0;

}

@media #{$breakpoints-medium} {
  .picker {
    height: auto;
    max-width: $picker-max-width;

  }

  .picker__header,
  .picker__content {
    background: $color-white;
    max-width: $picker-max-width;
    height: auto;
  }

  .picker__content {
    padding: $padding-huge $padding-huge;
  }

  .picker--over {
    // max-width: 700px;
    width: 100%;
    z-index: $z-index-05;
    max-height: 90%;
  }

  .picker__map--over{
    position: absolute;
    top: 10%;
    width: 80%;
    margin: auto;
    z-index: $z-index-05;
  }

}
