$picker-date-height: 40px;

.picker-date__selected {
  display: flex;
  align-items: center;
  font-size: $font-size-general;
  border: 0;
  width: 60%;
  margin: $margin-small auto;
  justify-content: space-evenly;
}

.picker-date__dropdown {
  padding: $padding-medium $padding-big;
  border-radius: $border-radius-circle;
  border: $border-lines-width solid $color-gray;
  width: auto;
  height: $picker-date-height;

  &:hover {
    background-color: $color-black;
    color: white;
  }
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.picker-date__dropdown-trigger {
  cursor: pointer;
  border: none;
  background-color: transparent;
  //padding: 5px;
  width: 100%;
  text-align: center;
}

.picker-date__dropdown-content {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  overflow-y: auto;
}

.picker-date__dropdown-option {
  padding: $padding-medium $padding-big;
  border-radius: $border-radius-circle;
  border: $border-lines-width solid $color-gray;
  height: $picker-date-height;
  font-size: $font-size-general;
  align-items: center;
  display: flex;

  cursor: pointer;

  &:hover {
    background-color: $color-black;
    color: white;
  }
}



.picker-date__points {
  font-size: $font-size-general;
}

.picker-date__dropdown-content-gray {
  background: #eeee;
  border: none;
}

.picker-date__calendar-container{
  max-height: 50wh;
}

.react-calendar__selected:enabled{
  background: $color-dark-gray !important;
  font-weight: bold;
}

.react-calendar_day_has_event{
  border-bottom: 1px solid yellow !important;
}


.picker-date__recurrent .react-calendar{
  margin:auto;
}

.picker-date__recurrent_weekly .react-calendar__month-view__weekdays__weekday{
  display: none;
}


//REACT CALENDAR CUSTOM

.react-calendar {

  width: 100% !important;
  border-radius: $border-radius-semicircle;
  padding: $padding-big;
  border-color: $color-gray-border !important;


}

.react-calendar__tile {

  height: 50px;
  border-radius: $border-radius-circle;
  margin: $margin-medium;
  padding: $padding-big;

}

.react-calendar__tile--active {

  background-color: $color-secondary !important;

}


.form__weekdays-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}
.form__weekdays-list .weekdays__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  font-size: small;
  margin: 2px;

}
.form__weekdays-list .weekdays__list .weekdays__list-interest__selected {
  background-color: #2E2E2E;
  color: white;
}
.form__weekdays-list .weekdays__list .weekdays__list-interest, .form__weekdays-list .weekdays__list .weekdays__list-interest__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D4D4D4;
  // margin-right: 7px;
  padding: 0 10px 0 10px;
  margin: 1.9px;
}
.form__weekdays-list .weekdays__list .weekdays__list-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D4D4D4;
  margin-right: 7px;
  padding: 0 0 0 10px;
}
.form__weekdays-list .weekdays__list .weekdays__list-tag .weekday__btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form__weekdays-list {
        
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // margin: 5px 0;
  // margin-bottom: $margin-big;
  // min-height: 38px;

  .weekdays__list {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    font-size:small;
    margin: 2px;

    .weekdays__list-interest__selected {
      background-color: $color-dark-gray;
      color: white;

    }

    .weekdays__list-interest, .weekdays__list-interest__selected {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-gray-border;
        // margin-right: $margin-xsmall;
        // padding: 0 $padding-big 0 $padding-big ;
        // border-radius: $border-radius-circle;
      
    }
    .weekdays__list-tag {

        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-gray-border;
        // margin-right: $margin-xsmall;
        padding: 0 0 0 10px ;
        // border-radius: $border-radius-circle;

        .weekday__btn {

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            background-color: transparent;
            border: none;
            cursor: pointer;

        }

    }

  }

}