$font-size-hex-unselected: calc($font-size-huge - 5px);
$map-btns-size-desktop: 40px;
$map-btns-size-mobile: 30px;

.pigeon-click-block {
    g {
        color: red;
        transition:
        width 2s,
        height 2s,
        background-color 2s,
        rotate 2s;

        &:hover {

            background-color: black;
            width: 200px;
            height: 200px;
            border: 10px solid $color-blue;
            // rotate: 180deg;

        }
    }

}

.pigeon-center-buttons {

    position: absolute;
    right: 10px !important;
    top: 130px !important;
    display: block;
    left: auto !important;
    z-index: $z-index-02;

    &:hover {
        cursor: pointer;
    }

}

.pigeon-center-view {

    border: none;
    background-color: $color-white;
    height: 40px;
    width: 40px;
    border-radius: $border-radius-circle;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;


    &:hover {

        cursor: pointer;

    }

    svg {
        
        fill: $color-gray;
    }

}

.pigeon-zoom-buttons {

    position: absolute;
    right: 10px !important;
    top: 10px !important;
    display: block;
    left: auto !important;
    z-index: $z-index-02;


}

.pigeon-zoom-in, .pigeon-zoom-out {

    max-width: auto !important;
    max-height: auto !important;
    min-width: 30px !important;
    width: 40px !important;
    text-align: center;
    height: 40px !important;
    padding: 0px 0px !important;
    margin: $margin-xsmall 0 !important;
    line-height: 30px !important;
    border-radius: $border-radius-circle !important;

}

.pigeon-map__hex-info {

    display: flex;
    justify-content: center; /* Horizontally aligns children at the center */
    align-items: center; /* Vertically aligns children at the center */
    height: 100%; /* Or any specific height */
    flex-wrap: wrap;

}

.pigeon-map__hex-info--unselect {

    display: flex;
    justify-content: center; /* Horizontally aligns children at the center */
    align-items: center; /* Vertically aligns children at the center */
    height: 100%; /* Or any specific height */
    flex-wrap:nowrap;
    margin-left: auto;
    width: 4rem;
    left: -0.8rem;
    position: relative;

}

.pigeon-map__emoji{

    font-size: $font-size-title;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pigeon-attribution {
    position: relative;
    right: 10px;
    bottom: 60px !important;
    background: transparent !important;
    font-size: $font-size-xsmall;

}

.pigeon-map__custom-block {

    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.pigeon-map__hex-wrap {

    top: 50%;
    transform: translateX(20%) translateY(-50%);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    // line-height: $line-height-;

}

.pigeon-map__hex-wrap--selected::before {
    content: "";
    position: absolute;
    top: 50%; /* Adjusted to start from the middle of the div */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the circle both horizontally and vertically */
    animation: createBox .25s;
    // width: 100%;
    // padding-top: 100%;
    width: 300%;
    padding-top: 300%; /* This creates a square that scales to cover the height */
    background-color: $color-white;
    border-radius: 50%; /* This makes the square a circle */
    z-index: -1;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  }


  @keyframes createBox {
    from {
        
      transform: translate(-50%, -50%) scale(0) ;
    }
    to {
      transform: translate(-50%, -50%) scale(1) ;
    }
  }

.pigeon-map__hex-info--icon {

    @extend .btn-filter__icon;
    background: none;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    // display: none;

}

.pigeon-map__hex-info--text {

    font-size: $font-size-title;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

.pigeon-map__hex-info--text-unselect {

    font-size: $font-size-hex-unselected;
    font-weight: $font-weight-bold;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    width: 100%;
    margin: auto;
    z-index: $z-index-01;
    cursor: pointer;

}

@media #{$breakpoints-xlarge} {

    .pigeon-center-buttons{

        right: 30px !important;
        top: 150px !important;
        display: block;
        left: auto !important;

        & svg {

         padding: $padding-medium;

        }
        

    }

    .pigeon-attribution {
    bottom: 0 !important;
    }

    .pigeon-center-view {

        height: $map-btns-size-desktop;
        width: $map-btns-size-desktop;
        // padding: $padding-medium;

    }

    .pigeon-zoom-buttons {

        right: 30px !important;
        top: 30px !important;
        display: block;
        left: auto !important;
    
    }
    .pigeon-zoom-in, .pigeon-zoom-out  {

        height: $map-btns-size-desktop !important;;
        width: $map-btns-size-desktop !important;;
        // padding: $padding-medium !important;;
    }
  
}







