.pigeon-click-block {
    g {
        color: aqua;
    }

    svg {
        stroke: black;
    }
}

.pigeon-zoom-buttons {

    right: 10px !important;
    display: block;
    left: auto !important;

}




