.react-timekeeper {

    width: 100% !important;
    border: none !important;
    box-shadow: none !important;

}

.react-timekeeper__clock-wrapper {

    background-color: transparent !important;


}

.react-timekeeper__tb-meridiem{

    @extend .btn-circle ;

    display: none !important;

    background-color: $color-white !important;
    color: $color-black  !important;
    border-color: $color-black !important;
    border: 1px solid $color-black !important;

    padding: $padding-medium  !important;

}

.react-timekeeper__meridiem-toggle {

    @extend .btn ;

    background-color: $color-white !important;
    color: $color-black  !important;
    border-color: $color-black !important;
    border: 1px solid $color-black !important;


}

.react-timekeeper__meridiem--active {

    background-color: $color-black !important;
    color: $color-white  !important;

}

.react-timekeeper__tb-hour {

    color: $color-dark-gray !important;


}

.react-timekeeper__tb-hour--active {
       color: $color-text-over-corporative!important;
    background-color: $color-corporative;
    padding: $padding-xsmall $padding-big;
    border-radius: $border-radius-circle;

}

.react-timekeeper__tb-minute--active {
       color: $color-text-over-corporative !important;
    background-color: $color-corporative;
    padding: $padding-xsmall $padding-big;
    border-radius: $border-radius-circle;

}


.react-timekeeper__top-bar {

    display: flex;


    
}


.react-timekeeper__tb-minute-wrapper {

    margin: unset !important;
}