$list-header-top: 72px;
$list-header-bottom: 140px;
$list-header-padding-top: 242px;

.list {
  height: 100%;
  width: 100%;
  margin: auto;
  max-width: 600px;
  //padding-bottom: $list-header-bottom;
  //padding-top: $list-header-bottom;
  padding: 80px 10px;

  &__go-to-index-btn {
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 200;

    .icon {
      background-color: $color-corporative;
      border-radius: 50%;
      fill: $color-black;
      width: 50px;
      height: 50px;
      padding: 5px;

      &:hover {
        background-color: $color-black;
        border: 2px solid $color-black;
        fill: $color-corporative;

        & .icon {
          fill: $color-corporative;
        }
      }
    }
  }
}

.list-left {

}

@media #{$breakpoints-medium} {
  .list {
    padding-top: $list-header-padding-top; 
    height: 100vh;
    margin: auto;
    padding-bottom: $list-header-bottom;
  }
}
