.marker-button-selector.gray{
    .marker-button__link-tag {
      background: $color-gray;
    }
  }
  
  .marker-button-selector.gray {
    .marker-button__image {
      border-color: $color-gray;
      background-color: $color-gray;
    }
  
    .marker-button__arrow {
      &:after {
        border-top-color: $color-gray;
      }
    }
  }
  

  .btn-filter__icon {
    &.gray {
      border-radius: $btn-border-radius-semicircle;
      background: $color-gray;
    }
  }