
.marker-button-selector.green{
    .marker-button__link-tag {
      background: $color-green;
    }
  }
  
  .marker-button-selector.green {
    .marker-button__image {
      border-color: $color-green;
      background-color: $color-green;
    }
  
    .marker-button__arrow {
      &:after {
        border-top-color: $color-green;
      }
    }
  }
  

  .btn-filter__icon {
    &.green {
      border-radius: $btn-border-radius-semicircle;
      background: $color-green;
    }
  }