
.marker-button-selector.green{
    .marker-button__link-tag {
      background: $color-green;
    }
  }
  
  .marker-button-selector.green {
    .marker-button__image {
      border-color: $color-green;
      background-color: $color-green;
    }
  
    .marker-button__arrow {
      &:after {
        border-top-color: $color-green;
      }
    }
  }
  

  .btn-filter__icon {
    &.green {
      border-radius: $btn-border-radius-semicircle;
      background: $color-green;
    }
  }

// button card color
.card-button-map.green:after{
  content: '';
  border-radius: 0;
  display: inline-block;
  height: $card-button-map-border-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-button-map.green:after {
  background: $color-green;
}


.card-button-list.green:after{
  content: '';
  border-radius: 0;
  display: inline-block;
  height: $card-button-list-border-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: $color-green;
}

.card-button__status .green{
  color: $color-green;
}

.card-button__file.green:after{
  background: $color-green
}