$dropdown-dropdown-border-radius: $border-radius-basic;
$padding-dropdown-options-top: 200px;
.dropdown__dropdown {
  width: 100%;
  height: 3rem;

  background: $color-white;
  border: 1px solid $color-gray-border;
  border-radius: 42px !important;
  box-sizing: border-box;
  color: $color-black;
  padding: $padding-big $padding-big;
  font-size: $font-size-general;
  height: $form-input-height;

  &-header {
    height: rem(48px);
  }
  &-distance
  {
    font-size: .85rem;
  }
  &--hashtag-offer,
  &--hashtag-needed {
    & * {
      // text-transform: lowercase;
    }
  }

}

.dropdown__dropdown:focus {
}
