$picture-width: fit-content;

.picture {
  width: $picture-width;
  margin: auto;
}

.picture__img {
  width: $picture-width;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 100%;

}

@media #{$breakpoints-medium} {
  .picture__img {
    width: $picture-width;
    width: 100%;
    height: 100%;
  }
}
