@use '../variables' as *;

$button-file-modal-height: calc(var(--vh, 1vh) * 100);
$button-file__container-max-width: $grid-column-max-width;


.button-file__modal .button-file__card-button {

    max-width: 500px;
    width: 100%;
    padding: $padding-small;

}

.button-file__modal > .ember-view {

    background-color: transparent;
    box-shadow: none;
    left: 0;
    width: 100%;
    position: absolute;
    height: $button-file-modal-height;


}


.button-file__action-section {

  border-top: 1px $color-ligth-gray dashed; //revise
  background-color: $color-ligth-gray;
  width: 100%;

}

.button-file__message-section {

  border-top: 1px $color-ligth-gray dashed; //revise
  background-color: $color-ligth-gray;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-index-04;
  box-shadow: $box-shadow-divs;


}

.button-file__action-section--field{

  background-color: $color-ligth-gray;
  border-radius: 0 0 $border-radius-basic $border-radius-basic;

}

.button-file__action-section-close {
  
  padding: $padding-medium;
  display: flex;
  justify-content: flex-end;

}



@media #{$breakpoints-medium} {

}


@media #{$breakpoints-xlarge} {


    .button-file__message-section {

      position: fixed;
      width: 600px;
      min-width: 600px;
      top: auto;
      bottom: 10%;
      left: calc(50% - 300px);
      border-radius: $border-radius-basic;
      height: max-content;
      margin-bottom: auto;
      margin: auto;
      box-shadow: $box-shadow-divs;
      transition: $transition-default;

    }

    .button-file__message--closed {

      bottom: -250px; //revise when new message layout is built

    }
      

}