.publish_btn {
    padding: 0;

    .publish_btn-first {

        // padding: 1rem;

    }

    .publish_btn-scd{
        border-top: 1px solid $color-gray-border;
        border-bottom: 1px solid $color-gray-border;
    }
    
    .card-button-list__tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;

        .tags__list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

}


.publish__submit {  
    margin: $margin-big 0;
    margin-bottom: $margin-big;

    .create_btn {
        width: 100%;
        background-color: $color-gray-btn;
        color: $color-white;
        height: 54px;
        font-weight: bold;
        font-size: $font-size-general;
        border-radius: $border-radius-circle;
    }

}

