@use '../variables' as *;

.publish-button {
    padding: 0;

    .publish-button-scd{
        border-top: 1px solid $color-gray-border;
        border-bottom: 1px solid $color-gray-border;
    }
    
    .card-button-list__tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: $padding-small 0;

        .tags__list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
        }
    }

}


.publish__submit {  
    margin: $margin-big 0;

    .create_btn {
        width: 100%;
        background-color: $color-gray-btn;
        color: $color-white;
        height: $height-btn;
        font-weight: bold;
        font-size: $font-size-medium;
        border-radius: $border-radius-circle;
    }

}

@media #{$breakpoints-xlarge} {

    .publish-button {
        display: flex;
        gap: $padding-xbig;
        padding: $padding-xbig;
        max-width: $grid-max-width;
        margin: auto;
        overflow: auto;
        height: calc(100% - $nav-header-height);

    }

    .publish-button__wrapper {

        padding: $padding-big;
    }

  
    
}

