.publish_btn {

    padding: 0;

    .publish_btn-first {

        padding: 1rem;
        border-top: 1px solid $color-gray-border;

    }

    .publish_btn-scd{

        padding: 1rem;
        border-top: 1px solid $color-gray-border;
        border-bottom: 1px solid $color-gray-border;

    }
    
    .card-button-list__tags {
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px 0;
        min-height: 38px;


        .tags__list {

            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            max-width: 100%;
    
            .tags__list-tag {
    
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $color-gray-border;
                margin: 5px;
                padding: 0px 10px;
                border-radius: $border-radius-circle;

                .tag__btn {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: none;

                }

            }

        }

    }

    .tag__input {
    
        width: 150px;
        height: 14px;
        text-align: center;
        padding: 12px;
        margin: 0;

    }

    .publish__submit {  

        margin: 1rem;
        margin-bottom: 35px;

        .create_btn {
            
            width: 100%;
            background-color: $color-gray-btn;
            color: $color-white;
            height: 54px;
            font-weight: bold;
            font-size: $font-size-general;
            border-radius: $border-radius-circle;
    
        }

    }


}