@use '../variables' as *;

.config__title{

  text-align: center;
  margin: $margin-big auto;

}

.config__iframe {
  border-radius: $border-radius-basic;
  text-align: center;
  background-color: transparent;
  height: auto;
  margin: auto;
  margin-top: $padding-small;
  width: flex;
  position: relative;
  overflow: hidden;
}
.config__paypal {
  display:inline-block;
  margin:auto;

}
