@use '../variables' as *;

.faqs__content {

  margin: 0 $margin-xsmall;

}

.faqs__section {

  margin: 0 $margin-small;

}

.faqs__title{

  text-align: center;
  margin: $margin-big auto;

}

.faqs__iframe {
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
  height: auto;
  margin: auto;
  margin-top: $padding-small;
  width: flex;
  position: relative;
  overflow: hidden;
}
.faqs__paypal {
  display:inline-block;
  margin:auto;

}
