@use '../variables' as *;

.recovery {
  height: calc(100vh - 75px);
}

.recovery__header {
  height: 75px;
  background: $color-corporative;
}

.recovery__svg {
  width: 5rem;
  height: auto;
}

.recovery__container {
  min-height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 31.25rem;
  background: $color-corporative;
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 0 0 $border-radius-basic $border-radius-basic;
  padding-top: 0;
  padding-bottom: 0;
}
