@use '../variables' as *;

.button-new-location {
  width: 100%;
}

.button-new-location-map {
  height: 100vh;
  border-radius: $border-radius-basic;
  margin: 0 auto;
}

.button-new-location__content {
  height: 100%;
  border: none;
  padding: 0;
  width: 100%;
  background: none;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

.button-new-location__close-container {
  height: 100%;
  position: absolute;
  top: -5vh;
  z-index: 1;
  width: 100%;
  border: none;
  background: none;
  padding: 0;
}

.button-new-location__content-scroll {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }
}

.button-new-location__body {
  height: auto;
  background: $color-ligth-gray;
  border-radius: 0 0 $border-radius-basic $border-radius-basic;
  max-width: 500px;
  width: 50%;
}

.button-new-location__body--small-height {
  .button-new-location__text {
    font-size: $font-size-medium;
    margin-bottom: 2rem;
  }
}

.button-new-location__body-svg-image {
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 350px;
}

.button-new-location__body-svg-container {
  min-height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: $color-ligth-gray;
}

.button-new-location__option-icon {
  width: 100%;
  height: 100%;
}

.button-new-location__option-icon--filled {
  fill: $color-white;
}

.button-new-location__option-button {
  background: $color-white;
  background-size: 40px;
  color: $color-black;
  align-items: center;
  border: 4px;
  display: flex;
  font-size: $font-size-medium;
  padding: 1.5rem 2rem;
  position: relative;
  transition: background .2s;
  width: 100%;
}

.button-new-location__option-button--filled {
  background: $color-black;
  padding-right: 3.125rem;
  background-size: 40px;
  color: $color-white;
}

.button-new-location__text {
  font-size: $font-size-big;
  margin-bottom: 1rem;
  text-align: left;
}

.button-new-location__options {
  margin: 1rem auto 0;
}

.button-new-location__button-outline {
  outline: none;
}

.button-new-location__next-step-btn {
  max-height: 68px;
  height: 68px;
  line-height: 100%;
  padding: 0;
}

.button-new-location__map {
  width: 100%;
  position: absolute;
  top: 48px;
  height: calc(100% - 48px - 68px);
}

.button-new-location__map-search-bar {
  height: 48px;
  min-height: 50px;
  z-index: 1001;
  position: relative;
  margin: 0 auto;
  width: 50%;
  min-width: 200px;
  top: 65px;

  input {
    border: 1px solid $color-black;
    height: 48px;
  }
}

.button-new-location__map-buttons {
  background: $color-corporative;
  position: absolute;
  width: 100%;
  z-index: 1001;
  top: calc(100% - 68px);
  display: flex;
  border-radius: 0 0 $border-radius-basic $border-radius-basic;

  > button {
    width: 50%;
    height: 100%;

    &:first-child {
      border-radius: 0 0 0 $border-radius-basic;
    }

    &:last-child {
      border-radius: 0 0 $border-radius-basic 0;
    }
  }
}

.button-new-location__map-left-button {
  line-height: 100%;
  position: absolute;
  right: 0;
}

.button-new-location__map-loading-location-text {
  text-align: center;
  width: 100%;
  font-size: $font-size-medium;
  margin-top: $margin-xbig;
}

.button-new-location__loading-spinner,
.button-new-location__loading-spinner * {
  display: inline;

  .loading-overlay__loading-icon {
    margin-top: 0;
  }
}
