@use '../variables' as *;

.button-share {
  height: calc(100% - 48px);
  overflow-y: auto;
  margin-top: $margin-xbig;
  border-radius: $border-radius-basic;
  background: $color-corporative;
}

.button-share-mobile {
  max-height: none !important; // overrides plugin max-height constraint
}

.button-share__button-file {
  margin-top: 0;
  padding-top: 0;
  height: 100%;
  border-radius: $border-radius-basic;
  max-height: 700px;
}

.button-share__content {
  height: auto;
  background: $color-corporative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 50;

  > div {
    margin: 2rem auto 0;
    max-width: 500px;
    width: 100%;
  }
}

.button-share__content-mobile {
  height: 100vh;
  padding-bottom: 3rem;
  background: $color-corporative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 50;

  > div {
    margin: 2rem auto 0;
    max-width: 500px;
    width: 100%;
  }
}

.button-share__tag-container {
  height: 300px;
  width: 450px;
}

.button-share__close-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  border: none;
  background: none;
  padding: 0;
  top: 5vh;
  left: 0;
}

.button-share__body {
  overflow-y: auto;
}

.button-share__body-buttons {
  height: auto;
  background: $color-corporative;
  border-radius: 0 0 $border-radius-basic $border-radius-basic;
}

.button-share__body-svg-image {
  height: 100%;
  width: 100%;
  max-width: 250px;
  max-height: 250px;
}

.button-share__body-svg-container {
  height: 100%;
  background: $color-corporative;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button-share__text {
  font-size: $font-size-big;
  margin: 2rem 0 1rem;
  text-align: center;
  font-weight: bold;
}

.button-share__social-share-buttons-container {
  width: 95%;
  margin: 0 auto;
}

.button-share__share-link {
  display: inline-block;
  height: 70px;
  width: 70px;
  padding: 0 $padding-big;
  border: 2px solid $color-black;
  border-radius: $border-radius-basic;
  margin: $padding-small $margin-xxxsmall 0;

  .icon {
    width: 100%;
    height: 100%;
    fill: $color-black;
  }
}

.button-share__conv-link {
  display: inline-block;
  height: 70px;
  width: 70px;
  padding: 0 $padding-big;
  border: 2px solid $color-corporative;
  border-radius: $border-radius-basic;
  margin: $padding-small $margin-xxxsmall 0;

  .icon {
    width: 100%;
    height: 100%;
    fill: $color-black;
  }
}

.button-share__next-btn {
  border-radius: 0 0 $border-radius-basic $border-radius-basic;
}


@media #{$breakpoints-medium} {

  .button-share {
    height: calc(90vh - 48px);
    max-height: calc(700px - 48px);
    background: none;
  }

  .button-share__button-file {
    margin-top: 0;
    padding-top: 0;
    height: 100%;
    border-radius: $border-radius-basic;
    max-height: 700px;
  }

  .button-share__content {
    max-width: 500px;
    margin-left: calc((100vw - 500px) / 2);
    border-radius: 0 0 $border-radius-basic $border-radius-basic;
    overflow-y: auto;
  }

  .button-share__content--left-align {
    margin-left: 0;
  }

}
