$feed-border-radius: $border-radius-buttons;
$feed-color-gray-border: $color-gray-border;
$feed-post-color: $color-gray;
$feed-padding-card: $padding-small;
$feed-padding: $padding-big;
$feed-height: 58px;
$feed-selector-height: 5.3rem;
$feed-color-corporative: $color-corporative;
$feed-margin-big: $margin-big;
$feed-icon-width: 20px;
$feed-button-width: 47px;
$feed-padding: $padding-medium;
$feed-new-message-radius: $border-radius-circle;



.feed-line {

  display: none;
  // position: absolute; revise
  // height: 100%;
  // width: 10px;
  // background-color: $color-black;
  // margin: 0 auto;
  // left: 50%;
}

.feed-section {

  padding-bottom: calc($footer-height-mobile + $padding-small*4);

}

.feed-section--activity {

  padding-top: $feed-selector-height;
  padding-bottom: calc($footer-height-mobile + $padding-small*4);

}

.feed-selector {
  height: $feed-selector-height;
  width: 100%;
  max-width: $body-max-width;
  background-color: dimgray;
  padding: $padding-big;
}

.feed-selector--activity {
  z-index: $z-index-03;
  position: absolute;
  top: 0;
}

.feed__empty-message {

  width: 100%;
  margin: auto;
  font-size: $font-size-general;
  font-weight: $font-weight-bold;
  display: flex;
  justify-content: center;
  align-items: center;

}

.feed-messages {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__no-messages {
    font-size: $font-size-general;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  &__image {
    width: 40%;
    margin-top: $feed-margin-big;
  }
}

.feeds__new-message {

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $color-white;
  padding: $feed-padding;

}

.feeds__new-message-message {
  flex-grow:1;
  padding: 0 $padding-big;
  margin: auto;

  .form__field {

    margin: 0;

  }

}

.feeds__new-message-input {
  
  border: 1px solid $feed-color-gray-border;
  padding: 0 $feed-padding;

}

.feeds__button {
  border-radius: 50%;
  border: none;

  background: $feed-color-corporative !important;
  width: $feed-button-width;
}

.feeds__icon {
  width: $feed-icon-width !important;
  fill: black !important;
}

.feed-container{
  background: lightgrey;
}

.feed-element{
  padding: $feed-padding-card $feed-padding-card 0 $feed-padding-card;
  color: $feed-post-color;
  border-radius: $feed-border-radius;

  .card-notification__content {
    padding-top: 0;
    
  }
  
}

@media #{$breakpoints-xlarge} {

  .feed-selector--activity {
    max-width: 200px;
  }

}
