@use '../variables' as *;
@use 'list';

$feed-border-radius: $border-radius-buttons;
$feed-color-gray-border: $color-gray-border;
$feed-post-color: $color-gray;
$feed-padding-card: $padding-small;
$feed-padding: $padding-medium;
$feed-selector-height: 5.3rem;
$feed-color-corporative: $color-corporative;
$feed-margin-big: $margin-big;
$feed-icon-width: 20px;
$feed-button-width: 47px;
$feed-padding-bottom: $padding-xbig;

.feed-line {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $padding-xbig;
  align-items: center;
  font-weight: $font-weight-bold;
  color: $color-gray;
  font-size: $font-size-small;
  margin: auto;
  max-width: $grid-max-width--mobile;
  gap: $margin-small;
}

.feed-section {
  padding-bottom: $padding-small;
  min-width: 0;
  width: 100%;
}

.feed-section--activity {
  height: 100%;
}

.feed-section--messages {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 100%;
}

.feed-section__left__header {
  padding: $padding-small $padding-big;
  border-bottom: $border-style-basic;
}

.feed-section__left {
  width: 100%;
}

.feed-section__center {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-04;
}

.feed-section__center--no-select {
  display: none;
}

.feed-section__center__chat-no-select {
  display: none;
}

.feed-section__right {
  display: none;
}

.feed-section__filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: $padding-small;
}

.feed-section__filters--desktop {
  display: none;
}

.feed-section--activity-content {
  overflow-y: auto;
  padding-bottom: calc($footer-height-mobile + 100px);
  background-color: $color-ligth-gray;
  border-radius: $border-radius-basic;
}

.feed-selector {
  height: $feed-selector-height;
  background-color: $feed-color-corporative;
  padding: $padding-big;
  border-bottom: none;
}

.feed-selector--list-toggle {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0;
  background-color: $color-ligth-gray;
}

.feed-selector__toggle-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feed-selector__notif-circle {
  margin-top: $padding-medium;
  margin-right: $padding-medium;
  padding: $padding-medium;
}

.feed__empty-message {
  @extend .list__empty-message;
}

.feed__empty-message--prev {
  @extend .list__empty-message--prev;
}

.feeds__new-message {
  width: 100%;
  padding: $feed-padding;
  padding-top: 0;
  display: flex;
  flex-direction: column;

  .dropdown-select__trigger {
    max-width: 20%;
    margin: $margin-xsmall;
  }

  button {
    margin: $margin-xsmall 0;
    margin-left: auto;
  }
}

.feeds__new-message-message {
  display: block;

  .form__field {
    margin: 0;
  }
}

.feeds__new-message-input {
  border: 1px solid $feed-color-gray-border;
  padding: 0 $feed-padding;
}

.feed__board-container {
  background: $color-ligth-gray;
  display: flex;
  flex-direction: column;
  padding-bottom: $padding-xbig;
}

.feed-element {
  padding: $feed-padding-card $feed-padding-card 0;
  color: $feed-post-color;
  border-radius: $feed-border-radius;
  max-width: 700px;
  margin: auto;

  &:hover {
    cursor: pointer;
  }
}


@media #{$breakpoints-medium} {

  .feed-section__filters {
    display: none;
  }

  .feed-section__filters--desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $padding-medium 0;
    overflow-x: auto;
    overflow-y: hidden;
    height: $header-height-desktop;
    gap: $padding-small;
  }

  .feed-section__right {
    display: flex;
    width: 33vw;
    overflow: auto;
  }

  .feed-section--messages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
  }

  .feed-section__left {
    display: flex;
    flex-direction: column;
    width: 43vw;
  }

  .feed-section__center {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43vw;
    border-left: $border-style-basic;
    border-right: $border-style-basic;
    height: calc(100% - $nav-bottom-height);
  }

  .feed__board-container {
    padding-bottom: $feed-padding-bottom;
  }

  .feed-section {
    padding-bottom: $padding-small;
    max-width: $grid-max-width;
    margin: auto;
  }

  .feed-section__center--no-select {
    display: block;
  }

  .feed-section__center__chat-no-select {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    font-weight: $font-weight-bolder;
    color: $color-gray;
    height: 100%;

    svg {
      width: 50px;
      height: 50px;
    }
  }

}

@media #{$breakpoints-xlarge} {

  .feed-section__left {
    width: 30dvw;
  }

  .feed-section--messages {
    max-width: $grid-max-width;
    margin: auto;
  }

  .feed__board-container {
    padding-bottom: $feed-padding-bottom;
  }

  .feed-section__center {
    height: 100%;
    z-index: $z-index-02;
    width: 45dvw;
  }

}
