.footer__wrapper {

      border-radius: $border-radius-circle $border-radius-circle 0 0 ;

  padding: $padding-huge ;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;
  flex-wrap: wrap;

  justify-content: flex-start ;
  gap: $padding-big;
  

}

.footer__main {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: $margin-small;
  flex-wrap: wrap;

}

.footer__title {

  height: fit-content;
  padding-bottom: $padding-big;

}

.footer__section--attr {

  font-size: $font-size-xsmall;
  color: $color-gray;


}

.footer__links {

  display: flex;
  flex-direction: column;
  padding-bottom: $padding-big;

}

.footer__link {


  padding-bottom: $padding-medium;

}

.footer__link--item {

  &:hover {

    text-decoration: underline;
  }

}

.footer__link-header {

  & .footer__link--item {

    font-weight: $font-weight-bolder;

  }

  pointer-events: none;
  padding-bottom: $padding-medium;


}

@media #{$breakpoints-medium} {

  .footer__wrapper{
      padding: $margin-xbig ;
      padding-left: 10% ;

  }
  .footer__main {
    
    padding-bottom: $margin-xbig;
    margin-right: auto;
    gap: 4em;
  }
}
