.footer__wrapper {

  padding: $padding-huge ;
  background-color: $color-ligth-gray;
  display: flex;
  justify-content: flex-end;

}

.footer__section--attr {

  font-size: $font-size-xsmall;
  color: $color-gray;


}
