$list-container-hide-height: calc($footer-height-mobile - 265px);

///shouldd be the posts list
.list__container {

  display: flex;
  flex-direction: column;
  width: 100%;
  // overflow: hidden;
  height: max-content;
  position: relative;
  // bottom: $footer-height-mobile + $padding-small*2;
  z-index: $z-index-01;
  transition: $transition-default-slow;
  padding-bottom: $footer-height-mobile + $padding-small*2;
}

// .list__container::before {

//   content: "";
//   display: block;
//   height: 5px;
//   background: white;

// }

.list__content {

  display: flex;
  padding-top: $padding-small;
  background-color: $color-ligth-gray;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: $z-index-02;
  height: auto;
  min-height: $card-button-list-height;
  transition: $transition-default-slow;

}


.list__element {

  height: 100%;
  padding-right: $padding-small;

}

.list__empty-message{

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: $padding-big;
  font-size: $font-size-small;

}

.list__empty-message--prev{

 font-weight: $font-weight-bold;

}

.list__empty-message--comment {

  text-align: center;

}

.list__empty-message--create{

  width: 50%;

}

@media #{$breakpoints-xlarge} {

  .list__container {

    height:100%;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    overflow: auto;
    bottom: 0;
    flex-flow: row-reverse;

  }


  .list__content {

    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 4em;

  }

  .list__element {

    height: auto;
    width: 100%;

  }

}
