$list-container-height: 300px;
$list-drag-tab-height: 35px;
$list-container-hide-height: calc($footer-height-mobile - $list-container-height);
$list-order-tabs-bottom: calc($footer-height-mobile + $list-container-height);
$list-container-hide-nohover-height: calc($footer-height-mobile - $list-container-height + 15px);
$list-order-tabs-nohover-bottom: calc($footer-height-mobile + $list-container-height - 40px);


///shouldd be the posts list
.list__container {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  position: relative;
  z-index: $z-index-01;
  transition: $transition-default-slow;
  padding-bottom: calc($footer-height-mobile + 5px);

}


.list__container--full-list {

  // margin-top: $list-drag-tab-height;
  height: 100vh;
  // padding-bottom: 200px;

}

// .list__container::before {

//   content: "";
//   display: block;
//   height: 5px;
//   background: white;

// }

.list__show-map-button {

position: absolute;
 display: flex;
//  bottom: calc($footer-height-mobile + 0.9rem);
 width: auto;
 z-index: $z-index-04;
 right: $padding-big;

 .btn--center {
  // width: 80px;
  padding: $padding-small;
  margin: auto;

 }

}


.list__content {

  display: flex;
  padding: $padding-small $padding-small;
  background-color: $color-ligth-gray;
  z-index: $z-index-02;
  transition: $transition-default-slow;
  align-content: flex-start; /* Add this*/

}

.list__content--row {

  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  min-height: $card-button-list-height + $padding-big + $padding-medium;
  width: 100%;

  .list__element {
  
    max-width: $card-button-list-width;
    height: auto;
    min-width: $card-button-list-width;

  }


}


.list__content--full-screen {

  display: flex;
  // flex-direction: column;
  justify-content: flex-start;

  flex-flow: row wrap;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  margin-bottom: $margin-xbig;
  min-height: none;


  .list__element {

    flex: 1;
    height: auto;
    flex-basis: 100%;
    // min-width: $card-button-list-width;

  }

}

.list__element {

  height: auto;
  // flex-grow: 1;
  flex-basis: 100%;
  padding-right: $padding-xsmall;

}

.list__empty-message{

  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  padding: $padding-big;
  font-size: $font-size-small;

}

.list__empty-message--prev{

 font-weight: $font-weight-bold;

}

.list__empty-message--comment {

  text-align: center;

}

.list__empty-message--create{

  width: 50%;

}

.list__order {

  background-color: $color-corporative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // padding: 0 $padding-medium;
  gap: $padding-small;
  position: relative;
  height: $list-drag-tab-height;

}

.list__order--hidden {

  position: absolute;
  width: 100%;
  // margin-bottom: 80px;

}

.list__order--hide {

  background-color: $color-corporative;

}

//change movement when there's no scrollbar
@media (hover: none) {

  .list__container {
    padding-bottom: calc($footer-height-mobile - 15px);

  }

}

//class for the select order tab when the map is hidden. Impose state
.list__order--full-screen {

  position: relative;
  bottom: auto;
  left: auto;
  border-radius: 0;

}





@media #{$breakpoints-medium} {


}

@media #{$breakpoints-medium} {


  .list__content--full-screen {

  
    .list__element {

      flex: 0;
      flex-basis: 100%;
      min-width: $card-button-list-width;
      // max-width: $card-button-list-width;
  
    }
  
  }

}

@media #{$breakpoints-large} {

  .list__content--full-screen {

  
    .list__element {

      flex: 0;
      flex-basis: 50%;

      min-width: $card-button-list-width;
      // max-width: $card-button-list-width;
  
    }
  
  }


}



@media #{$breakpoints-xlarge} {

  .list__container {

    height:100%;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
    overflow: auto;
    bottom: 0;
    flex-flow: row-reverse;

  }


  .list__content {

    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 4em;
    overflow-x: hidden;

  }

  .list__element {

    height: auto;
    width: 100%;
    flex-basis: 100%;
    min-width: $card-button-list-width;

  }

  .list__content--row {

    .list__element {

      height: auto;
      width: 100%;
      flex-basis: 100%;
      max-width: none;
      min-width: $card-button-list-width;

    }
  }

  .list__order {

    position: relative;
    bottom: auto;
    left: auto;
    border-radius: 0;

  }

}
