@use '../variables' as *;

///shouldd be the posts list
.repository {
  overflow: scroll;
  height: 1000px;
  width: 50%;
  margin-left: 50%;

  & section {
    margin: $margin-big;
  }
}

.repository__h1 {

  font-size: 3rem;
  margin: $margin-big 0;

}

.repository__h2 {

  font-size: 2rem;
  margin: $margin-big 0;


}

.repository__title {

  font-size: 1.5rem;
  margin: $margin-big 0;


}
