// Ofrezco, intercambio, busco..
$border-general-height: 4px;

$border-lines-width: 1px;

// General radius
$border-radius-basic: 8px;
$border-radius-semicircle: 24px;
$border-radius-circle: 34px;

$border-radius-buttons: 42px;
