$margin-exxtra-small: 4px;
$margin-extra-small: 7px;
$margin-small: 20px;
$margin-medium: 25px;
$margin-big: 30px;
$margin-extra-big: 50px;

$proportional-margin-large: 2%;
$proportional-margin-xlarge: 4%;
