.pac-container {
  z-index: 1500;
  border-radius: 25px; //$border-radius-circle este era el padding de antes pero no seria igual a los otrs paddings ya aplicados en caledar y etc...
  &.pac-logo:after {
    display: none;
  }
}

.pac-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
