.component-header {
  z-index: $z-index-02; // Revise
  position: relative;

}

// Avatar
.component-header__user-header-menu {
  background: #343a40;
  padding: 8px;
  border-radius: $border-radius-basic;
  cursor: pointer;
}
