$popup-background: rgba(0,0,0,.2);
$popup-header-height: 80px;
$popup-options-height: 80px;
$popup-options-border-top: 3px $color-black;
$popup-max-width: 540px;
$popup-content-height: calc( 100vh - #{$popup-header-height });
$popup-header-lateral: calc( 100% / 2 - #{$popup-max-width} / 2 );
$popup-header-width: 100%;
$popup-header-icon-width: 20px;
$popup__img-height: 200px;
$popup-comments: 24px;

$popup-paragraph-padding: 1rem 2rem;
$popup-max-height-large: 720px;

body {
  overflow: hidden; // Revise: Adiós Scroll desde el Body
}


.popup {
  // Scroll popup content
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background: $color-white;
  box-shadow: unset;
  padding: 0;
  border-radius: 0;

  // Header Top Content Bottom
  display: flex;
  flex-flow: column;
}

//POPUP HEADERS
.popup__header--trans,
.popup__header {

  width: 100%;
  padding: .5rem;
  height: $popup-header-height;
  border-radius: 25px 25px 0 0;//REVISE SOBRE EL BORDER RADIUS

  border-radius: $border-radius-semicircle $border-radius-semicircle 0 0;//REVISE SOBRE EL BORDER RADIUS
}

.popup__header--trans {
  background: transparent;
}


.popup__header-center {
  flex: 0 1 $popup-header-width;
  text-align: center;
  padding: 0 10px;

  .icon {
    max-width: 100%;
    max-height: 25px;
    height: auto;
  }
}

.popup__header-nav {
}

.popup__header-left {
  @extend .popup__header-nav;
  text-align: left;
}

.popup__header-right {
  @extend .popup__header-nav;
  text-align: right;
}

.popup__header-content {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.popup__header-title  {
  font-size: $font-size-general;

  font-weight: $font-weight-bold;
  color: $color-dark-gray;
  letter-spacing: 2px;
}

.popup__header-button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
  }

  .icon {
    width: $popup-header-icon-width;
    height: auto;
    max-height: 25px;
  }
}

.popup__paragraph {

  font-size: $font-size-general;
  line-height: 1.5rem;
}


.popup__content {

  width: 100%;
  height: 100vh;
  margin-bottom: $footer-height-mobile;
  border-radius: 0 0 $border-radius-semicircle $border-radius-semicircle;//REVISE
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.popup__section {

  padding: 1rem 1rem;

}

.popup__img {

  height: $popup__img-height;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

.popup__map {

  height: 100%;
  overflow: hidden;
  display: flex;

}

.popup__map-input {

  position: absolute;
  margin-top: $margin-big;

}

.popup__close-container {
  width: 100%;
}

.popup__close-overlay {

  height: 100vh;
  position: fixed;
  top: 0;
  z-index: $z-index-base;
  width: 100%;
  border: none;
  background: none;
  padding: 0;

}

.popup__comments,
.popup__options-v,
.popup__options-h {
  display: flex; // Static components
}

.popup__comments {

  padding: $popup-comments;
  overflow-y: auto;
  max-height: 300px;

}

.popups__comments-item {

  background: $color-ligth-gray;
  margin: 8px 0;
  padding: 25px 0;

}

.popup__options-btn {

  display: inline-block;
  background: $color-white;
  height: $popup-options-height;

  text-align: center;
  font-size: $font-size-general;
  line-height: $popup-options-height;
  width: 100%;
  vertical-align: middle;
  border: none;
  border-top: 1px solid $color-gray;

  &:last-child {
  }

  &:focus {
    background: $color-corporative;
  }
  &--stroked {
    stroke: $color-corporative;
    fill: $color-corporative;
    border-color: $color-black;
    background-color: $color-black;
  }
  &:hover {
    fill: $color-corporative;
    border-color: $color-black;
    color: $color-white;
    cursor: pointer;
    background-color: $color-black;
  }
  &:focus {
    box-shadow: none;
  }
}

//Revise:
.popup__options-medium {

  width: 240px;
  margin: 0 auto;

}


.popup__options-btn--icon {

  height: 20px;

}

.popup__options-title {

  display: inline-block;
  text-align: center;
  font-size: $font-size-general;
  line-height: 1.5rem;
  width: 100%;
  vertical-align: middle;
  height: auto;
  margin-bottom: 10px;

}


.popup__options-v {

  flex-flow: column nowrap;

  .popup__options-btn {

    flex: 0 1 50%;

    &:last-child {
      border-radius: 0 0 25px 25px;
    }

  }

}

.popup__options-h {

  //flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: space-between;

  .popup__options-btn {

    flex: 0 1 50%;

    &:first-child {
      border-radius: 0 0 0 25px;
    }

    &:last-child {
      border-radius: 0 0 25px 0;
    }

  }

}

.popup-paragraph {

  text-align: center;
  margin-top: 20px;

}

@media #{$breakpoints-medium} {

  .popup {

    margin: 0 auto;
    max-width: $popup-max-width;

    // Centering
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: transparent;

    //width: auto;//Esto es para movil, pero derrepente podriamos agregar un max-width
  }

  .popup__header,
  .popup__content {

    background: $color-white;
    display: flex;
    flex-direction: column;
    //justify-content: flex-end;
  }

  .popup__header {
    min-height: 44px;
  }

  .popup__content {
    height: auto;
  }

  .popup__section {
    padding: 1rem 2rem;
  }


  .popup__options-h {

    flex-flow: row nowrap;
    align-items: flex-end;


  }

  .popup__options-v {
    flex-flow: column nowrap;
    &:last-child {//REVISE
      border-radius: 0 0 25px 25px;//REVISE
    }
  }
}
