@import "~@fontsource/nunito/index.css";
@import "~@fontsource/nunito/700.css";
@import "~@fontsource/nunito/400.css";

$font-family-first: 'Nunito', sans-serif;;
$font-family-second: 'Worksans', sans-serif;

$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-xsmall: 10px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-general: 16px;
$font-size-title: 18px;
$font-size-huge: 32px;


$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
