@import "~@fontsource/nunito/index.css";
@import "~@fontsource/nunito/700.css";
@import "~@fontsource/nunito/400.css";
@import "~@fontsource/quicksand/300.css";
@import "~@fontsource/quicksand/500.css";
@import "~@fontsource/quicksand/600.css";
@import "~@fontsource/quicksand/700.css";

$line-height-regular: 1.1rem;
$font-family-first: 'quicksand', sans-serif;
$font-family-second: 'Worksans', sans-serif;

$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 600;
$font-weight-bolder: 800;

$font-size-xsmall: 10px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-big: 18px;
$font-size-xbig: 23px;
$font-size-xxbig: 29px;
$font-size-xxxbig: 40px;

$font-sans-serif: Poppins, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
