$grid-padding-mobile: 20px;
$grid-height-svg-forms: 30%;
$gutter: 12px;
$grid-max-width: 784px;
$grid-max-width--mobile: 93vw;
$grid-width: 90%;
$header-height-mobile: 70px;
$header-height-desktop: 70px;
$list-width-desktop: 50vw;
$list-width-mid-desktop: 60vw;
$footer-height-mobile: calc(60px + $padding-small*2);

//standard heights
$height-btn: 54px;
$height-filter: 35px;
$height-field: 80px;
$height-false:90px;
$height-wide-image: 200px;

.grid {
  padding-left: $grid-padding-mobile;
  padding-right: $grid-padding-mobile;
}

.grid-one__column-mid-element {
  margin-bottom: $margin-small;
}

.grid-three {
  width: 100%;
  display: block;
}

.grid-three__column {
  width: auto;
  margin: auto;
  display: flex;
}

.grid__label {
  padding: .5rem 0;
}
