$margin-xxxsmall: 2px;
$margin-xxsmall: 4px;
$margin-xsmall: 9px;
$margin-small: 20px;
$margin-medium: 25px;
$margin-big: 30px;
$margin-xbig: 50px;

$proportional-margin-large: 2%;
$proportional-margin-xlarge: 4%;
