$margin-xxxsmall: 2px;
$margin-xxsmall: 4px;
$margin-xsmall: 9px;
$margin-small: 20px;
$margin-medium: 25px;
$margin-big: 30px;
$margin-xbig: 50px;
$margin-xxbig: 10%;

$proportional-margin-big: 2%;
$proportional-margin-xbig: 4%;
