.header {
  height: 80px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.header__nav {
  ul {
    li {
      list-style: none;
      display: inline;
      margin: 0 1em;
    }
  }
}

.header__logoContainer {
  span {
    margin: 0 .5em;
  }
}

.header__logo {
  margin: 0 1em;
}


