<div class='container'>
    {{#if subject}}
    <p class='title'>{{subject}}</p>
    {{/if}}
    <p class='thanks'></p>
    {{content}}
    
    <p><a href='{{link}}'>{{linkCaption}}</a> </p>
  </div>