<div class='container'>
    {{#if subject}}
    <p class='title'>{{subject}}</p>
    {{/if}}
    <p class='thanks'></p>
    {{message}}
    
    {{#if link}}
      <p><a href='{{link}}'>{{linkCaption}}</a> </p>
    {{/if}}
</div>