<div class='footer'>
  <p>
    To unsubscribe, <a href='{{hostName}}/Unsubscribe?email={{to}}'>click here</a>.
    <br>
    Read our <a href='{{hostName}}/Faqs'>Privacy Policy</a>.
    <br>
    &copy; 2023 Helpbuttons. All rights reserved.
  </p>
</div>