<div class='footer'>
  <p>
    To unsubscribe, <a href='{{url}}/Unsubscribe?email={{to}}'>click here</a>.
    <br>
    Read our <a href='{{url}}/Faqs'>Privacy Policy</a>.
    <br>
    powered by <a href="https://helpbuttons.org">helpbuttons</a>, <a href="https://github.com/helpbuttons/helpbuttons/blob/main/LICENSE">GNU Affero General Public License v3.0</a>
  </p>
</div>