
/* Style the buttons that are used to open and close the accordion panel */
.accordion {

  @extend .btn;

  margin: 0 0 $margin-big 0;

  cursor: pointer;
  transition: $transition-default;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: $z-index-base;
  white-space: nowrap;
  // display: block;
  left: 0;
  text-align: left;
  
}

.accordion--open {

  border-radius:  $border-radius-circle $border-radius-circle 0 0;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panel {

  padding: $padding-huge;

  background-color: $color-ligth-gray;
  height: auto;
  margin: -40px 0 $margin-small 0;
  border-radius: 0  0 $border-radius-circle $border-radius-circle;
  display: block;
  overflow: hidden;
  border: dashed $color-ligth-gray 1px;
  white-space: pre-wrap;

}






.accordion--toggle {
  background: #e0e0e0;
  border: #e5e5e5 1px solid;
  border-radius: 42px;
  color: black;
  font-size: $font-size-medium;
  font-weight: bold;
  height: 3.125rem;
  padding-left: 1rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
  margin-bottom: 1.2rem;
}

.accordion--toggle--grey-bordered {
  border-color: #0e0e0e;
}

.accordion--content {
  padding: 1rem;
}

.accordion--content:last-child {
  margin-bottom: 1.2rem;
}

.accordion--title {
  font-size: $font-size-general;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.9rem;
}

.accordion--paragraph {
  font-size: $font-size-general;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.accordion--text--with-img {
  font-size: $font-size-general;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.9rem;
}

.accordion__img {
  max-width: 200px;
  margin: 1rem 0rem;
}

.accordion__img--big {
  max-width: 600px;
  width: 100%;
  margin: 1rem 0rem;
}

.accordion__list__title {
  font-size: $font-size-general;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.9rem;
}

.accordion__list__list {
  font-size: $font-size-general;
  margin-bottom: 1rem;
  line-height: 1.2rem;
}

.accordion__icon--big {
  max-width: 300px;
  width: 100%;
  margin: 1rem 0rem;
}

.highlight,h3,h2 {
  font-weight: $font-weight-bold;
}

li,ol,ul,h2 {
  padding: $padding-medium;
}

