$avatar-border-radius: $border-radius-circle;
$avatar-big-max-width: 68px;
$avatar-small-max-width: 30px;
$avatar-medium-max-width: 50px;

.avatar {

  overflow: hidden;
  position: relative;

}

.avatar-big {

  @extend .avatar;
  border-radius: $avatar-border-radius;
  max-width: $avatar-big-max-width;
  max-height: $avatar-big-max-width;
  height: $avatar-big-max-width;
  width: $avatar-big-max-width;
  min-height: $avatar-big-max-width;
  min-width: $avatar-big-max-width;
  display: flex;
  justify-content: center;

}

.avatar-medium {

  @extend .avatar;
  border-radius: $avatar-border-radius;
  max-width: $avatar-medium-max-width;
  max-height: $avatar-medium-max-width;
  height: $avatar-medium-max-width;
  width: $avatar-medium-max-width;
  min-height: $avatar-medium-max-width;
  min-width: $avatar-medium-max-width;
  display: flex;

  justify-content: center;


}

.avatar-medium--home {

  @extend .avatar-big;
  color: $color-black;
  border-style: solid;
  object-fit: cover;
  overflow: hidden;
  border-width: 7px;



}

.avatar-small {

  @extend .avatar;
  border-radius: $avatar-border-radius;
  max-width: $avatar-small-max-width;
  max-height: $avatar-small-max-width;
  width: $avatar-small-max-width;
  height: $avatar-small-max-width;
  width: $avatar-small-max-width;
  min-height: $avatar-small-max-width;
  min-width: $avatar-small-max-width;
  justify-content: center;
  display: flex;

}
