$checkbox-content-border: $border-lines-width;
$checkbox-filter-padding: 3rem;
$checkbox-height: $height-btn;
$checkbox-medium-height: 40px;
$checkbox-border-radius: $border-radius-circle;
$checkbox-color: $color-white;
$checkbox-color-text: $color-black;
$checkbox-color-text-hover: $color-white;
$checkbox-color-hover: $color-gray;
$checkbox-color-text-checked: $color-white;
$checkbox-color-checked: $color-black;
$checkbox-color-gray-border: $color-gray-border;

.checkbox {
  width: 100%;
  background: none;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.checkbox__label {
  display: block;
  width: 100%;
}

.checkbox__filter-label {
  display: block;
  width: auto;
}

.checkbox__netIcon {
  width: fit-content;

  &_icon {
    height: fit-content !important;
    width: fit-content !important;
  }
}

//envelope class for checkboxes
.checkbox__container {
  width: auto;
  background: none;
  border: none;
  padding: 0;
  height: $checkbox-height;
  display: flex;
  flex: 0 0 auto;

  // flex: 1;
  &:focus {
    outline: none;
  }
}

//class that includes checkbox STYLED content
.checkbox__content {

  @extend .btn-with-icon;

  background: $checkbox-color;
  border: $checkbox-content-border solid $color-gray-border;
  display: flex;
  font-size: $font-size-medium;
  position: relative;
  height: $checkbox-height;
  transition: background 0.2s;
  width: auto;
  color: $checkbox-color-text;
  min-width: 150px;
  border-radius: 42px;
  box-sizing: border-box;

}

.checkbox__content--bordered {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.checkbox__content--disabled {
  //revise
  background: $color-ligth-gray;
}


//CHECKBOX FOR FILTERS - SMALL CHECKBOXES IN MENUS AND HEADER - EXTENDED FROM btn-FILTER

.checkbox-filter__container {
  width: auto;
  background: none;
  border: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex: 0 0 auto;

  // flex: 1;
  &:focus {
    outline: none;
  }
}

.checkbox-filter__content {
  @extend .btn-filter;

  color: $checkbox-color-text;
  transition: background 0.2s;

  &--bordered {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
}

.checkbox-filter__content:hover {
  cursor: pointer;
}

///-- RREST OF CHECKBOX


.checkbox__content:hover {
  cursor: pointer;
  background: $checkbox-color-hover;
  color: $checkbox-color-text-hover;

  & svg {
    fill: $checkbox-color-text-hover;
  }
}

.checkbox__icon {
  @extend .btn-filter__icon;

}

.checkbox__text {
  @extend .btn-with-icon__text;
  margin-bottom: 0;
}

///CLASS FOR CHECKBOX ITSELF AND MODIFIED INNER CONTENT FOR DIFFERENT STATES

.checkbox__checkbox {
  display: none;

  &:checked + .checkbox__content {
    background: $checkbox-color-checked;
    background-size: 40px;
    color: $checkbox-color-text-checked;
    min-width: 150px;

    & svg {
      fill: $checkbox-color-text-hover;
    }
  }

  &:checked + .checkbox__content::before {
    background-size: 80%;
  }
}

///CLASS FOR CHECKBOX-FILTER ITSELF AND MODIFIED INNER CONTENT FOR DIFFERENT STATES

.checkbox-filter__checkbox {
  display: none;

  &:checked + .checkbox-filter__content {
    background: $checkbox-color-checked;
    color: $checkbox-color-text-checked;

    .icon {
      fill: $checkbox-color-text-checked;
    }
  }

  &:checked + .profile-buttons__checkbox {
    background: $checkbox-color-checked;
    color: $checkbox-color-text-checked;
  }

  &:checked + .checkbox__content::before {
    background: transparent;
  }
}

@media #{$breakpoints-xxlarge} {

}
