$drag-tab-height: 35px;
$drag-tab-width-desktop: 44px;
$drag-tab-height-desktop: 200px;
$drag-tab-card-height: $card-button-list-height;
$drag-tab-bottom-height: $footer-height-mobile + $padding-small*2;
$drag-tab-bottom: calc(#{$drag-tab-card-height} + #{$drag-tab-bottom-height} - #{$drag-tab-height});
$drag-tab-line-height: 5px;
$drag-tab-line-height-desktop: 100px;
$drag-tab-line-left-desktop: 20px;
$drag-tab-line-position-desktop: calc(50% - 50px);
$drag-tab-icon-size: 25px;

.drag-tab {

  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $drag-tab-height;
  background-color: $color-corporative;
  margin: 0;
  z-index: $z-index-01;
  margin-bottom: calc( $footer-height-mobile + 70px);
  // padding: $padding-small $padding-small;
  border-radius: $border-radius-circle $border-radius-circle;
  // transform: translateY(-35px);
  transition: $transition-default-slow;

  // margin-right: $margin-small;


  :hover {

    cursor: pointer;

  }

}



.drag-tab--hide{

 display: none  ;

}

.drag-tab__line {

  position: absolute;
  display: flex;
  border-radius: $border-radius-circle;
  margin: $margin-xsmall auto;
  background-color: $color-gray;
  width: 20%;
  margin: auto;
  height: $drag-tab-line-height;
  left: calc(50% - 10%);
  top: $margin-xsmall;

}


.drag-tab__order {

  margin: $margin-small;

}

.drag-tab__list {
}

.drag-tab__icon {

  display: flex;
  flex: 1;

  svg {
    transition: $transition-no;
    // transform: rotate(-90deg);
    transform-origin: 50% 50%;
    width: $drag-tab-icon-size;
    height: $drag-tab-icon-size;
  }

}

.drag-tab__counter {

  margin: auto;
  font-size: $font-size-small;
  
}


@media #{$breakpoints-xlarge} {
  .drag-tab {

    display: flex;
    right: auto;
    position: fixed;
    width: auto;
    flex-direction: row-reverse;
    height: auto;
    left: calc($index-content-left--distance + 20px);
    top: 140px;
    border-radius: $border-radius-circle;
    cursor: pointer; /* fallback if grab cursor is unsupported */
    padding: $padding-small;
    transition: $transition-default-slow;
    transform: translateY(0px);
    box-shadow: $box-shadow-on-map


  }

  .drag-tab--open::after {
    content: "";
  }

  .drag-tab--open {

    border-radius: 0 $border-radius-circle $border-radius-circle 0;
    left: 0;

  }

  .drag-tab__line {

    display: none;

  }

  .drag-tab__icon {

    display: flex;

    svg {
      transform: rotate(0deg);
      width: $drag-tab-icon-size;
      height: $drag-tab-icon-size;
    }


  }

}

@media #{$breakpoints-xxlarge} {

  .drag-tab {
   
    left: calc($index-content-left--distance + 20px);
    margin-bottom: 5px;

  }

  .drag-tab--open {
    left: 0;

  }

}