$drag-tab-height: 35px;
$drag-tab-width-desktop: 44px;
$drag-tab-height-desktop: 200px;
$drag-tab-card-height: $card-button-list-height;
$drag-tab-bottom-height: $footer-height-mobile + $padding-small*2;
$drag-tab-bottom: calc(#{$drag-tab-card-height} + #{$drag-tab-bottom-height} - #{$drag-tab-height});
$drag-tab-line-height: 5px;
$drag-tab-line-height-desktop: 100px;
$drag-tab-line-left-desktop: 20px;
$drag-tab-line-position-desktop: calc(50% - 50px);
$drag-tab-icon-size: 25px;

.drag-tab {

  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $drag-tab-height;
  background-color: $color-white;
  margin: 0;
  z-index: $z-index-03;
  padding: $padding-small;
  border-radius: $border-radius-circle $border-radius-circle 0 0 ;
  transform: translateY(-35px);
  -webkit-transform:translate3d(0,0,0);
  transition: $transition-default-slow;

  :hover {

    cursor: pointer;

  }

}

.drag-tab__line {

  // position: relative;
  // display: flex;
  // border-radius: $border-radius-circle;
  // margin: $margin-xsmall auto;
  // background-color: $color-ligth-gray;
  // width: 20%;
  // height: $drag-tab-line-height;
  display: none;

}

.drag-tab--open {
  

}

.drag-tab__icon {

  display: flex;

  svg {
    transition: $transition-no;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    width: $drag-tab-icon-size;
    height: $drag-tab-icon-size;
  }

}

.drag-tab__counter {

  margin: auto;
  font-size: $font-size-small;
  
}


@media #{$breakpoints-xlarge} {
  .drag-tab {

    position: fixed;
    width: auto;
    flex-direction: row-reverse;
    
    height: auto;
    left: 35%;
    bottom: 60px;
    border-radius: 0 $border-radius-circle $border-radius-circle 0;
    cursor: pointer; /* fallback if grab cursor is unsupported */
    padding: $padding-small;
    transition: $transition-default-slow;
    z-index: $z-index-02;
    transform: translateY(0px);

  }

  .drag-tab--open {

    left: 0;

  }

  .drag-tab__line {

    display: none;

  }

  .drag-tab__icon {

    display: flex;

    svg {
      transform: rotate(0deg);
      width: $drag-tab-icon-size;
      height: $drag-tab-icon-size;
    }


  }

}
