@use '../variables' as *;
@use 'btn';

$dropdown-dropdown-border-radius: $border-radius-basic;
$padding-dropdown-options-top: 200px;
$dropdown-height: $form-input-height;
$dropdown-width: auto;
$dropdown-max-width: 10rem;

.dropdown-select {
  width: 100%;
}

.dropdown-select__trigger {

  text-align: left;
  font-size: $font-size-medium;
  
  overflow-x: hidden;
  height: $form-input-height;
  width: auto;
  margin: $margin-xsmall 0;
  border: $border-lines-width solid $color-gray-border;
  border-radius: 2rem;
  background: $color-white;
  color: $color-black;
  transition: all 0.2s ease-in-out;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  &::before {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-white;
  }
  &:active {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-ligth-gray;
  }

}

.dropdown-select__container {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 100px;
  // max-width: 200px;
}

.dropdown-select__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #666;
  font-size: 18px;
}

.dropdown-select-with-icon {
  padding-left: 35px;
  width: 100%;
}

@media #{$breakpoints-medium} {

  .dropdown-select__container {
    max-width: unset;
  }


}
