$dropdown-dropdown-border-radius: $border-radius-basic;
$padding-dropdown-options-top: 200px;
$dropdown-height: $form-input-height;
$dropdown-width: auto;
$dropdown-max-width: 30rem;

.dropdown__dropdown {

  text-align: left;
  overflow-x: hidden;
  font-size: $font-size-general;
  height: $form-input-height;
  padding: 0 $padding-big;
  width: 100%;
  border: $checkbox-content-border solid $color-gray-border;
  border-radius: 2rem;
  background: $color-white;
  color: $color-black;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-white;
  }
  &:active {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-ligth-gray;
  }

}

.dropdown__filter {
  @extend .btn-filter;
  text-align: left;
  line-height: auto;
}

.dropdown__friend-net {

  max-width: 100% !important;

}

.dropdown__userTag {

  flex: 0.8;
  max-width: 100% !important;
  margin-right: 2rem;

}

.dropdown__icon {

  min-width: 25px;
  height: 25px;
  margin: 5px;

}



$dropdown-bck: #f0f0f0;

.dropdown__dropdown-trigger {
  text-align: left;
  overflow-x: hidden;
  height: $form-input-height;
  padding: 0 $padding-big;
  margin: $margin-xsmall 0;
  background: $color-white;
  color: $color-black;
  transition: all 0.2s ease-in-out;
  font-size: $font-size-general;
  width: 100%;
  border-radius: 8px;
  background: $dropdown-bck;
  border-right: 24px solid $dropdown-bck; // ñapa enorme.

  &:hover {
    cursor: pointer;
  }

  &:focus {
    cursor: pointer;
  }
  &:active {
    cursor: pointer;
  }

}


.dropdown__dropdown-trigger--list {

  text-align: left;
  overflow-x: hidden;
  height: auto;
  padding: $padding-small $padding-medium;
  padding-right: 1.5rem;
  width: inherit;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  background: transparent;
  color: $color-black;

  transition: all 0.2s ease-in-out;
  font-size: $font-size-general;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;



  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-white;
  }
  &:active {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-ligth-gray;
  }

}

.dropdown__dropdown-content {

    width: 100%;
    margin-top: 10px;
    text-align: center;
    max-height: 150px;
    overflow-y: auto;

    position: absolute;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;

}

.dropdown__dropdown-option {

  display: block;
  cursor: pointer;
  width: 100%;
  background: white;
  border: unset;
  border-radius: $border-radius-semicircle; //REVISE


}

.dropdown__create-new-button {

  padding: 0 $padding-big;//Revise: de 16px a 18px
  height: $form-input-height;

  & button {
    color: var(--network-text-color);
    border: none;
    background: transparent;
    height: 100%;
    &:hover {
      color: var(--network-text-color);
      text-decoration: underline;
    }
  }

  & span:hover {
    cursor: pointer;
    color: white;
  }

}


@media #{$breakpoints-xxlarge} {

  .dropdown__dropdown-trigger {

    display: flex;
    max-width: auto;
    min-width: $dropdown-width;
    // margin-left: $margin-small;

  }

}
