@use '../variables' as *;
@use 'btn';

$dropdown-dropdown-border-radius: $border-radius-basic;
$padding-dropdown-options-top: 200px;
$dropdown-height: $form-input-height;
$dropdown-width: auto;
$dropdown-max-width: 30rem;

.dropdown__dropdown {

  text-align: left;
  overflow-x: hidden;
  font-size: $font-size-medium;
  height: $form-input-height;
  padding: 0 $padding-big;
  width: 100%;
  border: $checkbox-content-border solid $color-gray-border;
  border-radius: 2rem;
  background: $color-white;
  color: $color-black;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-white;
  }
  &:active {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-ligth-gray;
  }

}

.dropdown__filter {
  @extend .btn-filter;
  text-align: left;
  line-height: auto;
}



$dropdown-bck: $color-white;

.dropdown__dropdown-trigger {
  text-align: left;
  overflow-x: hidden;
  padding: 0 $padding-big;
  color: $color-black;
  transition: all 0.2s ease-in-out;
  font-size: $font-size-medium;
  width: 100%;
  border: transparent;
  border-radius: $border-radius-basic;
  background-position-x: 10%;
  height: $form-input-height;
  border-right: $padding-big solid transparent;
  background: $dropdown-bck;
  padding-right: 1rem;
  outline: $border-style-basic;


  &:hover {
    cursor: pointer;
  }

  &:focus {
    cursor: pointer;
  }
  &:active {
    cursor: pointer;
  }

}


.dropdown__dropdown-trigger--list {

  text-align: left;
  overflow-x: hidden;
  height: auto;
  padding: $padding-small $padding-medium;
  width: auto;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  color: $color-black;
  font-weight: $font-weight-bold;
  background-color: $color-white;
  transition: all 0.2s ease-in-out;
  font-size: $font-size-medium;
  background-repeat: no-repeat;
  border: $border-style-basic;

  -moz-appearance: none;
  -webkit-appearance: none;

  &:-ms-expand {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-white;
  }
  &:active {
    cursor: pointer;
    border-radius: $border-radius-circle;
    background: $color-ligth-gray;
  }

}

.dropdown__dropdown-content {

    width: 100%;
    margin-top: 0;
    max-height: 150px;
    overflow-y: auto;
    position: relative;
    border-radius: 0 0 $border-radius-basic $border-radius-basic;
    border-top: none;
    padding: 0;

    

}

.dropdown__dropdown-option {

  display: block;
  font-size: $font-size-small;
  width: 100%;
  background: $color-white;
  border: unset;
  border-radius: 0; 
  padding: $padding-medium;

  &:hover {
    background-color: $color-ligth-gray;
    cursor: pointer;
  }


}
.dropdown__dropdown-option-wrapper--add-location {
  background-color: $color-white;
  border-radius: $border-radius-basic $border-radius-basic 0 0;
  overflow: hidden;

  & hr {
    margin: 0;
  }

}

.dropdown__dropdown-option--add-location {

  background-color: $color-corporative;
  color: $color-text-over-corporative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $padding-medium;
  font-weight: $font-weight-bold;

}

@media #{$breakpoints-xxlarge} {

  .dropdown__dropdown-trigger {

    display: flex;
    width: 100%;
    min-width: $dropdown-width;
    // margin-left: $margin-small;

  }

}
