$form-input-height: 54px;
$form-input-width: 100%;
$form-field-max-width: 100%;
$form-input-padding: $padding-big;
$form-input-font-size: $font-size-medium;
$form-input-border-radius: $border-general-height;

.form {
  * {
    box-sizing: border-box;
  }
}


.form__section-title {


font-weight: $font-weight-bold;
font-size: $font-size-title;
margin: $margin-medium 0;

}

.form__label, .form__section-title {
  z-index: $z-index-base;
  top: 7px;
  left: 24px;
  font-size: $font-size-general;
  font-weight: bold;

  &:first-letter {
    text-transform: uppercase;
  }

}

.form__section-title {

  font-size: $font-size-title;

}

.form__explain {
  z-index: $z-index-base;
  color: $color-gray;
  top: 7px;
  left: 24px;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  height: auto;

  &:first-letter {
    text-transform: uppercase;
  }
}


//form de la home
.form__search {

  color: $color-gray;
  font-size: $font-size-general;
  margin: 0;
  line-height: 0;
  width: auto;
  display: block;
  padding: $padding-huge $padding-medium $padding-small $padding-medium;
  border: 0;
  // border-radius: 0;
  transition: $transition-default;

  &:focus {
  }

  &:hover {
    background: $color-ligth-gray;
  }

  & span {
    display: none;
  }
}


.form__search--time,
.form__search--tags,
.form__search--localization {
  text-indent: 4px;
}


.form__field {
  max-width:$form-field-max-width;
  font-size: $font-size-medium;
  margin-bottom: 24px;
}

.form__field--noMargin {
  margin-bottom: 0;
}

.form__input--slider {
  
  margin: $margin-big;

}

.form__field-dropdown--input-location {

  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 60px;
  // background-color: $color-white;
  // padding: $padding-small 0;
  gap: $padding-small;

  button {

    margin: $margin-xsmall 0;

  }

}

.form__field-dropdown--location {

  position: absolute;
  z-index: $z-index-06;
  width: 100%;

}

.form__field--location-wrapper {
  position: relative;
  min-height: 90px;
}

.form__field--feed {
  display: flex;
  max-width: 100%;
  padding: .5rem .5rem;
  font-size: $font-size-medium;
}

.form__field--feed button {
  background: $color-corporative;
  border: none;
  width: 69px;
  //height: 47px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form__input,
.form__explain,
.form__label {

  width: 100%;

}


.form__explain,
.form__label {

  margin-bottom: $margin-xsmall;

}

//REVISE DE LAS CLASES DEL INPUT
.form__input {

  background: $color-white;
  border: $border-lines-width solid $color-gray-border;
  border-radius: $form-input-border-radius;
  box-sizing: border-box;
  color: $color-black;
  padding: $padding-big $padding-big;
  font-size: $font-size-general;
  height: $form-input-height;
  text-overflow: ellipsis;

  & ul {

    width: 100%;

  }

  &:focus {

    border-color: $color-gray;

  }

  &.round {

    border-radius: $border-radius-circle;

  }


}

.form__input__field {
  margin: $margin-xsmall 0;
}


.form__input--edit-address {
  border: 1px solid $color-corporative;
}

.form__input--dropdown-search {

  @extend .form__input;
  display: flex;
  flex-direction: row;

}

.form__input--dropdown-search__input {

  height: 100%;
  width: 100%;
  
}


.form__input--text-length {

  font-size: $font-size-small;
  display: block;
  position: relative;
  margin: $margin-small 0;
  color: $color-gray;
  bottom: 1rem;
  left: 0.3rem;
  height: 0;
  
}


//react select plugin styles modification //REVISE
.form__input--plugin {

  @extend .form__input;

  padding: 0;
  border: none;

  .css-13cymwt-control {

    height: $form-input-height;
    padding-left: $form-input-padding;

  }

  .css-1fdsijx-ValueContainer {

    height: $form-input-height;
    padding: 0;

  }

  .css-t3ipsp-control, .css-hlgwow {

    height: $form-input-height;
    padding-left: $form-input-padding;

  }

  .css-1nmdiq5-menu {

    position: absolute;
    z-index: $z-index-06;
    
  }

  #react-select-13-listbox {

    z-index: $z-index-06;
    position: absolute;

  }

}

.form__input-tags {

  @extend .form__input;
  // padding: $padding-small;
  & ul {
    // overflow-x: scroll;
    // overflow-y: hidden;
    // white-space: nowrap;

    display: flex;
    flex-flow: row wrap;
    padding: .25rem 0 0 0;
  }

  & li {
    @extend .hashtag;
    display: inline-block;

  }

  & .button-counter {
    display: none;
  }

  & span {
    display: none;
  }

}

.form__input-tags--offer {

  & li {
    @extend .hashtag--offer;
  }

}

.form__input-tags--need {

  & li {
    @extend .hashtag--need;
  }

}

.form__tags-list {
        
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
  // margin-bottom: $margin-big;
  // min-height: 38px;

  .tags__list {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    font-size:small;

    .tags__list-interest__selected {

      background-color: $color-dark-gray;
      color: white;

    }

    .tags__list-interest, .tags__list-interest__selected {
        @extend .hashtag;
      
    }
    
    .tags__list-tag {

        background-color: $color-gray;
        color: white;
        & svg {

          fill: $color-white;
        }

        .tag__btn{

          background-color: $color-dark-gray;
          display: flex;
          margin-left: $padding-small;
          border-radius: $border-radius-circle;


          & :hover {

            cursor: pointer;

            & svg {

              fill: $color-white;
            }

          }

        }

        .tag__btn svg {

            & :hover {

              cursor: pointer;
  
            }

        }

    }

  }

}

.form__list--button-type-field {

display: flex;
flex-direction: column-reverse;
width: 100%;

}

.form__list-item--button-type-field {

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
  margin-bottom: $margin-small;
  
  }

.form__button-type-section {

  display: flex;
  flex-direction: column;
  flex: 1;
  
  }

.form__input--button-type-field {

  display: flex;
  flex-direction: column;
  width: stretch;
  margin-bottom: $margin-small;
  gap: $margin-small;
  border-radius: $border-radius-circle;
  border: 1px $color-gray dashed;
  padding: $padding-big;
  // padding-bottom: 0;

}


.form__input--button-type-field .form__field {
  flex-basis: 100%; /* Take 60% of the width */
  margin-bottom: 0;
}

.form__options-v {

  flex-flow: column nowrap;
  justify-content: center;
  margin: $margin-small auto !important;

  .form__options-btn {
    margin: $margin-small auto !important;

  }
}

.form__options-h {

  display: flex;
  align-items: center;

  .form__options-btn {
    flex: 0 1 50%;

  }

}

.form__options-text {

  display: flex;
  text-align: center;
  align-items: center;
  margin: $margin-medium;

}


.form__options-btn {

  margin: 0 $margin-small !important;
  width: 80% !important;

  &:focus {
    background: $color-corporative;
  }

  &:hover {
    fill: $color-corporative;
    border-color: $color-black;
    color: $color-white;
    cursor: pointer;
    background-color: $color-black;
  }

  &:focus {
    box-shadow: none;
  }

}


///DARK BACKGROUND
.form__input--dark-bg {

  @extend .form__input;
  border-radius: $border-radius-circle;
  border-color: transparent;
  color: $color-black;

  &:focus {

    border-color: $color-gray;

  }

}


.form__input-subtitle {

  display: flex;
  justify-content: space-between;


}

.form__input-subtitle--text,
.form__input-subtitle-option  {

  margin: 0 0 $margin-xxsmall $margin-small;
  font-size: $font-size-small;
  display: flex;
  gap: $padding-small;
  flex-direction: row;

  &:hover {

    cursor: pointer;

  }

}

.form__input-subtitle-side {

  display: flex;
  flex-direction: column;

}

.form__input-subtitle--error {

  @extend .form__input-subtitle--text;
  color: $color-red;

}


.form__input-subtitle--grayed {

  color: $color-gray;

}

.form__image-upload-wrapper {

  @extend .form__field;

}



.form__image-upload-preview--wrap {

  position: relative;
  height: auto;
  display: block;
  margin: $margin-xsmall 0;
  display: flex;
  flex-wrap: wrap;
  gap: $padding-big;

}

.form__image-upload-preview--image {

  height: 90px;
  width: 90px;
  margin: $margin-xsmall;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: $border-radius-semicircle;

  img {

    height: 100%;
    width: auto;

  }

}

.form__image-upload-preview--file {

  position: relative;
  height: auto;
  width: 90px;

}

.form__image-upload--remove-icon {

  @extend .btn-circle;

  position: absolute !important;
  margin: auto;
  height: 20px;
  padding: $padding-small;
  width: 20px;
  bottom: 0;
  right: 0;
  bottom: -20px;
  right: -20px;
  
}

.form__input--location-loading {
  display: flex;
  align-items: center;

}

@media #{$breakpoints-medium} {

  .form__input--button-type-field {

    // flex-direction: row;
    padding-bottom: $padding-big;

  }

  .form__field--feed button {
    width: 60px;
  }

  .form__options-h {
    justify-content: space-between;
  }

}
