@use '../variables' as *;

$hashtag-margin-x: $margin-xsmall;
$hashtag-busca-background: $color-red;
$hashtag-ofrece-background: $color-green;
$hashtag-padding-xsmall: $padding-xsmall;
$hashtag-color-corporative: $color-corporative;
$hashtag-color-white: $color-white;
$hashtag-color-black: $color-black;
$hashtag-color-gray: $color-gray;

.hashtag {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: fit-content;
  border-radius: $border-radius-semicircle;
  padding: 0.1rem $padding-medium;
  font-size: 0.9rem;
  border: 2px solid $hashtag-color-gray;
  text-decoration: none;
  margin: 0 $hashtag-margin-x $hashtag-margin-x 0;
  text-transform: capitalize;
  color: $color-dark-gray;
  background-color: transparent;
  word-break: keep-all;
  hyphens: none;

  svg {
    background-color: transparent;
  }
}

.hashtag--yellow {
  background-color: $hashtag-color-corporative;
  color: $hashtag-color-black;
  border: none;
}

.hashtag--yellow-home {
  background-color: $hashtag-color-black;
  color: $hashtag-color-corporative;
}

.hashtag--need {
  background-color: $hashtag-busca-background;
}

.hashtag--offer {
  background-color: $hashtag-ofrece-background;
}

.hashtag--white {
  background-color: $hashtag-color-white;
  color: $hashtag-color-black;

  &:hover {
    background-color: $hashtag-color-gray;
    color: $hashtag-color-white;
  }
}

.hashtag--blue {
  background-color: var(--network-accent-color);
  color: $color-white;
  border: none;
}

.hashtag--badge {
  background-color: $color-corporative;
  color: $color-text-over-corporative;
  pointer-events: none;
  border: none;
}

.hashtag--with-icon {
  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  gap: $hashtag-padding-xsmall;
  align-items: center;
  width: auto;
  border-radius: $border-radius-semicircle;
  padding: 0.3rem 1rem 0.3rem 0.4rem;

  svg {
    height: 15px;
    width: 15px;
    background-color: transparent;
    padding: 0;
  }
}

.hashtag:hover {
  color: $hashtag-hover-color;
  cursor: pointer;
  text-decoration: none;
  background: $hashtag-color-gray;
}

.hashtag--not-interactive {
  pointer-events: none;
}

.hashtag--suggestion {
  position: relative;
  margin-top: $padding-medium;
  background-color: $color-dark-gray;
  color: $color-ligth-gray;
  border-color: $color-dark-gray;
}
