$hashtag-color: $color-white;
$hashtag-back-color: $color-gray;
$hashtag-border-radius: $border-radius-semicircle;
$hashtag-hover-color: $color-white;
$hashtag-padding-x: $padding-big;
$hashtag-margin-x:$margin-xsmall;
$hashtag-padding-y: $padding-small;
$hashtag-busca-background: $color-red;
$hashtag-ofrece-background: $color-green;
$hashtag-padding-big: $padding-big;
$hashtag-padding-xsmall: $padding-xsmall;
$hashtag-color-corporative: $color-corporative;
$hashtag-color-white: $color-white;
$hashtag-color-black: $color-black;
$hashtag-color-gray: $color-gray;
$hashtag-color-l-gray: $color-med-gray;

.hashtag {

  display: flex;
  vertical-align: middle;
  align-items: baseline;
  width: fit-content;
  border-radius: $border-radius-semicircle;
  padding: 0.1rem $padding-medium 0.1rem $padding-medium;

  font-size: $font-size-general;
  // line-height: 1rem;
  border: 2px solid $hashtag-color-gray;
  text-decoration: none;
  margin: 0 $hashtag-margin-x $hashtag-margin-x 0;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: $hashtag-color-gray;
  background-color: transparent;
  word-break: keep-all;

  &--yellow {
    background-color: $hashtag-color-corporative;
    color: $hashtag-color-black;
    border: none;
  }

  &--blue {
    background-color: var(--network-text-color);
    color: $color-white;
    border: none;
  }

  &--yellow-home {
    background-color: $hashtag-color-black;
    color: $hashtag-color-corporative
  }
  &--need {
    background-color: $hashtag-busca-background;
  }
  &--offer {
    background-color: $hashtag-ofrece-background;
  }
  &--white {
    background-color: $hashtag-color-white;
    color: $hashtag-color-black;
    &:hover {
      background-color: $hashtag-color-gray;
      color: $hashtag-color-white;
    }
  }

  & svg {
    height: 10px;
    width: 10px;

    background-color: $hashtag-color-gray;
    padding: $hashtag-padding-xsmall;
    // border-radius: $hashtag-border-radius;
  }
}

.hashtag--with-icon {

  display: flex;
  vertical-align: middle;
  justify-content: flex-start;
  gap: $hashtag-padding-xsmall;
  padding-left: $hashtag-padding-xsmall;
  align-items: center;
  width: auto;
  border-radius: 24px;
  padding: 0.3rem 1rem 0.3rem 0.4rem;

  & svg {
    height: 15px;
    width: 15px;

    background-color: transparent;
    padding: 0;
  }
  
}



.hashtag--green-home {
  background: $hashtag-ofrece-background;
}

.hashtag:hover {
  color: $hashtag-hover-color;
  cursor: pointer;
  text-decoration: none;
  background: $hashtag-color-gray;
}
