@use '../variables' as *;

$icon-color-white: $color-white;
$icon-color-corporative: $color-corporative;
$icon-font-size: $font-size-medium;
$icon-position-pixel: -20px;

.icon {
  width: 100%;
  height: auto;
}
