$radio-content-border: $border-lines-width;
$radio-filter-padding: 3rem;
$radio-height: $height-btn;
$radio-medium-height: 40px;
$radio-border-radius: $border-radius-circle;
$radio-color: $color-white;
$radio-color-text: $color-black;
$radio-color-text-hover: $color-white;
$radio-color-hover: $color-gray;
$radio-color-text-checked: $color-white;
$radio-color-checked: $color-black;
$radio-color-gray-border: $color-gray-border;
$radion-label-min-width: 235px;
$radion-label-min-width-mobile: 100px;

//frame div for erasing any style and warrantee 100% space FOR all radio buttons
.radio {

  width: 100%;
  background: none;
  flex-flow: row wrap;
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: $padding-small;

  &:focus {
    outline: none;
  }
}

//label div for enclosing all radio button elements
.radio__label {
    flex: 0 0 auto;          /* Prevents buttons from growing or shrinking */
    min-width: $radion-label-min-width-mobile; /* Ensures buttons have a minimum width */

  .radio__content {
    margin-top: $margin-xxsmall;
    gap: $padding-medium; 
  }
}

// (same but for filters, smaller buttons)
.radio__filter-label {
  display: block;
  width: auto;
}

//CHANGE: PROVISIONAL CLASS NAME FOR ICON , STUDY CHANGES
.radio__netIcon {
  width: fit-content;

  &_icon {
    height: fit-content !important;
    width: fit-content !important;
  }
}

//envelope class for radios input
.radio__container {
  width: auto;
  background: none;
  border: none;
  padding: 0;
  height: $radio-height;
  display: flex;
  flex: 0 0 auto;

  // flex: 1;
  &:focus {
    outline: none;
  }
}

//class that includes radio STYLED content after input div
.radio__content {

  background: $radio-color;
  border: $radio-content-border solid $color-gray-border;
  font-size: $font-size-medium;
  position: relative;
  height: $radio-height;
  transition: background 0.2s;
  color: $radio-color-text;
  min-width: 150px;
  border-radius: 42px;
  box-sizing: border-box;

  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 12px;
}

.radio__content--bordered {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.radio__content--disabled {
  //revise
  background: $color-ligth-gray;
}

//radio elements FOR FILTERS - SMALL radioES IN MENUS AND HEADER - EXTENDED FROM btn-FILTER
.radio-filter__container {
  width: auto;
  background: none;
  border: none;
  padding: 0;
  height: 100%;
  display: flex;
  flex: 0 0 auto;

  // flex: 1;
  &:focus {
    outline: none;
  }
}

.radio-filter__content {
  @extend .btn-filter;

  color: $radio-color-text;
  transition: background 0.2s;

  &--bordered {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
  }
}

.radio-filter__content:hover {
  cursor: pointer;
}

///-- REST OF radio
.radio__content:hover {
  cursor: pointer;
  background: $radio-color-hover;
  color: $radio-color-text-hover !important;

  & svg {
    fill: $radio-color-text-hover;
  }
}

.radio__icon {
  @extend .btn-filter__icon;
}

.radio__text {
  @extend .btn-with-icon__text;
  margin-bottom: 0;
}

///CLASS FOR radio input ITSELF AND MODIFIED INNER CONTENT FOR DIFFERENT STATES

.radio__radio {
  display: none;

  &:checked + .radio__content {
    background: $radio-color-checked;
    background-size: 40px;
    color: $radio-color-text-checked;
    min-width: 150px;

    & svg {
      fill: $radio-color-text-hover;
    }
  }

  &:checked + .radio__content::before {
    background-size: 80%;
  }
}

///CLASS FOR radio input -FILTER ITSELF AND MODIFIED INNER CONTENT FOR DIFFERENT STATES
.radio-filter__radio {
  display: none;

  &:checked + .radio-filter__content {
    background: $radio-color-checked;
    color: $radio-color-text-checked;

    .icon {
      fill: $radio-color-text-checked;
    }
  }

  &:checked + .profile-buttons__radio {
    background: $radio-color-checked;
    color: $radio-color-text-checked;
  }

  &:checked + .radio__content::before {
    background: transparent;
  }
}

@media #{$breakpoints-medium} {

  .radio__label{

    min-width: $radion-label-min-width; /* Ensures buttons have a minimum width */

  }


}
