//Revise: Esto puede ir en un breakpoint



  ::-webkit-scrollbar {
    display: block;
    width: auto;
    height: 12px;
  
  }
  ::-webkit-scrollbar-thumb {
    background: $color-ligth-gray;
    scrollbar-width: thin;
    border-radius: 16px;
    width: 16px;
    background: url('https://www.pngjoy.com/pngl/41/952512_hamburger-icon-menubuttom-hamburger-menu-icon-white-transparent.png') $color-gray;
    background-size:8px 16px;
    background-repeat:no-repeat;
    background-position:center;
    
  }
  ::-webkit-scrollbar-thumb:hover{
    background: $color-dark-gray;
    cursor: pointer;

  }
  ::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
    scrollbar-width: thin;
    box-shadow: none;
    width: 1px;
    height: 1px;
    cursor: pointer;

  }

  *::-webkit-scrollbar-track:hover{
    cursor: pointer;

  }

  *::-webkit-scrollbar-track-piece {
    background-color: transparent;
    display: none;
  }

  .info-overlay__container::-webkit-scrollbar {
    // display: none;
    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  
  }


@media (hover: none) {

  ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
  }

}

@media #{$breakpoints-xlarge} {

  ::-webkit-scrollbar {
    display: block;
    -ms-overflow-style: auto;  /* IE and Edge */
    scrollbar-width: auto;  
  }


}