body,
html {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

body {
  color: $color-black;

  font-size: $font-size-general;
  font-weight: normal;
  height: 100%;
  width: 100%;
  //display: table;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  > .ember-view {
    height: 100%;
  }
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
}

* {
  &:focus,
  &:active {
    outline: none;
  }
}

textarea, input, button {//REVISE

}

/*
::-moz-selection {
  background: $color-corporative;
  color: $color-white;
}

::selection {
  background: $color-corporative;
  color: $color-white;
}
*/
