<!DOCTYPE html>
<html lang='en'>
{{> head pageTitle="Activate account"}} <!-- Include the head partial here -->
<body>
  <div class='container'>
    <p class='title'>Welcome to Network Name</p>
    <p class='thanks'>Thank you for choosing our network!</p>
    <p>Click <a href='{{activationUrl}}'>here</a> to activate your account</p>
  </div>
  {{> footer}} <!-- Include the footer partial here -->
</body>
</html>
