<!DOCTYPE html>
<html lang='en'>
{{> head}} <!-- Include the head partial here -->
<body>
    {{#list activities}}
     <div class='container'>
        <p class='thanks'></p>
        {{content}}
    
        <p><a href='{{link}}'>{{linkCaption}}</a> </p>
     </div>
    {{/list }}
  {{> footer}} <!-- Include the footer partial here -->
</body>
</html>
