<div class='footer'>
  <p>
    To unsubscribe, <a href='{{unsubscribeUrl}}'>click here</a>.
    <br>
    Read our <a href='{{privacyPolicyUrl}}'>Privacy Policy</a>.
    <br>
    &copy; 2023 Helpbuttons. All rights reserved.
  </p>
</div>