<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Login Email</title>
  <style>
    /* General Styles */
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0; /* Light gray background */
    }

    /* Container Styles */
    .container {
      text-align: center;
      padding: 20px;
      font-size: 18px; /* Font size adjusted */
      background-color: #fff; /* White container background */
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
    }

    /* Title Styles */
    .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    /* Thank You Styles */
    .thanks {
      font-size: 14px;
      color: #888;
      margin-bottom: 20px;
    }

    /* Link Styles */
    .container a {
      color: #0066cc;
      text-decoration: none;
      border-bottom: 1px solid #0066cc;
      transition: border-color 0.3s;
    }

    .container a:hover {
      border-color: #004080; /* Darker blue link underline on hover */
    }

    /* Footer Styles */
    .footer {
      text-align: center; /* Align the text to the center */
      margin-top: 20px;
      font-size: 12px;
      color: #666;
    }
  </style>
</head>
<body>
  <div class='container'>
    <p class='title'>Welcome to Network Name</p>
    <p class='thanks'>Thank you for choosing our network!</p>
    <p>Click <a href='{{activationUrl}}'>here</a> to login to your account</p>
  </div>
  <div class='footer'>
    <p>
      To unsubscribe, <a href='{{unsubscribeUrl}}'>click here</a>.
      <br>
      Read our <a href='{{privacyPolicyUrl}}'>Privacy Policy</a>.
      <br>
      Made with &copy; <a href='http://helpbuttons.org'>Helpbuttons</a>. All rights reserved.
    </p>
  </div>
</body>
</html>
