<!DOCTYPE html>
<html lang='en'>
{{> head}} <!-- Include the head partial here -->
<body>
  <div class='container'>
    <p class='title'>{{subject}}</p>
    <p class='thanks'></p>
    {{content}}
    
    <p><a href='{{link}}'>{{linkCaption}}</a> </p>
  </div>
  {{> footer}} <!-- Include the footer partial here -->

</body>
</html>
