<!DOCTYPE html>
<html lang='en'>
{{> head}} <!-- Include the head partial here -->
<body>
  {{> logo}}
  <div class="container">
  {{> activity}}
  </div>

  {{> footer}} <!-- Include the footer partial here -->
</body>
</html>
