<!DOCTYPE html>
<html lang='en'>
{{> head pageTitle="New Notification"}} <!-- Include the head partial here -->
<body>
  <div class='container'>
    <p class='title'>New Notification</p>
    <p class='thanks'></p>
    {{content}}
    
    <p>Click here to open this <a href='{{link}}'>button</a></p>
  </div>
  {{> footer}} <!-- Include the footer partial here -->

</body>
</html>
